In [9]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [10]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [14]:
Query='''


select *
from `cio-datahub-enterprise-pr-183a.ent_cust_intractn.bq_ffh_dbm`
where cmpgn_cd='HBUR' 

'''

In [15]:
DF=extract_bq_data(bq_client, sql=Query)

In [16]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 81 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   seg_id                   4846 non-null   object
 1   cmpgn_id                 4846 non-null   object
 2   lang_cd                  4846 non-null   object
 3   seg_desc                 0 non-null      object
 4   vndr_cd                  4846 non-null   object
 5   vndr_cd_desc             4846 non-null   object
 6   cntct_med                4846 non-null   object
 7   cntct_med_desc           4846 non-null   object
 8   ctrl_flg                 4846 non-null   object
 9   creative_cd              4846 non-null   object
 10  creative_grp             0 non-null      object
 11  creative_desc            0 non-null      object
 12  in_hm_dt                 4846 non-null   datetime64[ns, UTC]
 13  rqst_id                  4846 non-null   object
 14  lob_cd                   4846 non-null   object
 15  lob_desc                 4846 non-null   object
 16  seg_cd                   0 non-null      object
 17  trtmt_cd                 0 non-null      object
 18  offr_cd                  0 non-null      object
 19  audit_cd                 4846 non-null   object
 20  camp_seg_del_ind         4846 non-null   object
 21  camp_seg_create_ts       4846 non-null   datetime64[ns, UTC]
 22  camp_seg_last_updt_ts    4846 non-null   datetime64[ns, UTC]
 23  pull_dt                  4846 non-null   datetime64[ns, UTC]
 24  excl_cntrct_strat        4846 non-null   object
 25  journey_seq_id           0 non-null      object
 26  journey_parent_id        0 non-null      object
 27  trkg_src                 4846 non-null   object
 28  trkg_cd                  4846 non-null   object
 29  list_num                 4846 non-null   object
 30  list_gen_stat            4846 non-null   object
 31  cmpgn_catgy              4846 non-null   object
 32  cmpgn_catgy_desc         4846 non-null   object
 33  cmpgn_cd                 4846 non-null   object
 34  cmpgn_cd_desc            4846 non-null   object
 35  one_src_link             0 non-null      object
 36  cmpgn_desc               4846 non-null   object
 37  cmpgn_typ                4846 non-null   object
 38  cmpgn_typ_desc           4846 non-null   object
 39  data_prime               4846 non-null   object
 40  bus_prime                4846 non-null   object
 41  camp_desc_audit_cd       0 non-null      object
 42  camp_desc_del_ind        4846 non-null   object
 43  camp_desc_create_ts      4846 non-null   datetime64[ns, UTC]
 44  camp_desc_last_updt_ts   4846 non-null   datetime64[ns, UTC]
 45  em_mstr_dl               4846 non-null   object
 46  sms_mstr_dl              0 non-null      object
 47  trkg_id                  4846 non-null   Int64
 48  camp_ts                  4846 non-null   datetime64[ns, UTC]
 49  ffh_cust_id              4846 non-null   object
 50  ffh_ban                  4846 non-null   object
 51  subsc_num                3944 non-null   object
 52  email_id                 4846 non-null   object
 53  addr_id                  4757 non-null   object
 54  fms_addr_id              4846 non-null   object
 55  lang_pref_cd             0 non-null      object
 56  first_nm                 4846 non-null   object
 57  crtc_cmplnc_dt           0 non-null      dbdate
 58  sent_ts                  0 non-null      datetime64[ns, UTC]
 59  camp_comm_audit_cd       4846 non-null   object
 60  camp_comm_del_ind        4846 non-null   object
 61  camp_comm_create_ts      4846 non-null   datetime64[ns, UTC]
 62  camp_comm_last_updt_ts   4846 non-null   datetime64[ns, UTC]
 63  tel_num                  4846 non-null   object
 64  mob_cust_id              0 non-null      object
 65  mob_ban                  4329 non-null   object
 66  ai_seg_id                0 non-null      Int64
 67  predict_convrsn          0 non-null      float64
 68  bus_prod_instnc_id       4846 non-null   object
 69  bus_prod_instnc_src_id   4846 non-null   Int64
 70  bus_cust_id              4846 non-null   object
 71  bus_cust_src_id          4846 non-null   Int64
 72  bus_bacct_num            4846 non-null   Int64
 73  bus_bacct_num_src_id     4846 non-null   Int64
 74  bus_pp_catlg_itm_cd      4846 non-null   object
 75  bus_pp_catlg_itm_src_id  4846 non-null   Int64
 76  src_create_dt            4846 non-null   dbdate
 77  create_ts                4846 non-null   datetime64[ns, UTC]
 78  create_user_id           4846 non-null   object
 79  last_updt_ts             4846 non-null   datetime64[ns, UTC]
 80  last_updt_user_id        4846 non-null   object
dtypes: Int64(7), datetime64[ns, UTC](12), dbdate(2), float64(1), object(59)
memory usage: 3.0+ MB

In [17]:
DF['in_hm_dt'].value_counts()

2022-11-30 00:00:00+00:00    4846
Name: in_hm_dt, dtype: int64

In [22]:
DF['creative_cd'].value_counts()

ADCNOUSEINCON11.30.2    1906
ADCLOWUSEINCON11.30.    1697
ADCNOUSEOOC11.30.22     1243
Name: creative_cd, dtype: int64

In [26]:
DF['cmpgn_typ_desc'].value_counts()

SHS    4846
Name: cmpgn_typ_desc, dtype: int64

In [25]:
pd.DataFrame(DF.groupby(['creative_cd','ctrl_flg']).agg(
    
    Customer_count= ('bus_bacct_num','nunique'),
    # # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
    # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
).reset_index())

            creative_cd ctrl_flg  Customer_count
0  ADCLOWUSEINCON11.30.        N            1608
1  ADCLOWUSEINCON11.30.        Y              89
2  ADCNOUSEINCON11.30.2        N            1813
3  ADCNOUSEINCON11.30.2        Y              93
4   ADCNOUSEOOC11.30.22        N            1168
5   ADCNOUSEOOC11.30.22        Y              75

In [23]:
config= bigquery.job.LoadJobConfig()

# config._properties['timePartitioning'] = {'field': 'Month_Year'}
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'SHS.SHS_GTM_ADC_UseCases_30Nov2022'

bq_table_instance= bq_client.load_table_from_dataframe(DF, Table_BQ,job_config=config)

/opt/conda/lib/python3.8/site-packages/google/cloud/bigquery/_pandas_helpers.py:558: UserWarning: Pyarrow could not determine the type of columns: seg_desc, creative_grp, creative_desc, seg_cd, trtmt_cd, offr_cd, journey_seq_id, journey_parent_id, one_src_link, camp_desc_audit_cd, sms_mstr_dl, lang_pref_cd, mob_cust_id.
  warnings.warn(