In [154]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [155]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [159]:
Query='''

DECLARE _end_dt_snpsht DATE DEFAULT '2022-11-30';
DECLARE _mnth_snpsht DATE DEFAULT '2022-11-01';


WITH date_sql as (

select date_trunc(date_sub(_end_dt_snpsht, interval -1 month), month) as first_date_next_month,
last_day(date_sub(_end_dt_snpsht, interval -1 month), month) as last_date_next_month

)


,ADC_data AS(
  SELECT
    customer_id,
    dealer_customer_id,
    ADT_site_no,
    Best_partices_1,
    Best_partices_2,
    Best_partices_3,
    Best_partices_4,
    Best_partices_5,
    Best_partices_6,
    Best_Practice_All,
    Best_Practice_All_flag,
    number_days_arming_disarming,
    Arming_Consistency,
    number_of_login_days,
    Login_Consistency,
    Segment,
    TC_Last3M_count_BroadbandCommFailure,
    TC_Last3M_count_CameraNotCommunicating,
    TC_Last3M_count_CameraNotReachable,
    
    
    CASE
      WHEN account_type_name='Standalone' THEN 'Smart_Camera'
      WHEN account_type_name='Awareness and Automation' THEN 'Smart_Automation_Plus'
    ELSE
    'Monitored'
  END
    AS Package
  FROM
    `divgpras-pr-579355.ADC_Feature_Datastore.ADC_Master_Data`
  WHERE
    Month_Snapshot=_mnth_snpsht
    AND dealer_name='ADT by TELUS')
    





, ADT_Deacts as


(

select site_no,1 as ADT_Churn_Flag
from `divgpras-pr-579355.ADT.ADT_Churn_Oct_Dec_2022`

where date(CHURN_DATE) >= (select first_date_next_month from date_sql) and date(CHURN_DATE)<= (select last_date_next_month from date_sql)

)


select * from ADC_data as ADC
left join ADT_Deacts ADT_churn
on ADC.ADT_site_no=ADT_churn.site_no


'''

In [160]:
DF=extract_bq_data(bq_client, sql=Query)

In [161]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99645 entries, 0 to 99644
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   customer_id                             99645 non-null  Int64
 1   dealer_customer_id                      99645 non-null  object
 2   ADT_site_no                             99645 non-null  float64
 3   Best_partices_1                         99645 non-null  float64
 4   Best_partices_2                         99645 non-null  float64
 5   Best_partices_3                         99645 non-null  float64
 6   Best_partices_4                         99645 non-null  float64
 7   Best_partices_5                         99645 non-null  float64
 8   Best_partices_6                         99645 non-null  float64
 9   Best_Practice_All                       99645 non-null  float64
 10  Best_Practice_All_flag                  99645 non-null  float64
 11  number_days_arming_disarming            99645 non-null  Int64
 12  Arming_Consistency                      99645 non-null  float64
 13  number_of_login_days                    99645 non-null  Int64
 14  Login_Consistency                       99645 non-null  float64
 15  Segment                                 99645 non-null  object
 16  TC_Last3M_count_BroadbandCommFailure    99645 non-null  float64
 17  TC_Last3M_count_CameraNotCommunicating  99645 non-null  float64
 18  TC_Last3M_count_CameraNotReachable      99645 non-null  float64
 19  Package                                 99645 non-null  object
 20  site_no                                 842 non-null    Int64
 21  ADT_Churn_Flag                          842 non-null    Int64
dtypes: Int64(5), float64(14), object(3)
memory usage: 17.2+ MB

In [162]:
DF.head()

,customer_id,dealer_customer_id,ADT_site_no,Best_partices_1,Best_partices_2,Best_partices_3,Best_partices_4,Best_partices_5,Best_partices_6,Best_Practice_All,...,Arming_Consistency,number_of_login_days,Login_Consistency,Segment,TC_Last3M_count_BroadbandCommFailure,TC_Last3M_count_CameraNotCommunicating,TC_Last3M_count_CameraNotReachable,Package,site_no,ADT_Churn_Flag
0,1061341,321293,700287739.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,Disengaged,2.0,0.0,0.0,Monitored,<NA>,<NA>
1,2304595,ACG1012D95,700388849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,Disengaged,15.0,0.0,0.0,Monitored,<NA>,<NA>
2,2347379,ACG10145BC,700398849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,Disengaged,0.0,0.0,0.0,Monitored,<NA>,<NA>
3,2510058,,700396580.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,Disengaged,0.0,0.0,0.0,Monitored,<NA>,<NA>
4,2722756,acg1032179,700393707.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,Disengaged,0.0,0.0,0.0,Monitored,<NA>,<NA>

In [163]:
DF['ADT_Churn_Flag'].sum()

842

In [164]:
DF.fillna(0,inplace=True)

In [165]:
DF['ADT_Churn_Flag'].value_counts(normalize=True)*100

0    99.155
1     0.845
Name: ADT_Churn_Flag, dtype: Float64

In [166]:
DF['Arming_Consistency'].value_counts(normalize=True)*100

0.000000      36.842792
100.000000    16.708315
3.333333       5.779517
96.666667      4.205931
6.666667       3.692107
93.333333      2.491846
10.000000      2.126549
13.333333      1.896733
90.000000      1.853580
16.666667      1.543479
86.666667      1.502333
20.000000      1.439109
83.333333      1.378895
23.333333      1.277535
80.000000      1.272517
76.666667      1.216318
26.666667      1.201264
30.000000      1.156104
73.333333      1.130012
70.000000      1.024637
66.666667      0.999548
33.333333      0.981484
53.333333      0.963420
36.666667      0.953385
60.000000      0.928295
56.666667      0.925285
46.666667      0.918260
50.000000      0.910231
40.000000      0.908224
43.333333      0.900196
63.333333      0.872096
Name: Arming_Consistency, dtype: float64

In [167]:
def Arming_category_making(row):
    
    if row['Arming_Consistency']==0:
        return 'Arming_0%'
    elif row['Arming_Consistency']>0 and row['Arming_Consistency']<=20 :
        return 'Arming_0_20%%'
    elif row['Arming_Consistency']>20 and row['Arming_Consistency']<=50 :
        return 'Arming_20_50%%'
    elif row['Arming_Consistency']>50:
        return 'Arming_50_more%'
    else:
        return "None_of_Above"

In [168]:

DF['Arming_category']=DF.apply(Arming_category_making,axis=1)

In [169]:
DF['Arming_category'].value_counts(normalize=True)*100

Arming_50_more%    37.473029
Arming_0%          36.842792
Arming_0_20%%      16.477495
Arming_20_50%%      9.206684
Name: Arming_category, dtype: float64

In [170]:
DF['Login_Consistency'].value_counts(normalize=True)*100

0.000000     36.798635
92.857143    19.474133
3.571429      6.057504
7.142857      3.824577
10.714286     2.710623
89.285714     2.607256
14.285714     2.227909
17.857143     1.860605
85.714286     1.779317
21.428571     1.665914
82.142857     1.574590
25.000000     1.485273
78.571429     1.432084
28.571429     1.415023
32.142857     1.349792
75.000000     1.340760
71.428571     1.262482
35.714286     1.242411
67.857143     1.210297
64.285714     1.161122
39.285714     1.117969
42.857143     1.117969
53.571429     1.069798
60.714286     1.060766
57.142857     1.059762
50.000000     1.049727
46.428571     1.043705
Name: Login_Consistency, dtype: float64

In [171]:
def login_category_making(row):
    
    if row['Login_Consistency']==0:
        return 'Login_0%'
    elif row['Login_Consistency']>0 and row['Login_Consistency']<=20 :
        return 'Login_0_20%%'
    elif row['Login_Consistency']>20 and row['Login_Consistency']<=50 :
        return 'Login_20_50%%'
    elif row['Login_Consistency']>50:
        return 'Login_50_more%'
    else:
        return "None_of_Above"

In [172]:
DF['Login_category']=DF.apply(login_category_making,axis=1)

In [173]:
DF['Login_category'].value_counts(normalize=True)*100

Login_0%          36.798635
Login_50_more%    35.032365
Login_0_20%%      16.681218
Login_20_50%%     11.487782
Name: Login_category, dtype: float64

In [174]:
# DF['Telus_Churn_Flag'].value_counts()

In [175]:
# DF['Telus_Churn_Flag'].value_counts(normalize=True)*100

In [176]:
# DF['Telus_Churn_Flag'].fillna(0,inplace=True)

In [177]:
# DF['Telus_Churn_Flag'].value_counts(normalize=True)*100

In [178]:
DF.head()

,customer_id,dealer_customer_id,ADT_site_no,Best_partices_1,Best_partices_2,Best_partices_3,Best_partices_4,Best_partices_5,Best_partices_6,Best_Practice_All,...,Login_Consistency,Segment,TC_Last3M_count_BroadbandCommFailure,TC_Last3M_count_CameraNotCommunicating,TC_Last3M_count_CameraNotReachable,Package,site_no,ADT_Churn_Flag,Arming_category,Login_category
0,1061341,321293,700287739.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,Disengaged,2.0,0.0,0.0,Monitored,0,0,Arming_0%,Login_0%
1,2304595,ACG1012D95,700388849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,Disengaged,15.0,0.0,0.0,Monitored,0,0,Arming_0%,Login_0%
2,2347379,ACG10145BC,700398849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,Disengaged,0.0,0.0,0.0,Monitored,0,0,Arming_0%,Login_0%
3,2510058,,700396580.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,Disengaged,0.0,0.0,0.0,Monitored,0,0,Arming_0%,Login_0%
4,2722756,acg1032179,700393707.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,Disengaged,0.0,0.0,0.0,Monitored,0,0,Arming_0%,Login_0%

In [179]:
# DF.to_csv('SHS_Churn_Analysis_OCT2022.csv',index=False)

In [180]:
DF['ADT_site_no'].value_counts()

0.0            288
700287739.0      1
90954.0          1
100230064.0      1
700140660.0      1
              ...
200381715.0      1
200377109.0      1
100279459.0      1
700080960.0      1
200380347.0      1
Name: ADT_site_no, Length: 99358, dtype: int64

In [181]:
DF['customer_id'].value_counts()

11915305    3
11147250    3
7860928     3
8853169     3
12408722    3
           ..
4073387     1
6170447     1
3597322     1
2520394     1
8326589     1
Name: customer_id, Length: 99416, dtype: Int64

In [182]:
DF['customer_id'].count()

99645

In [183]:
# DF['Telus_Internet_customers'].value_counts()

In [184]:
# DF['Telus_Internet_customers'].value_counts(normalize=True)

In [185]:
DF['TC_Last3M_count_BroadbandCommFailure_flag']=DF['TC_Last3M_count_BroadbandCommFailure'].apply(lambda x: 1 if x>0 else 0)
DF['TC_Last3M_count_CameraNotCommunicating_flag']=DF['TC_Last3M_count_CameraNotCommunicating'].apply(lambda x: 1 if x>0 else 0)
DF['TC_Last3M_count_CameraNotReachable_flag']=DF['TC_Last3M_count_CameraNotReachable'].apply(lambda x: 1 if x>0 else 0)
DF['TC_Last3M_count_BroadbandCommFailure_morethan5_flag']=DF['TC_Last3M_count_BroadbandCommFailure'].apply(lambda x: 1 if x>5 else 0)

In [186]:
DF_monitored=DF[DF['Package']=='Monitored']

In [187]:
# DF_monitored['Telus_Internet_customers'].value_counts(normalize=True)

In [188]:
DF_monitored.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99637 entries, 0 to 99644
Data columns (total 28 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   customer_id                                          99637 non-null  Int64
 1   dealer_customer_id                                   99637 non-null  object
 2   ADT_site_no                                          99637 non-null  float64
 3   Best_partices_1                                      99637 non-null  float64
 4   Best_partices_2                                      99637 non-null  float64
 5   Best_partices_3                                      99637 non-null  float64
 6   Best_partices_4                                      99637 non-null  float64
 7   Best_partices_5                                      99637 non-null  float64
 8   Best_partices_6                                      99637 non-null  float64
 9   Best_Practice_All                                    99637 non-null  float64
 10  Best_Practice_All_flag                               99637 non-null  float64
 11  number_days_arming_disarming                         99637 non-null  Int64
 12  Arming_Consistency                                   99637 non-null  float64
 13  number_of_login_days                                 99637 non-null  Int64
 14  Login_Consistency                                    99637 non-null  float64
 15  Segment                                              99637 non-null  object
 16  TC_Last3M_count_BroadbandCommFailure                 99637 non-null  float64
 17  TC_Last3M_count_CameraNotCommunicating               99637 non-null  float64
 18  TC_Last3M_count_CameraNotReachable                   99637 non-null  float64
 19  Package                                              99637 non-null  object
 20  site_no                                              99637 non-null  Int64
 21  ADT_Churn_Flag                                       99637 non-null  Int64
 22  Arming_category                                      99637 non-null  object
 23  Login_category                                       99637 non-null  object
 24  TC_Last3M_count_BroadbandCommFailure_flag            99637 non-null  int64
 25  TC_Last3M_count_CameraNotCommunicating_flag          99637 non-null  int64
 26  TC_Last3M_count_CameraNotReachable_flag              99637 non-null  int64
 27  TC_Last3M_count_BroadbandCommFailure_morethan5_flag  99637 non-null  int64
dtypes: Int64(5), float64(14), int64(4), object(5)
memory usage: 22.5+ MB

In [192]:
pd.DataFrame(DF_monitored.groupby(['Arming_category','Login_category']).agg(
    
    Customer_count= ('customer_id','count'),
    Customer_count_1= ('customer_id','nunique'),
    # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)
).reset_index())

,Arming_category,Login_category,Customer_count,Customer_count_1,Churn_total,Churn_rate
0,Arming_0%,Login_0%,18523,18477,285,1.538628
1,Arming_0%,Login_0_20%%,5207,5189,70,1.344344
2,Arming_0%,Login_20_50%%,2644,2636,27,1.021180
3,Arming_0%,Login_50_more%,10333,10304,47,0.454853
4,Arming_0_20%%,Login_0%,4866,4858,50,1.027538
5,Arming_0_20%%,Login_0_20%%,5120,5110,43,0.839844
6,Arming_0_20%%,Login_20_50%%,2227,2222,20,0.898069
7,Arming_0_20%%,Login_50_more%,4203,4194,32,0.761361
8,Arming_20_50%%,Login_0%,2818,2810,18,0.638751
9,Arming_20_50%%,Login_0_20%%,1622,1619,10,0.616523
10,Arming_20_50%%,Login_20_50%%,2356,2354,22,0.933786
11,Arming_20_50%%,Login_50_more%,2378,2374,19,0.798991
12,Arming_50_more%,Login_0%,10458,10440,61,0.583286
13,Arming_50_more%,Login_0_20%%,4673,4667,30,0.641986
14,Arming_50_more%,Login_20_50%%,4218,4206,23,0.545282
15,Arming_50_more%,Login_50_more%,17991,17948,85,0.472458

In [193]:
pd.DataFrame(DF_monitored.groupby(['Segment','Best_Practice_All']).agg(
    
    Customer_count= ('customer_id','count'),
    Customer_count_1= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)
    
    # Best_partices_1= ('Best_partices_1','sum'),
    # Best_partices_2= ('Best_partices_2','sum'),
    # Best_partices_3= ('Best_partices_3','sum'),
    # Best_partices_4= ('Best_partices_4','sum'),
    # Best_partices_5= ('Best_partices_5','sum'),
    # Best_partices_6= ('Best_partices_6','sum'),
    # # Best_partices_All= ('Best_Practice_All','sum'),
    # Best_partices_All_flag= ('Best_Practice_All_flag','sum')
    # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
    # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
).reset_index())

,Segment,Best_Practice_All,Customer_count,Customer_count_1,Churn_total,Churn_rate
0,Disengaged,0.0,4184,4177,62,1.481836
1,Disengaged,1.0,2761,2760,42,1.521188
2,Disengaged,2.0,3556,3544,54,1.518560
3,Disengaged,3.0,3650,3639,35,0.958904
4,Disengaged,4.0,2788,2783,65,2.331420
5,Disengaged,5.0,1222,1218,19,1.554828
6,Disengaged,6.0,362,356,8,2.209945
7,Heavy_User,5.0,4527,4515,18,0.397614
8,Heavy_User,6.0,2190,2186,10,0.456621
9,Home_automation_Savvy,0.0,887,887,3,0.338219
10,Home_automation_Savvy,1.0,38,38,0,0.000000
11,Home_automation_Savvy,2.0,267,266,1,0.374532
12,Home_automation_Savvy,3.0,1423,1422,13,0.913563
13,Home_automation_Savvy,4.0,6920,6905,38,0.549133
14,Home_automation_Savvy,5.0,5067,5048,26,0.513124
15,Home_automation_Savvy,6.0,2549,2542,20,0.784621
16,Moderate_Users,0.0,5776,5770,22,0.380886
17,Moderate_Users,1.0,2010,2007,38,1.890547
18,Moderate_Users,2.0,5195,5178,48,0.923965
19,Moderate_Users,3.0,7968,7954,57,0.715361
20,Moderate_Users,4.0,12333,12303,100,0.810833
21,Moderate_Users,5.0,3340,3328,37,1.107784
22,Moderate_Users,6.0,1176,1171,12,1.020408
23,Old_Fashion,0.0,4177,4170,19,0.454872
24,Old_Fashion,1.0,2415,2410,26,1.076605
25,Old_Fashion,2.0,3690,3682,18,0.487805
26,Old_Fashion,3.0,4005,4001,23,0.574282
27,Old_Fashion,4.0,3354,3347,20,0.596303
28,Old_Fashion,5.0,1422,1418,3,0.210970
29,Old_Fashion,6.0,385,383,5,1.298701

In [194]:
pd.DataFrame(DF_monitored.groupby(['Segment']).agg(
    
    # Customer_count= ('customer_id','count'),
    Customer_count_1= ('customer_id','nunique'),
    Best_partices_1= ('Best_partices_1','sum'),
    Best_partices_2= ('Best_partices_2','sum'),
    Best_partices_3= ('Best_partices_3','sum'),
    Best_partices_4= ('Best_partices_4','sum'),
    Best_partices_5= ('Best_partices_5','sum'),
    Best_partices_6= ('Best_partices_6','sum'),
    # Best_partices_All= ('Best_Practice_All','sum'),
    Best_partices_All_flag= ('Best_Practice_All_flag','sum')
    # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
    # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
).reset_index())

,Segment,Customer_count_1,Best_partices_1,Best_partices_2,Best_partices_3,Best_partices_4,Best_partices_5,Best_partices_6,Best_partices_All_flag
0,Disengaged,18477,12412.0,10314.0,2358.0,3499.0,8516.0,3158.0,362.0
1,Heavy_User,6701,6651.0,6715.0,4323.0,5220.0,6712.0,6154.0,2190.0
2,Home_automation_Savvy,17108,15470.0,15350.0,4468.0,6528.0,15894.0,15440.0,2549.0
3,Moderate_Users,37711,30077.0,28076.0,6181.0,9122.0,22930.0,13006.0,1176.0
4,Old_Fashion,19411,13777.0,11817.0,3195.0,3908.0,8905.0,3044.0,385.0

In [195]:
pd.DataFrame(DF_monitored[DF_monitored.Best_partices_1==1].groupby(['Segment','Best_partices_1']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_partices_1,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,12377,190,1.530777
1,Heavy_User,1.0,6636,28,0.420989
2,Home_automation_Savvy,1.0,15427,93,0.601164
3,Moderate_Users,1.0,29999,275,0.914320
4,Old_Fashion,1.0,13749,86,0.624229

In [202]:
pd.DataFrame(DF_monitored[DF_monitored.Best_partices_2==1].groupby(['Segment','Best_partices_2']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_partices_2,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,10286,173,1.677332
1,Heavy_User,1.0,6699,28,0.416977
2,Home_automation_Savvy,1.0,15308,93,0.605863
3,Moderate_Users,1.0,28002,256,0.911811
4,Old_Fashion,1.0,11792,70,0.592367

In [203]:
pd.DataFrame(DF_monitored[DF_monitored.Best_partices_3==1].groupby(['Segment','Best_partices_3']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_partices_3,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,2344,47,1.993215
1,Heavy_User,1.0,4316,20,0.462642
2,Home_automation_Savvy,1.0,4458,29,0.649060
3,Moderate_Users,1.0,6164,52,0.841288
4,Old_Fashion,1.0,3192,18,0.563380

In [204]:
pd.DataFrame(DF_monitored[DF_monitored.Best_partices_4==1].groupby(['Segment','Best_partices_4']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_partices_4,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,3486,60,1.714776
1,Heavy_User,1.0,5205,23,0.440613
2,Home_automation_Savvy,1.0,6503,48,0.735294
3,Moderate_Users,1.0,9099,74,0.811226
4,Old_Fashion,1.0,3899,16,0.409417

In [205]:
pd.DataFrame(DF_monitored[DF_monitored.Best_partices_5==1].groupby(['Segment','Best_partices_5']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_partices_5,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,8490,119,1.397370
1,Heavy_User,1.0,6696,28,0.417163
2,Home_automation_Savvy,1.0,15852,93,0.585126
3,Moderate_Users,1.0,22875,180,0.784998
4,Old_Fashion,1.0,8889,41,0.460415

In [206]:
pd.DataFrame(DF_monitored[DF_monitored.Best_partices_6==1].groupby(['Segment','Best_partices_6']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_partices_6,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,3140,69,2.184927
1,Heavy_User,1.0,6139,23,0.373741
2,Home_automation_Savvy,1.0,15400,87,0.563472
3,Moderate_Users,1.0,12964,125,0.961095
4,Old_Fashion,1.0,3032,25,0.821288

In [207]:
pd.DataFrame(DF_monitored[DF_monitored.Best_Practice_All_flag==1].groupby(['Segment','Best_Practice_All_flag']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('ADT_Churn_Flag',lambda x: x.sum()),
    Churn_rate=('ADT_Churn_Flag',lambda x: x.mean()*100)).reset_index())

,Segment,Best_Practice_All_flag,Customer_count,Churn_total,Churn_rate
0,Disengaged,1.0,356,8,2.209945
1,Heavy_User,1.0,2186,10,0.456621
2,Home_automation_Savvy,1.0,2542,20,0.784621
3,Moderate_Users,1.0,1171,12,1.020408
4,Old_Fashion,1.0,383,5,1.298701

In [153]:
# pd.DataFrame(DF_monitored[DF_monitored.TC_Last3M_count_BroadbandCommFailure_flag>0].groupby(['Telus_Internet_customers','TC_Last3M_count_BroadbandCommFailure_flag']).agg(
    
#     Customer_count= ('customer_id','count'),
#     Customer_count_1= ('customer_id','nunique'),
#     Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
#     Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
# ).reset_index())

In [557]:
# pd.DataFrame(DF_monitored[DF_monitored.TC_Last3M_count_CameraNotCommunicating_flag>0].groupby(['Telus_Internet_customers','TC_Last3M_count_CameraNotCommunicating_flag']).agg(
    
#     Customer_count= ('customer_id','count'),
#     Customer_count_1= ('customer_id','nunique'),
#     Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
#     Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
# ).reset_index())

,Telus_Internet_customers,TC_Last3M_count_CameraNotCommunicating_flag,Customer_count,Customer_count_1,Churn_total,Churn_rate
0,0,1,3709,3708,19,0.512267
1,1,1,5231,5218,22,0.420570

In [630]:
# pd.DataFrame(DF_monitored[DF_monitored.TC_Last3M_count_CameraNotReachable_flag>0].groupby(['Telus_Internet_customers','TC_Last3M_count_CameraNotReachable_flag']).agg(
    
#     Customer_count= ('customer_id','count'),
#     Customer_count_1= ('customer_id','nunique'),
#     Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
#     Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
# ).reset_index())

,Telus_Internet_customers,TC_Last3M_count_CameraNotReachable_flag,Customer_count,Customer_count_1,Churn_total,Churn_rate
0,0,1,7470,7467,31,0.414993
1,1,1,12311,12279,62,0.503615

In [631]:
# pd.DataFrame(DF_monitored[DF_monitored.TC_Last3M_count_BroadbandCommFailure_morethan5_flag>0].groupby(['Telus_Internet_customers','TC_Last3M_count_BroadbandCommFailure_morethan5_flag']).agg(
    
#     Customer_count= ('customer_id','count'),
#     Customer_count_1= ('customer_id','nunique'),
#     Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
#     Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
# ).reset_index())

,Telus_Internet_customers,TC_Last3M_count_BroadbandCommFailure_morethan5_flag,Customer_count,Customer_count_1,Churn_total,Churn_rate
0,0,1,2862,2853,20,0.698812
1,1,1,4669,4655,25,0.535447

In [50]:
# config= bigquery.job.LoadJobConfig()

# # config._properties['timePartitioning'] = {'field': 'Month_Year'}
# config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

# Table_BQ = 'SHS.SHS_Churn_Analysis_OCT2022'

# bq_table_instance= bq_client.load_table_from_dataframe(DF, Table_BQ,job_config=config)