In [1]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [2]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [7]:
Customer_details='''


DECLARE
  start_dt_snpsht DATE DEFAULT '2023-01-01';
DECLARE
  end_dt_snpsht DATE DEFAULT '2023-03-31';
WITH
  date_sql AS (
  SELECT
    DATE_TRUNC(DATE_SUB(start_dt_snpsht, INTERVAL 3 month), month) AS eligibility_date ),
  
  ADC_Customer_Base AS (
  SELECT
    dealer_customer_id,
    customer_id,
    primary_login_id,
    dealer_name,
    DATE(join_date) AS join_date,
    account_type_name,
    customer_type_name,
    CASE
      WHEN account_type_name='Standalone' THEN 'Smart_Camera'
      WHEN account_type_name='Awareness and Automation' THEN 'Smart_Automation_Plus'
    ELSE
    'Monitored'
  END
    AS Package,
    DATE_DIFF(end_dt_snpsht,DATE(join_date), MONTH) AS Tenure_months,
    1 as Interactivity_flag #Interactivity=Having ADC account

  FROM
    `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_account_details`
  WHERE
    DATE(last_updt_ts) <= end_dt_snpsht
    AND DATE(last_updt_ts) >= start_dt_snpsht
    AND dealer_name in ('TELUS Communications Inc.')
    QUALIFY ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY last_updt_ts DESC) = 1
  ORDER BY
    join_date,
    customer_id ),
  
Telus_customers AS (
  SELECT
    cust_bus_cust_id as Telus_ID,
    cast (bacct_bus_bacct_num as STRING) AS BAN,
    DATE(pi_cntrct_start_ts) AS contract_start_date,
    DATE(pi_cntrct_end_ts) AS contract_end_date,
    DATE(pi_actvn_ts) as Intial_activation_date,
    CASE
      WHEN DATE(pi_cntrct_end_ts) = "9999-12-31" THEN 'contract_expired'
      WHEN DATE_DIFF(DATE(pi_cntrct_end_ts),end_dt_snpsht, DAY) < 0 THEN 'contract_expired'
      WHEN DATE_DIFF(DATE(pi_cntrct_end_ts),end_dt_snpsht, DAY) <= 90 THEN 'contract_expiring_within_90_days'
      WHEN DATE_DIFF(DATE(pi_cntrct_end_ts),end_dt_snpsht, DAY) > 90 THEN 'contract_expiring_after_90_days'
    ELSE
    'Undefined_contract_end_date'
  END
    AS contract_end_status,
    DATE_DIFF(end_dt_snpsht,DATE(pi_cntrct_start_ts), MONTH) AS Contract_start_months
  FROM
    `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht`
  WHERE
    DATE(prod_instnc_ts) = end_dt_snpsht
    AND pi_prod_instnc_typ_cd ='SMHM' #Serice type
    AND bus_prod_instnc_src_id = 1001 #BANs that are FOR home services
    AND pi_prod_instnc_stat_cd IN ('A')
    AND consldt_cust_typ_cd = 'R' QUALIFY ROW_NUMBER() OVER (PARTITION BY cust_bus_cust_id ORDER BY prod_instnc_ts DESC) = 1
  ORDER BY
    cust_bus_cust_id ),
    
Telus_Billing as (

select CAST (bus_bacct_num as STRING) as BAN,billg_addr_prov_cd as Province_code
from `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_billg_acct_snpsht`
WHERE DATE(billg_acct_ts)=end_dt_snpsht
QUALIFY ROW_NUMBER() OVER (PARTITION BY bus_bacct_num ORDER BY billg_acct_ts DESC) = 1
)

    
,ADT_migrated_customers as (

SELECT distinct udf4 as BAN
      ,cust_no
      ,co_no
      ,branch_no
      ,custype_id
      ,custstat_id
      , 1 as ADT_migrated_customer
      

  FROM `cio-datahub-enterprise-pr-183a.src_mastermind.bq_customer`
  where branch_no in (999100,999500)
  and udf4 is not NULL


),

Merge_data AS (
  SELECT
    a.*,b.*,c.ADT_migrated_customer,d.Province_code
  FROM
    Telus_customers a
  LEFT JOIN
    ADC_Customer_Base b
  ON
    a.Telus_ID=b.dealer_customer_id
LEFT JOIN
ADT_migrated_customers c
on a.BAN=c.BAN
LEFT JOIN
Telus_Billing d
on a.BAN=d.BAN


)

SELECT
  *
FROM
  Merge_data
  
  
  
  
'''

In [8]:
Customer_info=extract_bq_data(bq_client, sql=Customer_details)

In [9]:
Customer_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630736 entries, 0 to 630735
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Telus_ID                630736 non-null  object
 1   BAN                     630736 non-null  object
 2   contract_start_date     445576 non-null  object
 3   contract_end_date       630736 non-null  object
 4   Intial_activation_date  630736 non-null  object
 5   contract_end_status     630736 non-null  object
 6   Contract_start_months   445576 non-null  Int64
 7   dealer_customer_id      491064 non-null  object
 8   customer_id             491064 non-null  Int64
 9   primary_login_id        491064 non-null  Int64
 10  dealer_name             491064 non-null  object
 11  join_date               491064 non-null  object
 12  account_type_name       491064 non-null  object
 13  customer_type_name      491064 non-null  object
 14  Package                 491064 non-null  object
 15  Tenure_months           491064 non-null  Int64
 16  Interactivity_flag      491064 non-null  Int64
 17  ADT_migrated_customer   193851 non-null  Int64
 18  Province_code           630733 non-null  object
dtypes: Int64(6), object(13)
memory usage: 95.0+ MB

In [12]:
# Customer_info['join_date'].min()

In [13]:
Customer_info['contract_start_date'].value_counts()

2016-06-06    2315
2021-04-01    2166
2017-11-01    1280
2021-12-01     973
2023-01-06     905
              ...
2011-03-07       1
2016-07-15       1
2011-07-06       1
2001-05-21       1
2002-07-11       1
Name: contract_start_date, Length: 3741, dtype: int64

In [14]:
Customer_info['Province_code'].value_counts()

AB    218485
BC    199146
ON    126805
QC     55090
MB     13195
SK     10403
NS      3620
NB      2093
NL      1578
PE       216
NT        34
NU        27
YT        24
CA         5
TX         3
MA         1
MI         1
MT         1
CT         1
SC         1
LA         1
NY         1
WA         1
CO         1
Name: Province_code, dtype: int64

In [15]:
Customer_info['contract_end_status'].value_counts()

contract_expiring_after_90_days     392893
contract_expired                    227372
contract_expiring_within_90_days     10471
Name: contract_end_status, dtype: int64

In [16]:
Customer_info['dealer_name'].value_counts()

TELUS Communications Inc.    491064
Name: dealer_name, dtype: int64

In [17]:
Customer_info['Package'].value_counts()

Monitored                327812
Smart_Automation_Plus    114714
Smart_Camera              48538
Name: Package, dtype: int64

In [18]:
Customer_info['Package'].fillna('Unknown_Package',inplace=True)
# Customer_info['Tenure_months'].fillna('Unknown_Tenure',inplace=True)
Customer_info['dealer_name'].fillna('Unknown_Dealer',inplace=True)
Customer_info['Interactivity_flag'].fillna(0,inplace=True)
Customer_info['ADT_migrated_customer'].fillna(0,inplace=True)

In [19]:
Customer_info['ADT_migrated_customer'].value_counts(normalize=True)*100

0    69.265905
1    30.734095
Name: ADT_migrated_customer, dtype: Float64

In [20]:
Customer_info['Interactivity_flag'].value_counts(normalize=True)*100

1    77.855711
0    22.144289
Name: Interactivity_flag, dtype: Float64

In [21]:
BAN_list=Customer_info['BAN'].value_counts().rename_axis('BAN').reset_index(name='unique_counts')

In [22]:
BAN_list_1=BAN_list[BAN_list.unique_counts==1]

In [23]:
BAN_list_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598803 entries, 14694 to 613496
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BAN            598803 non-null  object
 1   unique_counts  598803 non-null  int64
dtypes: int64(1), object(1)
memory usage: 13.7+ MB

In [24]:
Customer_info_1=Customer_info.merge(BAN_list_1[['BAN']],on='BAN',how='inner')

In [25]:
Customer_info_1['BAN'].value_counts().rename_axis('BAN').reset_index(name='unique_counts')

              BAN  unique_counts
0       605584007              1
1       604926172              1
2       206025324              1
3       603856734              1
4       600333706              1
...           ...            ...
598798  600271734              1
598799  602045752              1
598800  604518141              1
598801  605682014              1
598802  603219412              1

[598803 rows x 2 columns]

In [26]:
Customer_info_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598803 entries, 0 to 598802
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Telus_ID                598803 non-null  object
 1   BAN                     598803 non-null  object
 2   contract_start_date     421171 non-null  object
 3   contract_end_date       598803 non-null  object
 4   Intial_activation_date  598803 non-null  object
 5   contract_end_status     598803 non-null  object
 6   Contract_start_months   421171 non-null  Int64
 7   dealer_customer_id      461601 non-null  object
 8   customer_id             461601 non-null  Int64
 9   primary_login_id        461601 non-null  Int64
 10  dealer_name             598803 non-null  object
 11  join_date               461601 non-null  object
 12  account_type_name       461601 non-null  object
 13  customer_type_name      461601 non-null  object
 14  Package                 598803 non-null  object
 15  Tenure_months           461601 non-null  Int64
 16  Interactivity_flag      598803 non-null  Int64
 17  ADT_migrated_customer   598803 non-null  Int64
 18  Province_code           598800 non-null  object
dtypes: Int64(6), object(13)
memory usage: 94.8+ MB

In [27]:
Customer_info_1.head()

,Telus_ID,BAN,contract_start_date,contract_end_date,Intial_activation_date,contract_end_status,Contract_start_months,dealer_customer_id,customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,Package,Tenure_months,Interactivity_flag,ADT_migrated_customer,Province_code
0,105217706,605584007,None,9999-12-31,2022-12-12,contract_expired,<NA>,105217706,6235420,7183051,TELUS Communications Inc.,2018-05-25,Security System,Customer,Monitored,58,1,1,ON
1,105229345,605593229,None,9999-12-31,2022-12-13,contract_expired,<NA>,105229345,5570947,6378878,TELUS Communications Inc.,2017-09-25,Security System,Customer,Monitored,66,1,1,ON
2,105465669,605652560,None,9999-12-31,2023-01-23,contract_expired,<NA>,105465669,5679201,6512733,TELUS Communications Inc.,2017-11-01,Security System,Customer,Monitored,64,1,1,BC
3,106007034,605805711,None,9999-12-31,2023-03-14,contract_expired,<NA>,106007034,5545434,6346974,TELUS Communications Inc.,2017-09-07,Security System,Customer,Monitored,66,1,1,ON
4,106154714,605869821,None,9999-12-31,2023-03-28,contract_expired,<NA>,106154714,5793584,6653328,TELUS Communications Inc.,2017-12-19,Security System,Customer,Monitored,63,1,0,BC

In [28]:
Customer_info_1['Contract_start_months'].value_counts()

4        15672
0        15626
3        14633
7        14374
5        14280
         ...
21843        1
9870         1
9656         1
9860         1
287          1
Name: Contract_start_months, Length: 335, dtype: Int64

In [29]:
Customer_info_1['Tenure_months'].value_counts()

4      17254
0      16062
3      15578
5      15365
7      15247
       ...
147        2
146        1
153        1
151        1
149        1
Name: Tenure_months, Length: 157, dtype: Int64

In [30]:
Customer_info_1[Customer_info_1.Tenure_months==0]

,Telus_ID,BAN,contract_start_date,contract_end_date,Intial_activation_date,contract_end_status,Contract_start_months,dealer_customer_id,customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,Package,Tenure_months,Interactivity_flag,ADT_migrated_customer,Province_code
172259,105523166,605675297,2023-03-07,2026-03-07,2023-03-06,contract_expiring_after_90_days,0,105523166,15549839,18426919,TELUS Communications Inc.,2023-03-06,Awareness and Automation,Customer,Smart_Automation_Plus,0,1,0,BC
172260,72978015,600974714,2023-03-04,2026-03-04,2023-03-03,contract_expiring_after_90_days,0,72978015,15538844,18413223,TELUS Communications Inc.,2023-03-03,Security System,Customer,Monitored,0,1,0,BC
172261,98264479,603545819,2023-03-30,2026-03-30,2023-03-24,contract_expiring_after_90_days,0,98264479,15670885,18574408,TELUS Communications Inc.,2023-03-24,Awareness and Automation,Customer,Smart_Automation_Plus,0,1,0,AB
172262,104925867,605466573,2023-03-23,2026-03-23,2023-03-22,contract_expiring_after_90_days,0,104925867,15655710,18555624,TELUS Communications Inc.,2023-03-22,Security System,Customer,Monitored,0,1,0,ON
172263,105986223,605796452,2023-03-26,2026-03-26,2023-03-25,contract_expiring_after_90_days,0,105986223,15674527,18578617,TELUS Communications Inc.,2023-03-25,Security System,Customer,Monitored,0,1,0,ON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188316,105778631,605760754,2023-03-06,2026-03-06,2023-03-06,contract_expiring_after_90_days,0,105778631,15549148,18426013,TELUS Communications Inc.,2023-03-06,Security System,Customer,Monitored,0,1,0,ON
188317,46274218,600891278,None,9999-12-31,2023-03-29,contract_expired,<NA>,46274218,15695367,18604596,TELUS Communications Inc.,2023-03-29,Awareness and Automation,Customer,Smart_Automation_Plus,0,1,0,AB
188318,103224887,605727420,2023-03-13,2028-03-13,2023-03-12,contract_expiring_after_90_days,0,103224887,15585329,18471080,TELUS Communications Inc.,2023-03-12,Security System,Customer,Monitored,0,1,0,MB
188319,19586492,234040605,2023-03-11,2026-03-11,2023-03-10,contract_expiring_after_90_days,0,19586492,15580084,18464672,TELUS Communications Inc.,2023-03-10,Security System,Customer,Monitored,0,1,0,BC
188320,84773422,604239812,2023-03-09,2026-03-09,2023-03-08,contract_expiring_after_90_days,0,84773422,15564125,18444724,TELUS Communications Inc.,2023-03-08,Security System,Customer,Monitored,0,1,0,AB

In [31]:
config= bigquery.job.LoadJobConfig()

# config._properties['timePartitioning'] = {'field': 'Month_Year'}
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'SHS.SHS_churn_model_base_score_data_jan23_mar23'

bq_table_instance= bq_client.load_table_from_dataframe(Customer_info_1, Table_BQ,job_config=config)