In [3]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [4]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [7]:
Query='''


DECLARE
  start_dt_snpsht DATE DEFAULT '2023-03-01';
DECLARE
  end_dt_snpsht DATE DEFAULT '2023-04-25';





WITH Customer_Base as (select * from `divgpras-pr-579355.SHS.SHS_churn_model_base_score_data_mar23_Apr23`)

, ADC_BP as ( 
select *,(Best_Practices_1+Best_Practices_2+Best_Practices_3+Best_Practices_4+Best_Practices_5+Best_Practices_6) as Best_Practice_All
from 

(
  -- #1 from_item
  SELECT 
    customer_id,
    best_practices_id,
     case when best_practices_ind=True then 1 else 0 end as Best_practices_flag,

  FROM `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_best_practice`
  where DATE(dt_last_calculate_utc) <= end_dt_snpsht
  QUALIFY ROW_NUMBER() OVER (PARTITION BY customer_id,best_practices_id ORDER BY last_updt_ts DESC) = 1
)
PIVOT
(
  -- #2 aggregate
  sum(Best_practices_flag) AS Best_Practices
  -- #3 pivot_column
  FOR best_practices_id in (1,2,3,4,5,6)
)

)


,ADC_arming AS (

With date_sql as (
select  count(distinct date(date)) as count_of_dates from `cio-datahub-enterprise-pr-183a.src_adc.bq_aggregate_daily_arming_commands`
where date(date)<= end_dt_snpsht and date(date)>= start_dt_snpsht

)

select 
    id_cust as customer_id
    ,sum(count_arm_commands) as sum_arm_commands
    ,sum(count_disarm_commands) as sum_disarm_commands
    ,count (distinct date(date)) as number_days_arming_disarming
    , (select count_of_dates from date_sql ) as count_of_dates_arming
    , round(count (distinct date(date))*100/(select max(count_of_dates) from date_sql),0) as arming_consistency
    , round(sum(count_arm_commands)/(count (distinct date(date))),0) as Avg_arm_per_day
    ,round(sum(count_disarm_commands)/(count (distinct date(date))),0) as Avg_disarm_per_day
from `cio-datahub-enterprise-pr-183a.src_adc.bq_aggregate_daily_arming_commands`
where date(date)<= end_dt_snpsht and date(date)>= start_dt_snpsht
group by customer_id
order by number_days_arming_disarming desc

)


, ADC_login as (

with date_sql as (
select  count(distinct date(login_dt_utc)) as count_of_dates from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_daily_logins`
where date(login_dt_utc)<= end_dt_snpsht and date(login_dt_utc)>= start_dt_snpsht

)

select customer_id,sum(login_count) as sum_login_count,count (distinct date(login_dt_utc)) as number_of_login_days, (select count_of_dates from date_sql ) as count_of_dates_login, round(count (distinct date(login_dt_utc))*100/(select max(count_of_dates) from date_sql),0) as login_consistency, round(sum(login_count)/(count (distinct date(login_dt_utc))),0) as Avg_login_per_day
from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_daily_logins`
where date(login_dt_utc)<= end_dt_snpsht and date(login_dt_utc)>= start_dt_snpsht
group by customer_id
order by login_consistency desc



)


, cte_product_mix AS (
  
SELECT distinct cast (ffh_prod.bacct_bus_bacct_num as STRING) AS ban,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd IN ('SING', 'HSIC', 'TTV', 'SMHM', 'STV', 'DIIC','C') THEN ffh_prod.pi_prod_instnc_typ_cd ELSE NULL END) AS product_mix_all,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd = 'HSIC' THEN ffh_prod.bus_prod_instnc_id ELSE NULL END) AS hsic_count,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd = 'SING' THEN ffh_prod.bus_prod_instnc_id ELSE NULL END) AS sing_count,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd = 'SMHM' THEN ffh_prod.bus_prod_instnc_id ELSE NULL END) AS shs_count,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd = 'TTV'  THEN ffh_prod.bus_prod_instnc_id ELSE NULL END) AS ttv_count,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd = 'STV'  THEN ffh_prod.bus_prod_instnc_id ELSE NULL END) AS stv_count,
         COUNT(DISTINCT CASE WHEN ffh_prod.pi_prod_instnc_typ_cd = 'DIIC' THEN ffh_prod.bus_prod_instnc_id ELSE NULL END) AS diic_count   
         FROM `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` AS ffh_prod
   
   WHERE DATE(ffh_prod.prod_instnc_ts) = end_dt_snpsht
     AND ffh_prod.pi_prod_instnc_stat_cd = 'A' --Active Products
     AND ffh_prod.consldt_cust_typ_cd = 'R' --Regular (not Business)
     AND ffh_prod.pi_prod_instnc_typ_cd IN 
         (
           'DIIC', --Dialup
           'HSIC', --High Speed
           'SING', --Home Phone
           'SMHM', --Smart Home
           'STV',  --Satelite
           'TTV'   --TV
         )
GROUP BY ffh_prod.bacct_bus_bacct_num
--QUALIFY ROW_NUMBER() OVER (PARTITION BY ffh_prod.bacct_bus_bacct_num ORDER BY ffh_prod.prod_instnc_ts ) = 1
)



, ARPU_Calculation as(

with ARPU_full as (
SELECT
  distinct cast (billg_acct_num as string) AS ban,
  EXTRACT(YEAR
  FROM
    bill.bill_dt)||'-'||LPAD(CAST(EXTRACT(MONTH
      FROM
        bill.bill_dt) AS STRING), 2, '0') AS bill_year_month,
  sum(bill.rid_unit_chrg_amt) as ARPU_SMHM,
  sum(tot_inv_amt) as ARPU_FFH
  FROM
  `cio-datahub-enterprise-pr-183a.ent_cust_bill.bq_wln_inv_sum_view` bill
WHERE
  DATE(bill.bill_dt)>=  start_dt_snpsht
  and DATE(bill.bill_dt)<= end_dt_snpsht
  group by ban,bill_year_month
)

select ban, round(avg(ARPU_SMHM),0) as Avg_SMHM_ARPU,round(avg(ARPU_FFH),0) as Avg_FFH_ARPU 
from ARPU_full group by ban

)




select cb.*,bp.*,arm.* ,lg.*,prod_mix.*,ARPU.*
from Customer_Base cb
left join ADC_BP bp
on cb.customer_id=bp.customer_id
left join ADC_arming arm
on cb.customer_id=arm.customer_id
left join ADC_login lg
on cb.customer_id=lg.customer_id
left join cte_product_mix as prod_mix
on cb.BAN=prod_mix.ban
left join ARPU_Calculation as ARPU
on cb.BAN=ARPU.ban

'''

In [8]:
DF=extract_bq_data(bq_client, sql=Query)

In [9]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671111 entries, 0 to 671110
Data columns (total 52 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Telus_ID                      671111 non-null  object
 1   BAN                           671111 non-null  object
 2   contract_start_date           456425 non-null  object
 3   contract_end_date             671111 non-null  object
 4   Intial_activation_date        671111 non-null  object
 5   contract_end_status           671111 non-null  object
 6   Contract_start_months         456425 non-null  Int64
 7   dealer_customer_id            496186 non-null  object
 8   customer_id                   496186 non-null  Int64
 9   primary_login_id              496186 non-null  Int64
 10  dealer_name                   671111 non-null  object
 11  join_date                     496186 non-null  object
 12  account_type_name             496186 non-null  object
 13  customer_type_name            496186 non-null  object
 14  Package                       671111 non-null  object
 15  Tenure_months                 496186 non-null  Int64
 16  Interactivity_flag            671111 non-null  Int64
 17  ADT_migrated_customer         671111 non-null  Int64
 18  Province_code                 671108 non-null  object
 19  customer_id_1                 474779 non-null  Int64
 20  Best_Practices_1              474779 non-null  Int64
 21  Best_Practices_2              474779 non-null  Int64
 22  Best_Practices_3              474779 non-null  Int64
 23  Best_Practices_4              474779 non-null  Int64
 24  Best_Practices_5              474779 non-null  Int64
 25  Best_Practices_6              474779 non-null  Int64
 26  Best_Practice_All             474779 non-null  Int64
 27  customer_id_2                 226506 non-null  Int64
 28  sum_arm_commands              226506 non-null  Int64
 29  sum_disarm_commands           226506 non-null  Int64
 30  number_days_arming_disarming  226506 non-null  Int64
 31  count_of_dates_arming         226506 non-null  Int64
 32  arming_consistency            226506 non-null  float64
 33  Avg_arm_per_day               226506 non-null  float64
 34  Avg_disarm_per_day            226506 non-null  float64
 35  customer_id_3                 382637 non-null  Int64
 36  sum_login_count               382637 non-null  Int64
 37  number_of_login_days          382637 non-null  Int64
 38  count_of_dates_login          382637 non-null  Int64
 39  login_consistency             382637 non-null  float64
 40  Avg_login_per_day             382637 non-null  float64
 41  ban_1                         671111 non-null  object
 42  product_mix_all               671111 non-null  Int64
 43  hsic_count                    671111 non-null  Int64
 44  sing_count                    671111 non-null  Int64
 45  shs_count                     671111 non-null  Int64
 46  ttv_count                     671111 non-null  Int64
 47  stv_count                     671111 non-null  Int64
 48  diic_count                    671111 non-null  Int64
 49  ban_2                         624995 non-null  object
 50  Avg_SMHM_ARPU                 624782 non-null  object
 51  Avg_FFH_ARPU                  624995 non-null  object
dtypes: Int64(30), float64(5), object(17)
memory usage: 285.4+ MB

In [10]:
DF.head()

,Telus_ID,BAN,contract_start_date,contract_end_date,Intial_activation_date,contract_end_status,Contract_start_months,dealer_customer_id,customer_id,primary_login_id,...,product_mix_all,hsic_count,sing_count,shs_count,ttv_count,stv_count,diic_count,ban_2,Avg_SMHM_ARPU,Avg_FFH_ARPU
0,106410811,605969386,2021-09-02,2024-09-02,2023-04-24,contract_expiring_after_90_days,19,None,<NA>,<NA>,...,1,0,0,1,0,0,0,None,None,None
1,92913730,602743877,2020-12-22,2023-12-22,2020-12-21,contract_expiring_after_90_days,28,None,<NA>,<NA>,...,4,1,1,1,1,0,0,602743877,40.000000000,295.000000000
2,101521376,604455365,2018-11-15,2021-11-15,2020-11-04,contract_expired,53,None,<NA>,<NA>,...,1,0,0,1,0,0,0,604455365,29.000000000,31.000000000
3,106407097,605969049,2022-06-29,2027-06-29,2023-04-24,contract_expiring_after_90_days,10,None,<NA>,<NA>,...,1,0,0,1,0,0,0,None,None,None
4,100627394,604241506,2020-12-29,2023-12-29,2020-12-28,contract_expiring_after_90_days,28,None,<NA>,<NA>,...,1,0,0,1,0,0,0,604241506,30.000000000,16.000000000

In [11]:
# DF['SMHM_Churn'].fillna(0,inplace=True)

In [12]:
# DF['churn_date'].fillna(0,inplace=True)

In [13]:
# DF['SMHM_Churn'].value_counts()

In [14]:
# DF['churn_date'].value_counts()

In [15]:
# DF['churn_date'].min()

In [16]:
# DF['SMHM_Churn'].value_counts(normalize=True)*100

In [17]:
DF['shs_count'].value_counts()

1     666433
2       4390
3        169
4         17
5         10
6          9
25         9
9          8
18         7
8          6
22         5
20         5
7          5
16         4
19         4
13         4
10         4
17         3
11         3
24         3
21         3
14         3
12         1
28         1
30         1
26         1
27         1
15         1
35         1
Name: shs_count, dtype: Int64

In [18]:
def login_consistency_cat(row):
    if row['login_consistency']>30:
        return 'Heavy_User'
    elif row['login_consistency']>0 and row['login_consistency']<=30:
        return 'Low_User'
    elif row['Interactivity_flag']==1:
        return 'No_User'
    elif row['Interactivity_flag']==0:
        return 'No_ADC_account'
    else:
        return 'None_of_the_above'

In [19]:
def arming_consistency_cat(row):
    if row['arming_consistency']>30:
        return 'Heavy_User'
    elif row['arming_consistency']>0 and row['arming_consistency']<=30:
        return 'Low_User'
    elif row['Interactivity_flag']==1:
        return 'No_User'
    elif row['Interactivity_flag']==0:
        return 'No_ADC_account'
    else:
        return 'None_of_the_above'

In [20]:
DF['login_consistency_cat']=DF.apply(login_consistency_cat,axis=1)

In [21]:
DF['arming_consistency_cat']=DF.apply(arming_consistency_cat,axis=1)

In [22]:
DF['login_consistency_cat'].value_counts()

Heavy_User        255975
No_ADC_account    174925
Low_User          126662
No_User           113549
Name: login_consistency_cat, dtype: int64

In [23]:
DF['BAN'].value_counts()

605969386    1
604500847    1
601319336    1
604449828    1
605809834    1
            ..
605709140    1
605329179    1
605280118    1
603044134    1
600981325    1
Name: BAN, Length: 671111, dtype: int64

In [24]:
DF=DF.drop_duplicates()

In [25]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671111 entries, 0 to 671110
Data columns (total 54 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Telus_ID                      671111 non-null  object
 1   BAN                           671111 non-null  object
 2   contract_start_date           456425 non-null  object
 3   contract_end_date             671111 non-null  object
 4   Intial_activation_date        671111 non-null  object
 5   contract_end_status           671111 non-null  object
 6   Contract_start_months         456425 non-null  Int64
 7   dealer_customer_id            496186 non-null  object
 8   customer_id                   496186 non-null  Int64
 9   primary_login_id              496186 non-null  Int64
 10  dealer_name                   671111 non-null  object
 11  join_date                     496186 non-null  object
 12  account_type_name             496186 non-null  object
 13  customer_type_name            496186 non-null  object
 14  Package                       671111 non-null  object
 15  Tenure_months                 496186 non-null  Int64
 16  Interactivity_flag            671111 non-null  Int64
 17  ADT_migrated_customer         671111 non-null  Int64
 18  Province_code                 671108 non-null  object
 19  customer_id_1                 474779 non-null  Int64
 20  Best_Practices_1              474779 non-null  Int64
 21  Best_Practices_2              474779 non-null  Int64
 22  Best_Practices_3              474779 non-null  Int64
 23  Best_Practices_4              474779 non-null  Int64
 24  Best_Practices_5              474779 non-null  Int64
 25  Best_Practices_6              474779 non-null  Int64
 26  Best_Practice_All             474779 non-null  Int64
 27  customer_id_2                 226506 non-null  Int64
 28  sum_arm_commands              226506 non-null  Int64
 29  sum_disarm_commands           226506 non-null  Int64
 30  number_days_arming_disarming  226506 non-null  Int64
 31  count_of_dates_arming         226506 non-null  Int64
 32  arming_consistency            226506 non-null  float64
 33  Avg_arm_per_day               226506 non-null  float64
 34  Avg_disarm_per_day            226506 non-null  float64
 35  customer_id_3                 382637 non-null  Int64
 36  sum_login_count               382637 non-null  Int64
 37  number_of_login_days          382637 non-null  Int64
 38  count_of_dates_login          382637 non-null  Int64
 39  login_consistency             382637 non-null  float64
 40  Avg_login_per_day             382637 non-null  float64
 41  ban_1                         671111 non-null  object
 42  product_mix_all               671111 non-null  Int64
 43  hsic_count                    671111 non-null  Int64
 44  sing_count                    671111 non-null  Int64
 45  shs_count                     671111 non-null  Int64
 46  ttv_count                     671111 non-null  Int64
 47  stv_count                     671111 non-null  Int64
 48  diic_count                    671111 non-null  Int64
 49  ban_2                         624995 non-null  object
 50  Avg_SMHM_ARPU                 624782 non-null  object
 51  Avg_FFH_ARPU                  624995 non-null  object
 52  login_consistency_cat         671111 non-null  object
 53  arming_consistency_cat        671111 non-null  object
dtypes: Int64(30), float64(5), object(19)
memory usage: 300.8+ MB

In [26]:
# BAN_list=DF['BAN'].value_counts().rename_axis('BAN').reset_index(name='unique_counts')

In [27]:
# BAN_list_2=BAN_list[BAN_list.unique_counts>1]

In [28]:
# BAN_list_2

In [29]:
# DF[DF['BAN']==604371757]
# .to_csv('Data_testing.csv',index=False)

In [30]:
config= bigquery.job.LoadJobConfig()

# config._properties['timePartitioning'] = {'field': 'Month_Year'}
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'SHS.SHS_churn_model_score_data_mar23_Apr2023'

bq_table_instance= bq_client.load_table_from_dataframe(DF, Table_BQ,job_config=config)

In [33]:
Query_score_data= '''

select * from `divgpras-pr-579355.SHS.SHS_churn_model_score_data_mar23_Apr2023`

'''

In [34]:
DF=extract_bq_data(bq_client, sql=Query_score_data)

In [35]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671111 entries, 0 to 671110
Data columns (total 54 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Telus_ID                      671111 non-null  object
 1   BAN                           671111 non-null  object
 2   contract_start_date           456425 non-null  object
 3   contract_end_date             671111 non-null  object
 4   Intial_activation_date        671111 non-null  object
 5   contract_end_status           671111 non-null  object
 6   Contract_start_months         456425 non-null  Int64
 7   dealer_customer_id            496186 non-null  object
 8   customer_id                   496186 non-null  Int64
 9   primary_login_id              496186 non-null  Int64
 10  dealer_name                   671111 non-null  object
 11  join_date                     496186 non-null  object
 12  account_type_name             496186 non-null  object
 13  customer_type_name            496186 non-null  object
 14  Package                       671111 non-null  object
 15  Tenure_months                 496186 non-null  Int64
 16  Interactivity_flag            671111 non-null  Int64
 17  ADT_migrated_customer         671111 non-null  Int64
 18  Province_code                 671108 non-null  object
 19  customer_id_1                 474779 non-null  Int64
 20  Best_Practices_1              474779 non-null  Int64
 21  Best_Practices_2              474779 non-null  Int64
 22  Best_Practices_3              474779 non-null  Int64
 23  Best_Practices_4              474779 non-null  Int64
 24  Best_Practices_5              474779 non-null  Int64
 25  Best_Practices_6              474779 non-null  Int64
 26  Best_Practice_All             474779 non-null  Int64
 27  customer_id_2                 226506 non-null  Int64
 28  sum_arm_commands              226506 non-null  Int64
 29  sum_disarm_commands           226506 non-null  Int64
 30  number_days_arming_disarming  226506 non-null  Int64
 31  count_of_dates_arming         226506 non-null  Int64
 32  arming_consistency            226506 non-null  float64
 33  Avg_arm_per_day               226506 non-null  float64
 34  Avg_disarm_per_day            226506 non-null  float64
 35  customer_id_3                 382637 non-null  Int64
 36  sum_login_count               382637 non-null  Int64
 37  number_of_login_days          382637 non-null  Int64
 38  count_of_dates_login          382637 non-null  Int64
 39  login_consistency             382637 non-null  float64
 40  Avg_login_per_day             382637 non-null  float64
 41  ban_1                         671111 non-null  object
 42  product_mix_all               671111 non-null  Int64
 43  hsic_count                    671111 non-null  Int64
 44  sing_count                    671111 non-null  Int64
 45  shs_count                     671111 non-null  Int64
 46  ttv_count                     671111 non-null  Int64
 47  stv_count                     671111 non-null  Int64
 48  diic_count                    671111 non-null  Int64
 49  ban_2                         624995 non-null  object
 50  Avg_SMHM_ARPU                 624782 non-null  object
 51  Avg_FFH_ARPU                  624995 non-null  object
 52  login_consistency_cat         671111 non-null  object
 53  arming_consistency_cat        671111 non-null  object
dtypes: Int64(30), float64(5), object(19)
memory usage: 295.7+ MB

In [36]:
ID_cols=['customer_id','dealer_customer_id','BAN']
ignore_cols=['primary_login_id','dealer_name','join_date','account_type_name','customer_type_name','cust_bus_cust_id'
             ,'contract_start_date','contract_end_date','customer_id_1','customer_id_2','customer_id_3','ban_1','ban_2'
             ,'BAN_3','sum_arm_commands','sum_disarm_commands','number_days_arming_disarming','count_of_dates_arming'
             ,'sum_login_count','number_of_login_days','count_of_dates_login','shs_count','Telus_Cust_ID','Best_Practice_All','Intial_activation_date','Telus_ID','arming_consistency','Province_code']

Target_col=['SMHM_Churn']

In [37]:
DF['Avg_SMHM_ARPU']=pd.to_numeric(DF['Avg_SMHM_ARPU'])
DF['Avg_FFH_ARPU']=pd.to_numeric(DF['Avg_FFH_ARPU'])

In [38]:
num_cols=DF.select_dtypes(include=np.number).columns.tolist()
cat_cols=DF.select_dtypes(exclude=np.number).columns.tolist()

num_cols_features=list(set(num_cols)-set(ID_cols)-set(Target_col)-set(ignore_cols))
cat_cols_features=list(set(cat_cols)-set(ID_cols)-set(Target_col)-set(ignore_cols))
feature_cols=cat_cols_features+num_cols_features

In [39]:
DF[feature_cols].isnull().sum() * 100 / len(DF[feature_cols])

arming_consistency_cat     0.000000
contract_end_status        0.000000
Package                    0.000000
login_consistency_cat      0.000000
Avg_disarm_per_day        66.249100
hsic_count                 0.000000
ttv_count                  0.000000
Avg_FFH_ARPU               6.871591
Contract_start_months     31.989641
Best_Practices_4          29.254773
Best_Practices_3          29.254773
Best_Practices_2          29.254773
Best_Practices_6          29.254773
Avg_arm_per_day           66.249100
ADT_migrated_customer      0.000000
Interactivity_flag         0.000000
stv_count                  0.000000
diic_count                 0.000000
Tenure_months             26.064988
product_mix_all            0.000000
Best_Practices_1          29.254773
sing_count                 0.000000
Avg_login_per_day         42.984544
Best_Practices_5          29.254773
Avg_SMHM_ARPU              6.903329
login_consistency         42.984544
dtype: float64

In [40]:
def impute_missing_values(dataset=DF):
    
    for cols in dataset.columns:
        if dataset[cols].dtype == np.dtype('O'):
            # df.loc[np.isnan(df["Age"]), 'Age'] = rand1
            #dataset.loc[dataset[cols].isnull(), cols]="Missing_category"
            dataset[cols]=dataset[cols].fillna("Missing_category",inplace=False)
        else:
            dataset[cols]=dataset[cols].fillna(0,inplace=False)
            #dataset.loc[dataset[cols].isnull(), cols]=0
    return dataset

 
DF[feature_cols]=impute_missing_values(dataset=DF[feature_cols])

/tmp/ipykernel_6637/1067958573.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[cols]=dataset[cols].fillna("Missing_category",inplace=False)
/tmp/ipykernel_6637/1067958573.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[cols]=dataset[cols].fillna(0,inplace=False)

In [41]:
# DF['SMHM_Churn'].value_counts()

In [42]:
from pickle import dump,load
import warnings
import json
import joblib
## reading Intial feature list 
with open('Intial_feature_columns.json') as json_file:
    intial_feature_cols = json.load(json_file)


## reading final feature list 
with open('Final_feature_columns.json') as json_file:
    final_feature_cols = json.load(json_file)

In [43]:
intial_feature_cols

['stv_count',
 'Best_Practices_1',
 'Avg_login_per_day',
 'product_mix_all',
 'Package',
 'Avg_FFH_ARPU',
 'ADT_migrated_customer',
 'diic_count',
 'Contract_start_months',
 'Best_Practices_2',
 'sing_count',
 'Tenure_months',
 'Avg_disarm_per_day',
 'Interactivity_flag',
 'ttv_count',
 'Best_Practices_6',
 'Avg_arm_per_day',
 'contract_end_status',
 'Best_Practices_4',
 'Best_Practices_3',
 'hsic_count',
 'Best_Practices_5',
 'Avg_SMHM_ARPU',
 'login_consistency_cat',
 'arming_consistency_cat']

In [44]:
X_test_df= pd.get_dummies(DF[intial_feature_cols],prefix_sep='__')

In [45]:
def add_missing_dummy_columns(d, cols_req_model):
    ''' 
    This function adds missing columns to the data so that the model doesn't fail.
    d is the Dataset. 
    cols_req_model is the list of columns required by the model.
    
    '''
    missing_cols = list(set(cols_req_model) - set(d.columns))
    print('Adding columns', missing_cols, 'to the data and populating them with 0.')
    for c in missing_cols:
        d[c] = 0


def remove_extra_columns(d,cols_req_model):
    
    ''' 
    This function drops extra columns from the data so that the model doesn't fail.
    d is the Dataset. 
    cols_req_model is the list of columns required by the model.
    
    '''
    extra_cols= list(set( d.columns ) - set( cols_req_model ))
    print('Dropping', extra_cols, 'columns from the data.')
    d = d.drop(extra_cols, axis=1)
    return d

In [46]:
add_missing_dummy_columns(X_test_df,final_feature_cols)

Adding columns [] to the data and populating them with 0.

In [47]:
X_test_df=remove_extra_columns(X_test_df,final_feature_cols)

Dropping [] columns from the data.

In [48]:
X_test_df=X_test_df.reindex(columns=final_feature_cols,fill_value=0)

In [49]:
model_filename='XGB_SMHM_SMHM_churn_model_20230417_073900.pkl'
modle_pickle=joblib.load(model_filename)

In [50]:
import pandas as pd
import numpy as np
from sklearn.metrics import make_scorer

def Capture_Rate_1stSD(ground_truth, prediction):
    """ this functions takes in the model
    test features, targets, will return the
    lift dataframe
    """
    #print("data shape:", ground_truth.shape)

    prediction_df = pd.DataFrame(prediction, columns=["prob_of_predict_1"])
    # print(prediction_df.head())
    y_df = pd.DataFrame(ground_truth, columns=['target'])
    prediction_with_label_df = y_df.join(prediction_df.set_index(y_df.index))
    # Calculate lift on validation data
    v1 = prediction_with_label_df[['target', 'prob_of_predict_1']]
    v1.sort_values(by=['prob_of_predict_1'], inplace=True)
    v1['Qcut'] = pd.qcut(v1['prob_of_predict_1'].rank(
    method='first'), q=20, labels=False)
    v1['SD'] = 20-(v1['Qcut'].astype(int))
    vl1 = v1.drop(['Qcut'], axis=1)
    vl1['Freq'] = vl1.groupby('SD')['target'].transform(np.sum)
    vl2 = vl1.drop(['target', 'prob_of_predict_1'], axis=1).drop_duplicates()
    vl2.sort_values(by=['SD'], inplace=True)
    vl2['Cumm Sum'] = vl2['Freq'].cumsum()
    vl2['Lift'] = vl2['Freq'].div(vl2['Freq'].sum(), axis=0).div(0.05)
    vl2['Cumm Lift'] = vl2['Cumm Sum'].div(
    vl2['Freq'].sum(), axis=0).div(vl2['SD']/20)
    vl2['Capture Rate'] = vl2['Lift']*5
    #vl2['Capture Rate_defintion'] = vl2['Freq']/vl2.iloc[19, 'Cumm Sum']
    vl2['Cummu Capture Rate'] = vl2['Capture Rate'].cumsum()

    # this is lift csv
    # vl2.to_csv("/lift_chart_{0}.csv".format(today))
    # vl2.to_csv(
    # f'lift_of_{model}_on_{datetime.today().strftime("%Y-%m-%d")}.csv')
    # print(f'lift_of_{model}_on_{datetime.today().strftime("%Y-%m-%d")}.csv')
    #print("Training process completed success")
    Magic_score= round(vl2.iloc[0, 6],2)
    print("Cumm Capture Rate on 1st SD is: ", Magic_score)
    #vl2[vl2['SD'] == 1, 'Lift'].iloc[0]
    return Magic_score



def lift_calc_pd(model, X_test, y_test,target_column): # , model_path
    """ this functions takes in the model
    test features, targets, will return the
    lift dataframe
    """
    prediction = model.predict_proba(X_test)
    print("output shape", prediction.shape)
    print("y_test shape:", y_test.shape)
    #Total_Actual_positive_targets=sum(y_test[target_column])
    #print('Total_Actual_positive_targets:',Total_Actual_positive_targets)


    prediction_df = pd.DataFrame(
    prediction, columns=['prob_of_predict_0', 'prob_of_predict_1'])
    y_df = pd.DataFrame(y_test, columns=[target_column])
    prediction_with_label_df = y_df.join(prediction_df.set_index(y_df.index))


    # Calculate lift on validation data
    v1 = prediction_with_label_df[[target_column, 'prob_of_predict_1']]
    v1.sort_values(by=['prob_of_predict_1'], inplace=True)
    v1['Qcut'] = pd.qcut(v1['prob_of_predict_1'].rank(
    method='first'), q=20, labels=False)
    v1['SD'] = 20-(v1['Qcut'].astype(int))


    vl1 = v1.drop(['Qcut'], axis=1)
    vl1['Freq'] = vl1.groupby('SD')[target_column].transform(np.sum)
    vl2 = vl1.drop([target_column, 'prob_of_predict_1'], axis=1).drop_duplicates()
    vl2.sort_values(by=['SD'], inplace=True)
    vl2['Cumm Sum'] = vl2['Freq'].cumsum()
    vl2['Lift'] = vl2['Freq'].div(vl2['Freq'].sum(), axis=0).div(0.05)
    vl2['Cumm Lift'] = vl2['Cumm Sum'].div(vl2['Freq'].sum(), axis=0).div(vl2['SD']/20)
    vl2['Capture Rate'] = vl2['Lift']*5
    vl2['Cummu Capture Rate'] = vl2['Capture Rate'].cumsum()
    # vl2['Capture_Rate_Defintion']= vl2['Freq']*100/Total_Actual_positive_targets
    # vl2['Cummu_Capture_Rate_Defintion']= vl2['Capture_Rate_Defintion'].cumsum()
    return pd.DataFrame(vl2)

In [51]:
# Test_lift=lift_calc_pd(model=modle_pickle,X_test=X_test_df
# ,y_test=DF[Target_col[0]],target_column=Target_col[0])

In [52]:
# Target_col[0]

In [53]:
# DF[Target_col[0]].value_counts()

In [54]:
# Test_lift

In [55]:
# Test_lift.to_csv('SHS_Churn_model_lift.csv',index=False)

In [56]:
# ID_DF=DF[ID_cols+Target_col]
# X_data=pd.concat([ID_DF,X_test_df],axis=1)

In [57]:
# X_data.head()

In [58]:
# X_data.columns

In [59]:
# # print(X_data.Package__Smart_Camera.sum()*100/X_data.shape[0])
# print(X_data.Package__Smart_Automation_Plus.sum()*100/X_data.shape[0])
# print(X_data.Package__Monitored.sum()*100/X_data.shape[0])

In [60]:
# x_SC=X_data[X_data.Package__Smart_Camera==1]
# # y_sc=x_SC[Target_col]


# Test_lift=lift_calc_pd(model=modle_pickle,X_test=x_SC[final_feature_cols]
# ,y_test=x_SC[Target_col[0]],target_column=Target_col[0])
# Test_lift.to_csv('Smart_Camera_Lift.csv',index=False)

In [61]:
# x_SC=X_data[X_data.Package__Smart_Automation_Plus==1]
# # y_sc=x_SC[Target_col]


# Test_lift=lift_calc_pd(model=modle_pickle,X_test=x_SC[final_feature_cols]
# ,y_test=x_SC[Target_col[0]],target_column=Target_col[0])
# Test_lift.to_csv('Smart_Automation_Plus_Lift.csv',index=False)

In [62]:
# x_SC=X_data[X_data.Package__Monitored==1]
# # y_sc=x_SC[Target_col]


# Test_lift=lift_calc_pd(model=modle_pickle,X_test=x_SC[final_feature_cols]
# ,y_test=x_SC[Target_col[0]],target_column=Target_col[0])
# Test_lift.to_csv('Monitored_Lift.csv',index=False)

In [63]:
# import shap
# x_SC=X_data[X_data.Package__Monitored==1]
# # model_shap = XGB_final_model.best_estimator_
# explainer = shap.TreeExplainer(modle_pickle)
# shap_values = explainer.shap_values(x_SC[final_feature_cols],check_additivity=False)
# #%%

# shap.summary_plot(shap_values, features=x_SC[final_feature_cols]
# , feature_names=final_feature_cols,show=False,max_display=15)

In [64]:
# import shap
# x_SC=X_data[X_data.Package__Monitored==1]
# # model_shap = XGB_final_model.best_estimator_
# explainer = shap.Explainer(modle_pickle)
# shap_values = explainer.shap_values(x_SC[final_feature_cols],check_additivity=False)
# # #%%

# shap.summary_plot(shap_values, features=x_SC[final_feature_cols]
# , feature_names=final_feature_cols,show=False,max_display=15)

In [65]:
# shap.plots.waterfall(shap_values[0])

In [66]:
# shap.plots._waterfall.waterfall_legacy(explainer.expected_value, shap_values[0])

In [67]:
# np.round(shap_values[[idx]],2)

In [68]:
# shap_values[idx]

In [69]:
# shap_values

In [70]:
# x_SC[final_feature_cols].iloc[[idx]]

In [71]:
# X_data.columns

In [72]:
# x_SC=X_data[(X_data.Package__Monitored==1) & (X_data.SMHM_Churn==1)]

In [73]:
final_feature_cols

['stv_count',
 'Best_Practices_1',
 'Avg_login_per_day',
 'product_mix_all',
 'Avg_FFH_ARPU',
 'ADT_migrated_customer',
 'diic_count',
 'Contract_start_months',
 'Best_Practices_2',
 'sing_count',
 'Tenure_months',
 'Avg_disarm_per_day',
 'Interactivity_flag',
 'ttv_count',
 'Best_Practices_6',
 'Avg_arm_per_day',
 'Best_Practices_4',
 'Best_Practices_3',
 'hsic_count',
 'Best_Practices_5',
 'Avg_SMHM_ARPU',
 'Package__Monitored',
 'Package__Smart_Automation_Plus',
 'Package__Smart_Camera',
 'Package__Unknown_Package',
 'contract_end_status__contract_expired',
 'contract_end_status__contract_expiring_after_90_days',
 'contract_end_status__contract_expiring_within_90_days',
 'login_consistency_cat__Heavy_User',
 'login_consistency_cat__Low_User',
 'login_consistency_cat__No_ADC_account',
 'login_consistency_cat__No_User',
 'arming_consistency_cat__Heavy_User',
 'arming_consistency_cat__Low_User',
 'arming_consistency_cat__No_ADC_account',
 'arming_consistency_cat__No_User']

In [ ]:
# pd.DataFrame(np.round(shap_values[[idx]],2),columns=final_feature_cols)

In [ ]:
# pd.DataFrame(x_SC[final_feature_cols].iloc[[idx]])

In [ ]:
# np.round(shap_values[[idx]],2).sum()

In [255]:
# plots the waterfall for the 6th observation. As optional input give waterfall_plot the number of features, in order to draw them all. Since all observations have the same number of features, the index of the second argument does not need to be adjusted.

In [256]:
# shap_values.base

In [257]:
# import shap
# x_SC=X_data[(X_data.Package__Monitored==1) & (X_data.SMHM_Churn==1)]
# # model_shap = XGB_final_model.best_estimator_
# explainer = shap.Explainer(modle_pickle)
# shap_values = explainer.shap_values(x_SC[final_feature_cols],check_additivity=False)
# # #%%

# shap.summary_plot(shap_values, features=x_SC[final_feature_cols]
# , feature_names=final_feature_cols,show=False,max_display=15)

In [258]:
# idx=10

# shap.plots._bar.bar_legacy(shap_values[idx],feature_names=final_feature_cols,show=True)

In [259]:
# x_SC[final_feature_cols].iloc[[idx]]

In [260]:
# shap.plots._waterfall.waterfall_legacy(explainer.expected_value, shap_values[idx],feature_names=final_feature_cols,max_display=10)

In [261]:
# shap.summary_plot(shap_values[0], x_SC[final_feature_cols], plot_type="bar")

In [262]:
# shap.summary_plot(shap_values[1], x_SC[final_feature_cols].iloc[[idx]], plot_type="bar")

In [263]:
# shap.plots.bar(shap_values[0])

In [264]:
# idx=20
# print(x_SC.iloc[[idx]])
# print(np.round(shap_values[[idx]],2))
# shap.summary_plot(shap_values[[idx]], features=x_SC[final_feature_cols].iloc[[idx]]
# , feature_names=final_feature_cols,show=True,max_display=15)

In [265]:
# DF.info()

In [266]:
# import shap
# # model_shap = XGB_final_model.best_estimator_
# explainer = shap.Explainer(modle_pickle)
# shap_values = explainer.shap_values(X_test_df,check_additivity=False)
# #%%

# shap.summary_plot(shap_values, features=X_test_df
# , feature_names=final_feature_cols,show=False,max_display=15)

In [74]:
column_order=list(X_test_df.columns.sort_values())

In [75]:
column_order

['ADT_migrated_customer',
 'Avg_FFH_ARPU',
 'Avg_SMHM_ARPU',
 'Avg_arm_per_day',
 'Avg_disarm_per_day',
 'Avg_login_per_day',
 'Best_Practices_1',
 'Best_Practices_2',
 'Best_Practices_3',
 'Best_Practices_4',
 'Best_Practices_5',
 'Best_Practices_6',
 'Contract_start_months',
 'Interactivity_flag',
 'Package__Monitored',
 'Package__Smart_Automation_Plus',
 'Package__Smart_Camera',
 'Package__Unknown_Package',
 'Tenure_months',
 'arming_consistency_cat__Heavy_User',
 'arming_consistency_cat__Low_User',
 'arming_consistency_cat__No_ADC_account',
 'arming_consistency_cat__No_User',
 'contract_end_status__contract_expired',
 'contract_end_status__contract_expiring_after_90_days',
 'contract_end_status__contract_expiring_within_90_days',
 'diic_count',
 'hsic_count',
 'login_consistency_cat__Heavy_User',
 'login_consistency_cat__Low_User',
 'login_consistency_cat__No_ADC_account',
 'login_consistency_cat__No_User',
 'product_mix_all',
 'sing_count',
 'stv_count',
 'ttv_count']

In [76]:
# shap.plots.waterfall(shap_values[x])

In [77]:
result_churn_model=pd.DataFrame(modle_pickle.predict_proba(X_test_df) [:,1])

In [78]:
result_churn_model.mean()*100

0    0.429091
dtype: float32

In [79]:
result_churn_model.head()

          0
0  0.000006
1  0.000012
2  0.000004
3  0.000006
4  0.000009

In [80]:
result_churn_model.columns=['Churn_score']

In [81]:
# All_cols= ID_cols + X_test_df.columns.to_list()
# ID_DF=DF[['Telus_ID','BAN','customer_id','contract_start_date','contract_end_date','Intial_activation_date']]
ID_DF=DF

In [82]:
X_test_df=X_test_df.reindex(columns=column_order,fill_value=0)

In [83]:
Full_DF=pd.concat([ID_DF,result_churn_model],axis=1)

In [84]:
# Full_DF=pd.concat([ID_DF,X_test_df,result_churn_model],axis=1)

In [85]:
Full_DF.head()

,Telus_ID,BAN,contract_start_date,contract_end_date,Intial_activation_date,contract_end_status,Contract_start_months,dealer_customer_id,customer_id,primary_login_id,...,shs_count,ttv_count,stv_count,diic_count,ban_2,Avg_SMHM_ARPU,Avg_FFH_ARPU,login_consistency_cat,arming_consistency_cat,Churn_score
0,106410811,605969386,2021-09-02,2024-09-02,2023-04-24,contract_expiring_after_90_days,19,None,<NA>,<NA>,...,1,0,0,0,None,0.0,0.0,No_ADC_account,No_ADC_account,0.000006
1,92913730,602743877,2020-12-22,2023-12-22,2020-12-21,contract_expiring_after_90_days,28,None,<NA>,<NA>,...,1,1,0,0,602743877,40.0,295.0,No_ADC_account,No_ADC_account,0.000012
2,101521376,604455365,2018-11-15,2021-11-15,2020-11-04,contract_expired,53,None,<NA>,<NA>,...,1,0,0,0,604455365,29.0,31.0,No_ADC_account,No_ADC_account,0.000004
3,106407097,605969049,2022-06-29,2027-06-29,2023-04-24,contract_expiring_after_90_days,10,None,<NA>,<NA>,...,1,0,0,0,None,0.0,0.0,No_ADC_account,No_ADC_account,0.000006
4,100627394,604241506,2020-12-29,2023-12-29,2020-12-28,contract_expiring_after_90_days,28,None,<NA>,<NA>,...,1,0,0,0,604241506,30.0,16.0,No_ADC_account,No_ADC_account,0.000009

In [86]:
Full_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671111 entries, 0 to 671110
Data columns (total 55 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Telus_ID                      671111 non-null  object
 1   BAN                           671111 non-null  object
 2   contract_start_date           456425 non-null  object
 3   contract_end_date             671111 non-null  object
 4   Intial_activation_date        671111 non-null  object
 5   contract_end_status           671111 non-null  object
 6   Contract_start_months         671111 non-null  Int64
 7   dealer_customer_id            496186 non-null  object
 8   customer_id                   496186 non-null  Int64
 9   primary_login_id              496186 non-null  Int64
 10  dealer_name                   671111 non-null  object
 11  join_date                     496186 non-null  object
 12  account_type_name             496186 non-null  object
 13  customer_type_name            496186 non-null  object
 14  Package                       671111 non-null  object
 15  Tenure_months                 671111 non-null  Int64
 16  Interactivity_flag            671111 non-null  Int64
 17  ADT_migrated_customer         671111 non-null  Int64
 18  Province_code                 671108 non-null  object
 19  customer_id_1                 474779 non-null  Int64
 20  Best_Practices_1              671111 non-null  Int64
 21  Best_Practices_2              671111 non-null  Int64
 22  Best_Practices_3              671111 non-null  Int64
 23  Best_Practices_4              671111 non-null  Int64
 24  Best_Practices_5              671111 non-null  Int64
 25  Best_Practices_6              671111 non-null  Int64
 26  Best_Practice_All             474779 non-null  Int64
 27  customer_id_2                 226506 non-null  Int64
 28  sum_arm_commands              226506 non-null  Int64
 29  sum_disarm_commands           226506 non-null  Int64
 30  number_days_arming_disarming  226506 non-null  Int64
 31  count_of_dates_arming         226506 non-null  Int64
 32  arming_consistency            226506 non-null  float64
 33  Avg_arm_per_day               671111 non-null  float64
 34  Avg_disarm_per_day            671111 non-null  float64
 35  customer_id_3                 382637 non-null  Int64
 36  sum_login_count               382637 non-null  Int64
 37  number_of_login_days          382637 non-null  Int64
 38  count_of_dates_login          382637 non-null  Int64
 39  login_consistency             671111 non-null  float64
 40  Avg_login_per_day             671111 non-null  float64
 41  ban_1                         671111 non-null  object
 42  product_mix_all               671111 non-null  Int64
 43  hsic_count                    671111 non-null  Int64
 44  sing_count                    671111 non-null  Int64
 45  shs_count                     671111 non-null  Int64
 46  ttv_count                     671111 non-null  Int64
 47  stv_count                     671111 non-null  Int64
 48  diic_count                    671111 non-null  Int64
 49  ban_2                         624995 non-null  object
 50  Avg_SMHM_ARPU                 671111 non-null  float64
 51  Avg_FFH_ARPU                  671111 non-null  float64
 52  login_consistency_cat         671111 non-null  object
 53  arming_consistency_cat        671111 non-null  object
 54  Churn_score                   671111 non-null  float32
dtypes: Int64(30), float32(1), float64(7), object(17)
memory usage: 298.3+ MB

In [87]:
Full_DF['ADT_migrated_customer'].head()

0    1
1    0
2    0
3    1
4    0
Name: ADT_migrated_customer, dtype: Int64

In [88]:
ADT_migrated_DF=Full_DF[Full_DF['ADT_migrated_customer']==1]

In [89]:
ADT_migrated_DF.to_csv('ADT_Migrated_customer.csv')

In [90]:
# Output_DF_1=Output_DF.merge(TEST_DF_FULL[ID_cols],on=ID_cols,how='left')

In [91]:
# Output_DF=pd.concat([ID_DF,result_churn_model],axis=1)

In [92]:
# Output_DF.head()

In [93]:
# Output_DF.columns=ID_cols+['Churn_score']

In [94]:
Full_DF['Churn_SD'] = pd.qcut(Full_DF['Churn_score'].rank(method='first',ascending=False), q=20, labels=False)+1

In [ ]:
Full_DF.to_csv('SHS_Model_all_base_features_with_Score_28April2023.csv')

In [95]:
Full_DF_HRC=Full_DF[Full_DF['Churn_SD']<=2]

In [96]:
Full_DF_HRC['Churn_score'].mean()*100

2.6403408497571945

In [97]:
Full_DF_HRC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67112 entries, 1748 to 671075
Data columns (total 56 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Telus_ID                      67112 non-null  object
 1   BAN                           67112 non-null  object
 2   contract_start_date           56348 non-null  object
 3   contract_end_date             67112 non-null  object
 4   Intial_activation_date        67112 non-null  object
 5   contract_end_status           67112 non-null  object
 6   Contract_start_months         67112 non-null  Int64
 7   dealer_customer_id            67112 non-null  object
 8   customer_id                   67112 non-null  Int64
 9   primary_login_id              67112 non-null  Int64
 10  dealer_name                   67112 non-null  object
 11  join_date                     67112 non-null  object
 12  account_type_name             67112 non-null  object
 13  customer_type_name            67112 non-null  object
 14  Package                       67112 non-null  object
 15  Tenure_months                 67112 non-null  Int64
 16  Interactivity_flag            67112 non-null  Int64
 17  ADT_migrated_customer         67112 non-null  Int64
 18  Province_code                 67112 non-null  object
 19  customer_id_1                 55980 non-null  Int64
 20  Best_Practices_1              67112 non-null  Int64
 21  Best_Practices_2              67112 non-null  Int64
 22  Best_Practices_3              67112 non-null  Int64
 23  Best_Practices_4              67112 non-null  Int64
 24  Best_Practices_5              67112 non-null  Int64
 25  Best_Practices_6              67112 non-null  Int64
 26  Best_Practice_All             55980 non-null  Int64
 27  customer_id_2                 9699 non-null   Int64
 28  sum_arm_commands              9699 non-null   Int64
 29  sum_disarm_commands           9699 non-null   Int64
 30  number_days_arming_disarming  9699 non-null   Int64
 31  count_of_dates_arming         9699 non-null   Int64
 32  arming_consistency            9699 non-null   float64
 33  Avg_arm_per_day               67112 non-null  float64
 34  Avg_disarm_per_day            67112 non-null  float64
 35  customer_id_3                 29385 non-null  Int64
 36  sum_login_count               29385 non-null  Int64
 37  number_of_login_days          29385 non-null  Int64
 38  count_of_dates_login          29385 non-null  Int64
 39  login_consistency             67112 non-null  float64
 40  Avg_login_per_day             67112 non-null  float64
 41  ban_1                         67112 non-null  object
 42  product_mix_all               67112 non-null  Int64
 43  hsic_count                    67112 non-null  Int64
 44  sing_count                    67112 non-null  Int64
 45  shs_count                     67112 non-null  Int64
 46  ttv_count                     67112 non-null  Int64
 47  stv_count                     67112 non-null  Int64
 48  diic_count                    67112 non-null  Int64
 49  ban_2                         65585 non-null  object
 50  Avg_SMHM_ARPU                 67112 non-null  float64
 51  Avg_FFH_ARPU                  67112 non-null  float64
 52  login_consistency_cat         67112 non-null  object
 53  arming_consistency_cat        67112 non-null  object
 54  Churn_score                   67112 non-null  float32
 55  Churn_SD                      67112 non-null  int64
dtypes: Int64(30), float32(1), float64(7), int64(1), object(17)
memory usage: 30.8+ MB

In [105]:
Full_DF_HRC['Churn_score'].mean()*100

2.6403408497571945

In [106]:
Full_DF_HRC['Churn_score'].max()

0.73965335

In [107]:
Full_DF['Churn_score'].mean()*100

0.4290907643735409

In [108]:
Full_DF_HRC=Full_DF_HRC.sort_values('Churn_score',ascending=False)

In [109]:
Full_DF_HRC.head()

,Telus_ID,BAN,contract_start_date,contract_end_date,Intial_activation_date,contract_end_status,Contract_start_months,dealer_customer_id,customer_id,primary_login_id,...,ttv_count,stv_count,diic_count,ban_2,Avg_SMHM_ARPU,Avg_FFH_ARPU,login_consistency_cat,arming_consistency_cat,Churn_score,Churn_SD
266653,106238968,605888392,2023-04-12,2028-04-12,2023-04-12,contract_expiring_after_90_days,0,106238968,15774108,18702542,...,0,0,1,605888392,408.0,440.0,No_User,Low_User,0.739653,1
266778,106270372,605903140,2023-04-11,2026-04-11,2023-04-11,contract_expiring_after_90_days,0,106270372,15764789,18691024,...,0,0,1,605903140,395.0,416.0,No_User,Low_User,0.650265,1
120446,90104069,602307540,2020-02-22,2023-02-22,2023-04-10,contract_expired,38,90104069,15762419,18687852,...,0,0,1,602307540,154.0,151.0,No_User,No_User,0.649141,1
259178,106284837,605910074,2020-03-01,2023-03-01,2023-04-13,contract_expired,37,106284837,15780756,18710877,...,0,0,1,605910074,81.0,581.0,No_User,Low_User,0.566070,1
223427,79648468,601849037,None,9999-12-31,2023-04-20,contract_expired,0,79648468,15821900,18762115,...,1,0,1,601849037,54.0,388.0,No_User,No_User,0.557961,1

In [110]:
Full_DF_HRC.sort_values('Churn_score',ascending=False,inplace=True)

In [113]:
Full_DF_HRC.to_csv('SHS_Model_Topdecile_All_features_with_Score_28April2023.csv',index=False)

In [ ]:
# config= bigquery.job.LoadJobConfig()

# # config._properties['timePartitioning'] = {'field': 'Month_Year'}
# config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

# Table_BQ = 'SHS.SHS_Model_score_top_decile'

# bq_table_instance= bq_client.load_table_from_dataframe(Full_DF_HRC, Table_BQ,job_config=config)