In [55]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [56]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [63]:
print(pd.to_datetime('22SEP2021:00:00:00', format='%d%b%Y:%H:%M:%S').strftime('%Y-%m-%d'))

2021-09-22

In [22]:
# Query='''



# With Telus_customers_prev as(

# select cust_bus_cust_id,pi_cntrct_end_ts as contract_end_date,pi_cntrct_start_ts as contract_start_date
# from `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` 
# WHERE DATE(prod_instnc_ts) = '2022-0' #Snapshot of the last day of the month
# and pi_prod_instnc_typ_cd ='SMHM' #Serice type
# and bus_prod_instnc_src_id = 1001 #BANs that are for home services
# and pi_prod_instnc_stat_cd in ('A')
# and  consldt_cust_typ_cd = 'R'
# QUALIFY ROW_NUMBER() OVER (PARTITION BY cust_bus_cust_id ORDER BY prod_instnc_ts DESC) = 1
# order by cust_bus_cust_id

# )



# '''

In [23]:
Campaign_Query='''


select *
from `cio-datahub-enterprise-pr-183a.ent_cust_intractn.bq_ffh_dbm`
where REGEXP_CONTAINS (creative_cd, r'ALR[1-9]_')
and cmpgn_cd='ALR' 

'''

In [24]:
Camp_DF=extract_bq_data(bq_client, sql=Campaign_Query)

In [25]:
Camp_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107512 entries, 0 to 107511
Data columns (total 81 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   seg_id                   107512 non-null  object
 1   cmpgn_id                 107512 non-null  object
 2   lang_cd                  107512 non-null  object
 3   seg_desc                 107512 non-null  object
 4   vndr_cd                  107512 non-null  object
 5   vndr_cd_desc             107512 non-null  object
 6   cntct_med                107512 non-null  object
 7   cntct_med_desc           107512 non-null  object
 8   ctrl_flg                 107512 non-null  object
 9   creative_cd              107512 non-null  object
 10  creative_grp             0 non-null       object
 11  creative_desc            0 non-null       object
 12  in_hm_dt                 107512 non-null  datetime64[ns, UTC]
 13  rqst_id                  107512 non-null  object
 14  lob_cd                   107512 non-null  object
 15  lob_desc                 107512 non-null  object
 16  seg_cd                   0 non-null       object
 17  trtmt_cd                 0 non-null       object
 18  offr_cd                  0 non-null       object
 19  audit_cd                 0 non-null       object
 20  camp_seg_del_ind         107512 non-null  object
 21  camp_seg_create_ts       107512 non-null  datetime64[ns, UTC]
 22  camp_seg_last_updt_ts    107512 non-null  datetime64[ns, UTC]
 23  pull_dt                  107512 non-null  datetime64[ns, UTC]
 24  excl_cntrct_strat        107512 non-null  object
 25  journey_seq_id           0 non-null       object
 26  journey_parent_id        0 non-null       object
 27  trkg_src                 107512 non-null  object
 28  trkg_cd                  107512 non-null  object
 29  list_num                 107512 non-null  object
 30  list_gen_stat            107512 non-null  object
 31  cmpgn_catgy              107512 non-null  object
 32  cmpgn_catgy_desc         107512 non-null  object
 33  cmpgn_cd                 107512 non-null  object
 34  cmpgn_cd_desc            107512 non-null  object
 35  one_src_link             0 non-null       object
 36  cmpgn_desc               107512 non-null  object
 37  cmpgn_typ                107512 non-null  object
 38  cmpgn_typ_desc           107512 non-null  object
 39  data_prime               107512 non-null  object
 40  bus_prime                107512 non-null  object
 41  camp_desc_audit_cd       0 non-null       object
 42  camp_desc_del_ind        107512 non-null  object
 43  camp_desc_create_ts      107512 non-null  datetime64[ns, UTC]
 44  camp_desc_last_updt_ts   107512 non-null  datetime64[ns, UTC]
 45  em_mstr_dl               0 non-null       object
 46  sms_mstr_dl              0 non-null       object
 47  trkg_id                  107512 non-null  Int64
 48  camp_ts                  107512 non-null  datetime64[ns, UTC]
 49  ffh_cust_id              107512 non-null  object
 50  ffh_ban                  107512 non-null  object
 51  subsc_num                0 non-null       object
 52  email_id                 107512 non-null  object
 53  addr_id                  0 non-null       object
 54  fms_addr_id              107512 non-null  object
 55  lang_pref_cd             0 non-null       object
 56  first_nm                 107512 non-null  object
 57  crtc_cmplnc_dt           0 non-null       dbdate
 58  sent_ts                  0 non-null       datetime64[ns, UTC]
 59  camp_comm_audit_cd       0 non-null       object
 60  camp_comm_del_ind        107512 non-null  object
 61  camp_comm_create_ts      107512 non-null  datetime64[ns, UTC]
 62  camp_comm_last_updt_ts   107512 non-null  datetime64[ns, UTC]
 63  tel_num                  107512 non-null  object
 64  mob_cust_id              0 non-null       object
 65  mob_ban                  0 non-null       object
 66  ai_seg_id                0 non-null       Int64
 67  predict_convrsn          0 non-null       float64
 68  bus_prod_instnc_id       107254 non-null  object
 69  bus_prod_instnc_src_id   107254 non-null  Int64
 70  bus_cust_id              107254 non-null  object
 71  bus_cust_src_id          107254 non-null  Int64
 72  bus_bacct_num            107254 non-null  Int64
 73  bus_bacct_num_src_id     107254 non-null  Int64
 74  bus_pp_catlg_itm_cd      107254 non-null  object
 75  bus_pp_catlg_itm_src_id  107254 non-null  Int64
 76  src_create_dt            107512 non-null  dbdate
 77  create_ts                107512 non-null  datetime64[ns, UTC]
 78  create_user_id           107512 non-null  object
 79  last_updt_ts             107512 non-null  datetime64[ns, UTC]
 80  last_updt_user_id        107512 non-null  object
dtypes: Int64(7), datetime64[ns, UTC](12), dbdate(2), float64(1), object(59)
memory usage: 67.2+ MB

In [26]:
Camp_DF['in_hm_dt'].value_counts()

2022-10-26 00:00:00+00:00    4862
2022-05-11 00:00:00+00:00    4356
2022-11-02 00:00:00+00:00    4317
2022-07-06 00:00:00+00:00    4310
2022-11-09 00:00:00+00:00    3769
2022-05-04 00:00:00+00:00    3408
2022-08-03 00:00:00+00:00    3394
2022-11-16 00:00:00+00:00    3266
2022-08-10 00:00:00+00:00    3201
2022-05-25 00:00:00+00:00    2857
2022-07-20 00:00:00+00:00    2791
2022-04-13 00:00:00+00:00    2663
2022-11-23 00:00:00+00:00    2636
2022-04-20 00:00:00+00:00    2542
2022-07-27 00:00:00+00:00    2436
2022-03-30 00:00:00+00:00    2404
2022-06-01 00:00:00+00:00    2370
2022-03-16 00:00:00+00:00    2331
2022-06-08 00:00:00+00:00    2245
2022-04-27 00:00:00+00:00    2215
2022-06-22 00:00:00+00:00    2182
2022-03-23 00:00:00+00:00    2083
2022-11-30 00:00:00+00:00    2075
2022-06-29 00:00:00+00:00    1770
2022-10-12 00:00:00+00:00    1745
2021-10-13 00:00:00+00:00    1716
2022-12-07 00:00:00+00:00    1576
2022-03-02 00:00:00+00:00    1468
2022-08-31 00:00:00+00:00    1378
2022-01-11 00:00:00+00:00    1340
2022-02-23 00:00:00+00:00    1303
2022-02-16 00:00:00+00:00    1268
2021-10-06 00:00:00+00:00    1262
2022-07-13 00:00:00+00:00    1257
2022-04-06 00:00:00+00:00    1197
2021-11-04 00:00:00+00:00    1188
2021-09-29 00:00:00+00:00    1132
2022-05-18 00:00:00+00:00    1129
2022-12-14 00:00:00+00:00    1117
2022-06-15 00:00:00+00:00    1085
2022-01-19 00:00:00+00:00    1024
2022-10-05 00:00:00+00:00    1015
2022-09-28 00:00:00+00:00     881
2022-08-24 00:00:00+00:00     814
2022-01-05 00:00:00+00:00     798
2021-09-22 00:00:00+00:00     797
2022-03-09 00:00:00+00:00     767
2021-11-17 00:00:00+00:00     760
2022-12-21 00:00:00+00:00     732
2021-10-20 00:00:00+00:00     728
2022-02-02 00:00:00+00:00     682
2022-10-19 00:00:00+00:00     669
2022-02-09 00:00:00+00:00     585
2021-10-28 00:00:00+00:00     560
2022-09-07 00:00:00+00:00     537
2021-11-24 00:00:00+00:00     492
2022-08-17 00:00:00+00:00     459
2022-09-21 00:00:00+00:00     427
2022-12-28 00:00:00+00:00     404
2021-12-01 00:00:00+00:00     399
2021-12-08 00:00:00+00:00     342
2022-09-14 00:00:00+00:00     323
2021-12-29 00:00:00+00:00     321
2021-12-22 00:00:00+00:00     268
2021-12-15 00:00:00+00:00     198
2023-01-04 00:00:00+00:00     179
2023-01-11 00:00:00+00:00     152
2023-01-18 00:00:00+00:00     146
2023-01-25 00:00:00+00:00     145
2023-02-08 00:00:00+00:00     127
2023-02-01 00:00:00+00:00     125
2021-11-10 00:00:00+00:00      12
Name: in_hm_dt, dtype: int64

In [27]:
Camp_DF['creative_cd'].value_counts()

ALR1_TP1        27167
ALR1_TP2        13124
ALR1_TP3        11789
ALR1_TP4        10802
ALR1_TP1X        8170
ALR1_TP2X        7388
ALR1_TP5_V2      6944
ALR1_TP3X        6496
ALR1_TP4X        5827
ALR1_TP5X_V2     3294
ALR1_TP5_V4      2106
ALR1_TP5_V3      2091
ALR1_TP5X_V3      906
ALR1_TP5X_V4      826
ALR1_TP5_V1       389
ALR1_TP5X_V1      193
Name: creative_cd, dtype: int64

In [28]:
Camp_DF['cmpgn_typ_desc'].value_counts()

SHS    107512
Name: cmpgn_typ_desc, dtype: int64

In [30]:
pd.DataFrame(Camp_DF.groupby(['creative_cd']).agg(
    
    Customer_count= ('bus_bacct_num','count'),
    campaign_date_min=('in_hm_dt','min'),
    campaign_date_max=('in_hm_dt','max')

    
    # # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
    # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
).reset_index())

,creative_cd,Customer_count,campaign_date_min,campaign_date_max
0,ALR1_TP1,27111,2021-09-22 00:00:00+00:00,2023-02-08 00:00:00+00:00
1,ALR1_TP1X,8154,2021-09-29 00:00:00+00:00,2023-02-08 00:00:00+00:00
2,ALR1_TP2,13091,2021-09-29 00:00:00+00:00,2023-02-08 00:00:00+00:00
3,ALR1_TP2X,7372,2021-10-06 00:00:00+00:00,2023-02-08 00:00:00+00:00
4,ALR1_TP3,11757,2021-10-06 00:00:00+00:00,2023-02-08 00:00:00+00:00
5,ALR1_TP3X,6478,2021-10-13 00:00:00+00:00,2023-02-08 00:00:00+00:00
6,ALR1_TP4,10775,2021-10-13 00:00:00+00:00,2023-02-08 00:00:00+00:00
7,ALR1_TP4X,5809,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
8,ALR1_TP5X_V1,193,2021-11-04 00:00:00+00:00,2023-02-08 00:00:00+00:00
9,ALR1_TP5X_V2,3280,2021-10-28 00:00:00+00:00,2023-02-08 00:00:00+00:00
10,ALR1_TP5X_V3,906,2021-10-28 00:00:00+00:00,2023-02-08 00:00:00+00:00
11,ALR1_TP5X_V4,826,2021-11-24 00:00:00+00:00,2023-02-08 00:00:00+00:00
12,ALR1_TP5_V1,389,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
13,ALR1_TP5_V2,6921,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
14,ALR1_TP5_V3,2088,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
15,ALR1_TP5_V4,2104,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00

In [33]:
pd.DataFrame(Camp_DF.groupby(['creative_cd','ctrl_flg']).agg(
    
    Customer_count= ('bus_bacct_num','count'),
    campaign_date_min=('in_hm_dt','min'),
    campaign_date_max=('in_hm_dt','max')

    
    # # Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_4.shape[0])
    # Churn_total=('Telus_Churn_Flag',lambda x: x.sum()),
    # Churn_rate=('Telus_Churn_Flag',lambda x: x.mean()*100)
).reset_index())

,creative_cd,ctrl_flg,Customer_count,campaign_date_min,campaign_date_max
0,ALR1_TP1,N,15014,2021-09-22 00:00:00+00:00,2023-02-08 00:00:00+00:00
1,ALR1_TP1,Y,12097,2021-09-22 00:00:00+00:00,2023-02-08 00:00:00+00:00
2,ALR1_TP1X,N,7714,2021-09-29 00:00:00+00:00,2023-02-08 00:00:00+00:00
3,ALR1_TP1X,Y,440,2021-11-04 00:00:00+00:00,2023-02-08 00:00:00+00:00
4,ALR1_TP2,N,12550,2021-09-29 00:00:00+00:00,2023-02-08 00:00:00+00:00
5,ALR1_TP2,Y,541,2021-09-29 00:00:00+00:00,2023-01-25 00:00:00+00:00
6,ALR1_TP2X,N,7123,2021-10-06 00:00:00+00:00,2023-02-08 00:00:00+00:00
7,ALR1_TP2X,Y,249,2021-10-13 00:00:00+00:00,2023-02-08 00:00:00+00:00
8,ALR1_TP3,N,11364,2021-10-06 00:00:00+00:00,2023-02-08 00:00:00+00:00
9,ALR1_TP3,Y,393,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
10,ALR1_TP3X,N,6315,2021-10-13 00:00:00+00:00,2023-02-08 00:00:00+00:00
11,ALR1_TP3X,Y,163,2021-12-01 00:00:00+00:00,2023-02-08 00:00:00+00:00
12,ALR1_TP4,N,10412,2021-10-13 00:00:00+00:00,2023-02-08 00:00:00+00:00
13,ALR1_TP4,Y,363,2021-10-13 00:00:00+00:00,2023-02-08 00:00:00+00:00
14,ALR1_TP4X,N,5652,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
15,ALR1_TP4X,Y,157,2022-04-27 00:00:00+00:00,2023-02-08 00:00:00+00:00
16,ALR1_TP5X_V1,N,179,2021-11-04 00:00:00+00:00,2023-02-08 00:00:00+00:00
17,ALR1_TP5X_V1,Y,14,2022-11-09 00:00:00+00:00,2023-02-08 00:00:00+00:00
18,ALR1_TP5X_V2,N,3214,2021-10-28 00:00:00+00:00,2023-02-08 00:00:00+00:00
19,ALR1_TP5X_V2,Y,66,2022-06-01 00:00:00+00:00,2023-02-08 00:00:00+00:00
20,ALR1_TP5X_V3,N,906,2021-10-28 00:00:00+00:00,2023-02-08 00:00:00+00:00
21,ALR1_TP5X_V4,N,826,2021-11-24 00:00:00+00:00,2023-02-08 00:00:00+00:00
22,ALR1_TP5_V1,N,370,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
23,ALR1_TP5_V1,Y,19,2022-01-11 00:00:00+00:00,2023-02-08 00:00:00+00:00
24,ALR1_TP5_V2,N,6613,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
25,ALR1_TP5_V2,Y,308,2021-11-04 00:00:00+00:00,2023-02-08 00:00:00+00:00
26,ALR1_TP5_V3,N,1998,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
27,ALR1_TP5_V3,Y,90,2021-12-15 00:00:00+00:00,2023-02-08 00:00:00+00:00
28,ALR1_TP5_V4,N,1946,2021-10-20 00:00:00+00:00,2023-02-08 00:00:00+00:00
29,ALR1_TP5_V4,Y,158,2022-01-11 00:00:00+00:00,2023-02-08 00:00:00+00:00

In [32]:
Camp_DF['seg_desc'].value_counts()

SHS Recontracting Journey 1.0    107512
Name: seg_desc, dtype: int64

In [42]:
Camp_DF[Camp_DF.creative_cd=='ALR1_TP5_V2']['in_hm_dt'].value_counts().sort_index()

2021-10-20 00:00:00+00:00      2
2021-10-28 00:00:00+00:00      3
2021-11-04 00:00:00+00:00      8
2021-11-17 00:00:00+00:00     16
2021-11-24 00:00:00+00:00      4
2021-12-01 00:00:00+00:00      6
2021-12-08 00:00:00+00:00     11
2021-12-15 00:00:00+00:00      4
2021-12-22 00:00:00+00:00      6
2021-12-29 00:00:00+00:00     13
2022-01-05 00:00:00+00:00      7
2022-01-11 00:00:00+00:00    675
2022-03-02 00:00:00+00:00      1
2022-03-09 00:00:00+00:00      3
2022-03-16 00:00:00+00:00     17
2022-03-23 00:00:00+00:00     15
2022-03-30 00:00:00+00:00     18
2022-04-06 00:00:00+00:00     13
2022-04-13 00:00:00+00:00     51
2022-04-20 00:00:00+00:00     75
2022-04-27 00:00:00+00:00     83
2022-05-04 00:00:00+00:00    118
2022-05-11 00:00:00+00:00    207
2022-05-18 00:00:00+00:00     15
2022-05-25 00:00:00+00:00    190
2022-06-01 00:00:00+00:00    116
2022-06-08 00:00:00+00:00    144
2022-06-15 00:00:00+00:00     64
2022-06-22 00:00:00+00:00    141
2022-06-29 00:00:00+00:00    126
2022-07-06 00:00:00+00:00    280
2022-07-13 00:00:00+00:00     63
2022-07-20 00:00:00+00:00    178
2022-07-27 00:00:00+00:00    155
2022-08-03 00:00:00+00:00    225
2022-08-10 00:00:00+00:00    193
2022-08-17 00:00:00+00:00     11
2022-08-24 00:00:00+00:00     39
2022-08-31 00:00:00+00:00     68
2022-09-07 00:00:00+00:00     13
2022-09-14 00:00:00+00:00      9
2022-09-21 00:00:00+00:00     15
2022-09-28 00:00:00+00:00     45
2022-10-05 00:00:00+00:00     37
2022-10-12 00:00:00+00:00    113
2022-10-19 00:00:00+00:00     46
2022-10-26 00:00:00+00:00    346
2022-11-02 00:00:00+00:00    357
2022-11-09 00:00:00+00:00    332
2022-11-16 00:00:00+00:00    435
2022-11-23 00:00:00+00:00    491
2022-11-30 00:00:00+00:00    392
2022-12-07 00:00:00+00:00    339
2022-12-14 00:00:00+00:00    282
2022-12-21 00:00:00+00:00    206
2022-12-28 00:00:00+00:00     30
2023-01-04 00:00:00+00:00     20
2023-01-11 00:00:00+00:00     20
2023-01-18 00:00:00+00:00     14
2023-01-25 00:00:00+00:00     12
2023-02-01 00:00:00+00:00     15
2023-02-08 00:00:00+00:00     11
Name: in_hm_dt, dtype: int64

In [31]:
config= bigquery.job.LoadJobConfig()

# config._properties['timePartitioning'] = {'field': 'Month_Year'}
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'SHS.SHS_ALR_Campaign_data'

bq_table_instance= bq_client.load_table_from_dataframe(Camp_DF, Table_BQ,job_config=config)

/opt/conda/lib/python3.8/site-packages/google/cloud/bigquery/_pandas_helpers.py:558: UserWarning: Pyarrow could not determine the type of columns: creative_grp, creative_desc, seg_cd, trtmt_cd, offr_cd, audit_cd, journey_seq_id, journey_parent_id, one_src_link, camp_desc_audit_cd, em_mstr_dl, sms_mstr_dl, subsc_num, addr_id, lang_pref_cd, camp_comm_audit_cd, mob_cust_id, mob_ban.
  warnings.warn(

In [91]:
Camp_SAS=pd.read_csv('SHS_ALR_Campaign.csv')

In [97]:
Camp_SAS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107385 entries, 0 to 107384
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   TRACKING                107385 non-null  object
 1   CAMP_INHOME             107385 non-null  object
 2   CAMP_ID                 107385 non-null  object
 3   DBM_VERSION             107385 non-null  object
 4   DBM_VERSION_DESC        0 non-null       float64
 5   CAMP_MODEL_DECILE       0 non-null       float64
 6   MISC_INFO1              0 non-null       float64
 7   MISC_INFO2              0 non-null       float64
 8   MISC_INFO3              0 non-null       float64
 9   MISC_INFO4              0 non-null       float64
 10  CAMP_CREATIVE           107385 non-null  object
 11  CAMP_CREATIVE_DESC      0 non-null       float64
 12  CAMP_TEST               107385 non-null  object
 13  DBM_PRIME               107385 non-null  object
 14  CAMP_CONTACT            107385 non-null  object
 15  CAMP_FILE               107385 non-null  int64
 16  REQUEST_ID              0 non-null       float64
 17  DATE_ADDED_TO_CONTACTS  107385 non-null  object
 18  MOB_CAMPAIGN_NUM        0 non-null       float64
 19  MOB_LIST_NUM            0 non-null       float64
 20  VENDOR_CODE             107385 non-null  object
 21  EPP_IND                 107385 non-null  int64
 22  AGE_MARKET_SEG          0 non-null       float64
 23  AGE_BAND                93004 non-null   object
 24  MEASURE_BASE            107385 non-null  object
 25  CUST_ID                 107385 non-null  int64
 26  BACCT_NUM               107385 non-null  int64
 27  TELENO                  0 non-null       float64
 28  CAMP_EMAIL              107385 non-null  object
 29  FMS_ADDRESS_ID          107385 non-null  object
 30  TRACKING_ID             107385 non-null  int64
 31  AI_SEGMENT_ID           0 non-null       float64
 32  SEGMENT_ID              107385 non-null  int64
 33  DELIVERED               107382 non-null  float64
 34  OPENED                  107382 non-null  float64
 35  CLICKTHROUGH            107382 non-null  float64
 36  SOFTBOUNCE              107382 non-null  float64
 37  HARDBOUNCE              107382 non-null  float64
 38  UNSUBSCRIBE             107382 non-null  float64
 39  CREATE_TS               107385 non-null  object
 40  LAST_UPDT_TS            107385 non-null  object
 41  DEVICE                  32053 non-null   object
 42  OPERATINGSYSTEM         30063 non-null   object
 43  EMAILCLIENT             23372 non-null   object
 44  CAMP_KEY                107385 non-null  object
 45  LPDS_ID                 0 non-null       float64
 46  LIST_GEN_STATUS         107385 non-null  int64
 47  MIN_EVENT_DATE          89863 non-null   object
 48  MAX_EVENT_DATE          89863 non-null   object
 49  SNET_PREMISE_TYPE_CD    105188 non-null  object
 50  LIST_NUMBER             107385 non-null  int64
 51  Campaign_date           107385 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(20), int64(8), object(23)
memory usage: 42.6+ MB

In [93]:
def date_converter(x):
    try:
        return(pd.to_datetime(x, format='%d%b%Y:%H:%M:%S'))
    except:
        return x

In [94]:
# from datetime import datetime

# pd.to_datetime('22SEP2021:00:00:00', format='%d%b%Y:%H:%M:%S').strftime('%Y-%m-%d')

# datetime.strptime('22SEP2021:00:00:00', '%d%b%Y:%H:%M:%S').strftime('%Y-%m-%d')

In [95]:
Camp_SAS['Campaign_date']=Camp_SAS['CAMP_INHOME'].apply(date_converter)

In [96]:
Camp_SAS[Camp_SAS.Campaign_date>='2021-09-22']['CAMP_CREATIVE'].value_counts().sort_index()

ALR1_TP1        27154
ALR1_TP1X        8167
ALR1_TP2        13118
ALR1_TP2X        7383
ALR1_TP3        11769
ALR1_TP3X        6485
ALR1_TP4        10789
ALR1_TP4X        5813
ALR1_TP5X_V1      191
ALR1_TP5X_V2     3280
ALR1_TP5X_V3      903
ALR1_TP5X_V4      823
ALR1_TP5_V1       387
ALR1_TP5_V2      6933
ALR1_TP5_V3      2087
ALR1_TP5_V4      2103
Name: CAMP_CREATIVE, dtype: int64

In [98]:
config= bigquery.job.LoadJobConfig()

# config._properties['timePartitioning'] = {'field': 'Month_Year'}
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'SHS.SHS_ALR_Campaign_data_SAS'

bq_table_instance= bq_client.load_table_from_dataframe(Camp_SAS, Table_BQ,job_config=config)