In [1]:
#### import global modules
import os
import sys
import pandas as pd
import numpy as np
from pathlib import Path
from yaml import safe_load
import google.oauth2.credentials
from google.cloud import bigquery
import gc

# Set global vars
pth_project = Path(os.getcwd().split('notebooks')[0])
pth_data = pth_project / 'data'
pth_queries = pth_project / 'core' / 'queries'
pth_creds = pth_project / 'conf' / 'local' / 'project_config.yaml'
sys.path.insert(0, str(pth_project))
d_project_config = safe_load(pth_creds.open())
# d_params = safe_load((pth_project / 'core' / 'parameters' / 'common.yaml').open())['data_extract']

# import local modules
from core.utils.gcp import connect_bq_services
# from core.etl.extract import extract_bq_data, extract_pr_codes, format_conv_df, filter_convs

# Connect to google services
bq_client = connect_bq_services(d_project_config['gcp-project-name'])
pd.options.display.max_rows = 100

In [2]:
def extract_bq_data(bq_client, sql=None, pth_query=None):
    if sql is not None:
        df = bq_client.query(sql).to_dataframe()
    elif pth_query is not None:
        sql = pth_query.read_text()
        df = bq_client.query(sql).to_dataframe()
    else:
        raise ValueError('`sql` or `pth_query` should be set')  
    return df

In [3]:
# Customer_Details_Query='''

# SELECT customer_id,dealer_customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,primary_email,primary_phone,last_updt_ts
# FROM `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_account_details` 
# --where last_updt_ts >='2022-08-01'  and last_updt_ts < '2022-10-01'
# where date(last_updt_ts) ='2022-11-30'
# and date(join_date)<'2022-09-01'
# and account_type_name!='Standalone'
# and dealer_name in ('TELUS Communications Inc.','ADT by TELUS')
# --and customer_type_name='Customer'
# QUALIFY ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY last_updt_ts DESC) = 1
# order by dealer_name,join_date,customer_id

# '''

In [4]:
All_resi_customers='''


with ADC_Customer_Base as (

SELECT customer_id,dealer_customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,primary_email,primary_phone,last_updt_ts
FROM `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_account_details` 
where date(last_updt_ts) ='2022-10-31'
--and date(join_date)<'2022-08-01'
and account_type_name!='Standalone'
--and dealer_name in ('TELUS Communications Inc.','ADT by TELUS')
--and customer_type_name='Customer'
QUALIFY ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY last_updt_ts DESC) = 1
order by dealer_name,join_date,customer_id


)



, Telus_Customer_Base as (

SELECT customer_id,'Telus_Customer' as Dealer_type_flag,COUNT(*) OVER (PARTITION BY 1) as RowCnt, Telus_Churn_Flag as Churn_flag 
FROM `divgpras-pr-579355.SHS.ADC_SMHM_CustomerBase_OCT2022` 
)


, ADT_Customer_Base as (

SELECT customer_id,'ADT_Customer' as Dealer_type_flag,COUNT(*) OVER (PARTITION BY 1) as RowCnt 
FROM `divgpras-pr-579355.ADC_updated.ADC_ADT_mapping` 
)


,ADT_Base_with_Churn as (


select a.customer_id, 'ADT_Customer' as Dealer_type_flag,COUNT(*) OVER (PARTITION BY 1) as RowCnt,b.ADT_Churn_flag as Churn_flag

from `divgpras-pr-579355.ADC_updated.ADC_ADT_mapping` a 
LEFT JOIN `divgpras-pr-579355.ADC_updated.ADT_Churn_Nov2022` b
ON a.customer_id=b.CustomerId
)

, Union_data as (

SELECT * from Telus_Customer_Base
UNION ALL
SELECT * from ADT_Base_with_Churn

)

,Merge_data as (

SELECT * from ADC_Customer_Base a
INNER JOIN Union_data b

on a.customer_id=b.customer_id
order by Dealer_type_flag
)

select * from Merge_data



'''

In [5]:
# SHS_Churn_Nov_2022=pd.read_csv('/home/jupyter/ADC/notebooks/SMHH_CHURN_NOV2022.csv')

In [6]:
# SHS_Churn_Nov_2022.info()

In [7]:
# SHS_Churn_Nov_2022['Telus_Churn_flag']=1

In [8]:
# ADT_Churn_Nov2022=pd.read_csv('/home/jupyter/ADC/notebooks/ADT_Churn_Nov22.csv')

In [9]:
# ADT_Churn_Nov2022['ADT_Churn_flag']=1

In [10]:
# ADT_Churn_Nov2022.head()

In [11]:
# config= bigquery.job.LoadJobConfig()

# # config._properties['timePartitioning'] = {'field': 'Month_Year'}
# config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

# Table_BQ = 'ADC_updated.ADT_Churn_Nov2022'

# bq_table_instance= bq_client.load_table_from_dataframe(ADT_Churn_Nov2022, Table_BQ,job_config=config)

In [12]:
# config= bigquery.job.LoadJobConfig()

# # config._properties['timePartitioning'] = {'field': 'Month_Year'}
# config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

# Table_BQ = 'ADC_updated.SHS_Churn_Nov_2022'

# bq_table_instance= bq_client.load_table_from_dataframe(SHS_Churn_Nov_2022, Table_BQ,job_config=config)

In [13]:
Customer_DF=extract_bq_data(bq_client, sql=All_resi_customers)

In [14]:
# config= bigquery.job.LoadJobConfig()

# # config._properties['timePartitioning'] = {'field': 'Month_Year'}
# config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

# Table_BQ = 'ADC.Customer_details_30Sep2022'

# bq_table_instance= bq_client.load_table_from_dataframe(Customer_DF, Table_BQ,job_config=config)

In [15]:
Customer_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487169 entries, 0 to 487168
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         487169 non-null  Int64
 1   dealer_customer_id  487169 non-null  object
 2   primary_login_id    487169 non-null  Int64
 3   dealer_name         487169 non-null  object
 4   join_date           487169 non-null  datetime64[ns, UTC]
 5   account_type_name   487169 non-null  object
 6   customer_type_name  487169 non-null  object
 7   primary_email       487169 non-null  object
 8   primary_phone       487169 non-null  object
 9   last_updt_ts        487169 non-null  datetime64[ns, UTC]
 10  customer_id_1       487169 non-null  Int64
 11  Dealer_type_flag    487169 non-null  object
 12  RowCnt              487169 non-null  Int64
 13  Churn_flag          4377 non-null    Int64
dtypes: Int64(5), datetime64[ns, UTC](2), object(7)
memory usage: 54.4+ MB

In [16]:
Customer_DF.head()

,customer_id,dealer_customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,primary_email,primary_phone,last_updt_ts,customer_id_1,Dealer_type_flag,RowCnt,Churn_flag
0,1959761,,2119613,ADT by TELUS,2013-04-11 17:35:54+00:00,Security System,Customer,AUZqIaGDQWISx5SAgbLWGbkqpR34FdoEquLolwjZALvvAV...,+16042986894,2022-10-31 11:19:33.484109+00:00,1959761,ADT_Customer,216503,<NA>
1,3665878,E0020745,4107879,TELUS Communications Inc.,2015-07-08 11:53:42+00:00,Security System,Customer,AcmLCynkLQ5OaLVoxMw6utZjnssfq8D9knFeFjhdabyEF3...,+12503768376,2022-10-31 11:19:33.484109+00:00,3665878,ADT_Customer,216503,<NA>
2,3704772,E2078594,4153473,ADT by TELUS,2015-07-24 12:10:54+00:00,Security System,Customer,ASO4Nlp6zarzH7M75rxDmfZ/O94+0KryeETMdYnGzq4CuE...,+16049306299,2022-10-31 11:19:33.484109+00:00,3704772,ADT_Customer,216503,<NA>
3,3802548,,4269154,ADT by TELUS,2015-09-05 09:29:11+00:00,Security System,Customer,AccGahawi1JeKVOc/XdEdzUjaQ7+QYB4OeJEyN//eOhFBFdx,+17789917021,2022-10-31 11:19:33.484109+00:00,3802548,ADT_Customer,216503,<NA>
4,4096401,ACG1040E80,4619538,ADT by TELUS,2016-01-29 23:53:37+00:00,Security System,Customer,AcE+517O43J5sW+c5hv5fg9BpKt9oO4sdaSNYzAieHYJEiDO,+15149515058,2022-10-31 11:19:33.484109+00:00,4096401,ADT_Customer,216503,<NA>

In [17]:
Customer_DF['Churn_flag'].isna().sum()/Customer_DF.shape[0]

0.9910154381744323

In [18]:
Customer_DF.isna().sum() * 100 / len(Customer_DF)

customer_id            0.000000
dealer_customer_id     0.000000
primary_login_id       0.000000
dealer_name            0.000000
join_date              0.000000
account_type_name      0.000000
customer_type_name     0.000000
primary_email          0.000000
primary_phone          0.000000
last_updt_ts           0.000000
customer_id_1          0.000000
Dealer_type_flag       0.000000
RowCnt                 0.000000
Churn_flag            99.101544
dtype: float64

In [19]:
Customer_DF.fillna(0,inplace=True)

In [20]:
Customer_DF['Churn_flag'].sum()

4377

In [21]:
Customer_DF['dealer_name'].value_counts()

TELUS Communications Inc.    311963
ADT by TELUS                 175206
Name: dealer_name, dtype: int64

In [22]:
pd.DataFrame(Customer_DF.groupby(['dealer_name']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_Total=('Churn_flag',lambda x: x.sum()))
             .reset_index())

                 dealer_name  Customer_count  Churn_Total
0               ADT by TELUS          175205         1781
1  TELUS Communications Inc.          311923         2596

In [23]:
Best_practices_details_Query='''

select customer_id,best_practices_id,best_practices_ind,date(dt_last_calculate_utc) as last_date_calculate
from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_best_practice`
where DATE(dt_last_calculate_utc)<='2022-10-31'
QUALIFY ROW_NUMBER() OVER (PARTITION BY customer_id,best_practices_id ORDER BY last_updt_ts DESC) = 1
order by customer_id,best_practices_id


'''

In [24]:
Best_Practices_DF= extract_bq_data(bq_client,sql=Best_practices_details_Query)

In [25]:
Best_Practices_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672642 entries, 0 to 3672641
Data columns (total 4 columns):
 #   Column               Dtype
---  ------               -----
 0   customer_id          Int64
 1   best_practices_id    Int64
 2   best_practices_ind   boolean
 3   last_date_calculate  dbdate
dtypes: Int64(2), boolean(1), dbdate(1)
memory usage: 98.1 MB

In [26]:
Best_Practices_DF['Best_practices_flag']=Best_Practices_DF['best_practices_ind'].apply(lambda x: 1 if x==True else 0)
Best_Practices_DF_wide=Best_Practices_DF.pivot(index='customer_id', columns='best_practices_id', values='Best_practices_flag').reset_index()

In [27]:
Best_Practices_DF_wide.columns=['customer_id','Best_partices_1','Best_partices_2','Best_partices_3','Best_partices_4','Best_partices_5','Best_partices_6']

In [28]:
cols_to_sum=['Best_partices_1','Best_partices_2','Best_partices_3','Best_partices_4','Best_partices_5','Best_partices_6']
Best_Practices_DF_wide['Best_Practice_All']=Best_Practices_DF_wide[cols_to_sum].sum(axis=1)

In [29]:
Best_Practices_DF_wide=Best_Practices_DF_wide.sort_values('Best_Practice_All',ascending=False)
Best_Practices_DF_wide['Best_Practice_All_flag']=Best_Practices_DF_wide['Best_Practice_All'].apply(lambda x: 1 if x==6 else 0)

In [30]:
Best_Practices_DF_wide.head()

,customer_id,Best_partices_1,Best_partices_2,Best_partices_3,Best_partices_4,Best_partices_5,Best_partices_6,Best_Practice_All,Best_Practice_All_flag
226310,9733900,1,1,1,1,1,1,6,1
70328,6732112,1,1,1,1,1,1,6,1
555897,13867410,1,1,1,1,1,1,6,1
555895,13867396,1,1,1,1,1,1,6,1
281920,10486393,1,1,1,1,1,1,6,1

In [31]:
Best_Practices_DF_mapp=Best_Practices_DF_wide.merge(Customer_DF[['customer_id','dealer_name']],on='customer_id',how='left')

In [32]:
Best_Practices_DF_mapp['dealer_name'].isna().sum()

167536

In [33]:
Best_Practices_DF_mapp['dealer_name'].value_counts()

TELUS Communications Inc.    275450
ADT by TELUS                 169161
Name: dealer_name, dtype: int64

In [34]:
Arming_Query='''



with date_sql as (
select  count(distinct date(date)) as count_of_dates from `cio-datahub-enterprise-pr-183a.src_adc.bq_aggregate_daily_arming_commands`
where date(date)< '2022-11-01' 
--and date(date)>= '2022-09-01'
)



select id_cust as customer_id,sum(count_arm_commands) as sum_arm_commands,sum(count_disarm_commands) as sum_disarm_commands,count (distinct date(date)) as number_days_arming_disarming, (select count_of_dates from date_sql ) as count_of_dates_arming
from `cio-datahub-enterprise-pr-183a.src_adc.bq_aggregate_daily_arming_commands`
where date(date)< '2022-11-01' 
--and date(date)>= '2022-09-01'
group by customer_id
order by number_days_arming_disarming desc

-- select id_cust as customer_id,sum(count_arm_commands) as sum_arm_commands,sum(count_disarm_commands) as sum_disarm_commands,count (distinct date(date)) as number_days_arming_disarming_in_last15
-- from `cio-datahub-enterprise-pr-183a.src_adc.bq_aggregate_daily_arming_commands`
-- where date(date)<'2022-10-01' and date(date)>=DATE_SUB('2022-10-01',INTERVAL 15 DAY)
-- group by customer_id
-- order by number_days_arming_disarming_in_last15 desc



'''

In [35]:
Arming_DF=extract_bq_data(bq_client, sql=Arming_Query)

In [36]:
Arming_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377265 entries, 0 to 377264
Data columns (total 5 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   377265 non-null  Int64
 1   sum_arm_commands              377265 non-null  Int64
 2   sum_disarm_commands           377265 non-null  Int64
 3   number_days_arming_disarming  377265 non-null  Int64
 4   count_of_dates_arming         377265 non-null  Int64
dtypes: Int64(5)
memory usage: 16.2 MB

In [37]:
Arming_DF.head()

,customer_id,sum_arm_commands,sum_disarm_commands,number_days_arming_disarming,count_of_dates_arming
0,1780294,132,129,71,71
1,13816240,76,78,71,71
2,10823060,100,99,71,71
3,9067084,120,120,71,71
4,13378951,81,80,71,71

In [38]:
max_number_arming_dates=Arming_DF['count_of_dates_arming'].max()

In [39]:
max_number_arming_dates

71

In [40]:

Arming_DF['Arming_Consistency']=Arming_DF['number_days_arming_disarming'].apply(lambda x: x*100/max_number_arming_dates)

In [41]:
Arming_DF.head()

,customer_id,sum_arm_commands,sum_disarm_commands,number_days_arming_disarming,count_of_dates_arming,Arming_Consistency
0,1780294,132,129,71,71,100.0
1,13816240,76,78,71,71,100.0
2,10823060,100,99,71,71,100.0
3,9067084,120,120,71,71,100.0
4,13378951,81,80,71,71,100.0

In [42]:
pd.DataFrame(Arming_DF['Arming_Consistency'].value_counts(normalize=True)*100).reset_index().sort_values(by='index',ascending=False)

         index  Arming_Consistency
0   100.000000           10.775980
3    98.591549            4.802725
4    97.183099            3.376141
6    95.774648            2.728056
8    94.366197            2.337349
9    92.957746            2.136694
10   91.549296            1.963606
12   90.140845            1.833459
13   88.732394            1.753144
15   87.323944            1.590924
16   85.915493            1.536586
17   84.507042            1.514055
19   83.098592            1.438776
21   81.690141            1.218772
23   80.281690            1.098432
26   78.873239            1.060528
27   77.464789            1.005659
28   76.056338            1.001418
24   74.647887            1.084119
29   73.239437            0.969875
31   71.830986            0.926405
33   70.422535            0.880548
34   69.014085            0.875512
36   67.605634            0.833897
42   66.197183            0.693412
43   64.788732            0.665845
44   63.380282            0.640399
48   61.971831            0.591627
52   60.563380            0.561674
50   59.154930            0.582084
54   57.746479            0.556373
59   56.338028            0.538613
56   54.929577            0.547361
58   53.521127            0.540734
60   52.112676            0.531457
68   50.704225            0.497263
63   49.295775            0.517408
62   47.887324            0.527216
65   46.478873            0.515818
64   45.070423            0.516613
66   43.661972            0.510251
70   42.253521            0.476323
69   40.845070            0.485600
67   39.436620            0.503890
61   38.028169            0.528011
55   36.619718            0.549481
53   35.211268            0.560614
57   33.802817            0.545505
51   32.394366            0.565120
49   30.985915            0.584470
47   29.577465            0.605675
46   28.169014            0.607265
45   26.760563            0.638278
40   25.352113            0.721509
41   23.943662            0.695797
39   22.535211            0.740063
38   21.126761            0.749606
37   19.718310            0.795462
35   18.309859            0.848740
32   16.901408            0.889560
30   15.492958            0.939923
25   14.084507            1.063178
22   12.676056            1.114601
20   11.267606            1.265158
18    9.859155            1.439572
14    8.450704            1.661962
11    7.042254            1.948763
7     5.633803            2.488702
5     4.225352            3.088280
2     2.816901            5.215167
1     1.408451            9.406916

In [43]:
Arming_DF['Arming_Flag']=1

In [44]:
Arming_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377265 entries, 0 to 377264
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   377265 non-null  Int64
 1   sum_arm_commands              377265 non-null  Int64
 2   sum_disarm_commands           377265 non-null  Int64
 3   number_days_arming_disarming  377265 non-null  Int64
 4   count_of_dates_arming         377265 non-null  Int64
 5   Arming_Consistency            377265 non-null  float64
 6   Arming_Flag                   377265 non-null  int64
dtypes: Int64(5), float64(1), int64(1)
memory usage: 21.9 MB

In [45]:
Arming_DF_mapp=Arming_DF.merge(Customer_DF[['customer_id','dealer_name']],on='customer_id',how='left')

In [46]:
Arming_DF_mapp['dealer_name'].value_counts()

TELUS Communications Inc.    165709
ADT by TELUS                 130477
Name: dealer_name, dtype: int64

In [47]:
140127/241919

0.5792310649432248

In [48]:
113448/198280

0.5721605809965705

In [49]:
Login_SQL='''


with date_sql as (
select  count(distinct date(login_dt_utc)) as count_of_dates from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_daily_logins`

where date(login_dt_utc)<'2022-11-01' 
--and date(login_dt_utc)>= '2022-09-01'

)



select customer_id,sum(login_count) as sum_login_count,count (distinct date(login_dt_utc)) as number_of_login_days, (select count_of_dates from date_sql ) as count_of_dates_logins
from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_daily_logins`
where date(login_dt_utc)<'2022-11-01' 
--and date(login_dt_utc)>= '2022-09-01'
group by customer_id
order by number_of_login_days desc



'''

In [50]:
Login_DF=extract_bq_data(bq_client, sql=Login_SQL)

In [51]:
Login_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460851 entries, 0 to 460850
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   customer_id            460851 non-null  Int64
 1   sum_login_count        460851 non-null  Int64
 2   number_of_login_days   460851 non-null  Int64
 3   count_of_dates_logins  460851 non-null  Int64
dtypes: Int64(4)
memory usage: 15.8 MB

In [52]:
Login_DF['count_of_dates_logins'].max()

80

In [53]:
Login_DF.head()

   customer_id  sum_login_count  number_of_login_days  count_of_dates_logins
0     10895831              279                    80                     80
1      9202481              334                    80                     80
2      8164068              416                    80                     80
3      6267731              196                    80                     80
4      6728372              509                    80                     80

In [54]:
max_number_login_dates=Login_DF['count_of_dates_logins'].max()

In [55]:
Login_DF['Login_Consistency']=Login_DF['number_of_login_days'].apply(lambda x: x*100/max_number_login_dates)

In [56]:
Login_DF.head()

,customer_id,sum_login_count,number_of_login_days,count_of_dates_logins,Login_Consistency
0,10895831,279,80,80,100.0
1,9202481,334,80,80,100.0
2,8164068,416,80,80,100.0
3,6267731,196,80,80,100.0
4,6728372,509,80,80,100.0

In [57]:
Login_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460851 entries, 0 to 460850
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   customer_id            460851 non-null  Int64
 1   sum_login_count        460851 non-null  Int64
 2   number_of_login_days   460851 non-null  Int64
 3   count_of_dates_logins  460851 non-null  Int64
 4   Login_Consistency      460851 non-null  float64
dtypes: Int64(4), float64(1)
memory usage: 19.3 MB

In [58]:
Dealer_mapping= Customer_DF[['customer_id','dealer_name']]

In [59]:
Login_DF_dealer=Login_DF.merge(Dealer_mapping,how='left',on='customer_id')

In [60]:
Login_DF_dealer['dealer_name'].isna().sum()

83570

In [61]:
Login_DF_dealer['dealer_name'].value_counts()

TELUS Communications Inc.    248138
ADT by TELUS                 129165
Name: dealer_name, dtype: int64

In [62]:
pd.DataFrame(Login_DF['Login_Consistency'].value_counts(normalize=True)*100).reset_index().sort_values(by='index',ascending=False)

     index  Login_Consistency
77  100.00           0.048172
78   98.75           0.015189
79   97.50           0.012151
2    96.25           6.938034
41   95.00           0.925245
52   93.75           0.627318
53   92.50           0.532059
51   91.25           0.661168
54   90.00           0.456764
55   88.75           0.422696
56   87.50           0.420743
58   86.25           0.352826
60   85.00           0.345448
59   83.75           0.348486
57   82.50           0.354995
61   81.25           0.325919
63   80.00           0.300531
65   78.75           0.287078
64   77.50           0.287946
66   76.25           0.279917
62   75.00           0.304220
68   73.75           0.273407
67   72.50           0.273407
71   71.25           0.256265
69   70.00           0.261690
70   68.75           0.256482
72   67.50           0.255831
75   66.25           0.233481
73   65.00           0.247368
74   63.75           0.239123
76   62.50           0.226754
0    61.25          14.077652
7    60.00           2.081801
12   58.75           1.513070
17   57.50           1.313874
21   56.25           1.224474
23   55.00           1.105780
27   53.75           1.028532
28   52.50           1.002276
31   51.25           0.987955
36   50.00           0.950416
39   48.75           0.932622
40   47.50           0.930019
42   46.25           0.925245
45   45.00           0.918301
38   43.75           0.939132
47   42.50           0.907235
50   41.25           0.891828
44   40.00           0.919169
34   38.75           0.962567
49   37.50           0.902244
46   36.25           0.915263
48   35.00           0.904631
43   33.75           0.919169
35   32.50           0.950850
37   31.25           0.943689
33   30.00           0.978624
32   28.75           0.979492
29   27.50           0.999238
30   26.25           0.992729
26   25.00           1.040466
25   23.75           1.068458
24   22.50           1.092761
19   21.25           1.250296
22   20.00           1.209068
20   18.75           1.236842
18   17.50           1.292826
16   16.25           1.332969
15   15.00           1.368121
14   13.75           1.395028
13   12.50           1.504391
11   11.25           1.596178
10   10.00           1.720079
9     8.75           1.915153
8     7.50           2.047950
6     6.25           2.287073
5     5.00           2.620804
4     3.75           3.149825
3     2.50           3.938800
1     1.25           7.064322

In [63]:
Login_DF['Login_Flag']=1

In [64]:
Merge_DF=Customer_DF.merge(Best_Practices_DF_wide,on='customer_id',how='left')

In [65]:
Merge_DF_1=Merge_DF.merge(Arming_DF,on='customer_id',how='left')

In [66]:
Merge_DF_2=Merge_DF_1.merge(Login_DF,on='customer_id',how='left')

In [67]:
Merge_DF_2.head()

,customer_id,dealer_customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,primary_email,primary_phone,last_updt_ts,...,sum_disarm_commands,number_days_arming_disarming,count_of_dates_arming,Arming_Consistency,Arming_Flag,sum_login_count,number_of_login_days,count_of_dates_logins,Login_Consistency,Login_Flag
0,1959761,,2119613,ADT by TELUS,2013-04-11 17:35:54+00:00,Security System,Customer,AUZqIaGDQWISx5SAgbLWGbkqpR34FdoEquLolwjZALvvAV...,+16042986894,2022-10-31 11:19:33.484109+00:00,...,68,44,71,61.971831,1.0,570,77,80,96.25,1.0
1,3665878,E0020745,4107879,TELUS Communications Inc.,2015-07-08 11:53:42+00:00,Security System,Customer,AcmLCynkLQ5OaLVoxMw6utZjnssfq8D9knFeFjhdabyEF3...,+12503768376,2022-10-31 11:19:33.484109+00:00,...,18,23,71,32.394366,1.0,653,71,80,88.75,1.0
2,3704772,E2078594,4153473,ADT by TELUS,2015-07-24 12:10:54+00:00,Security System,Customer,ASO4Nlp6zarzH7M75rxDmfZ/O94+0KryeETMdYnGzq4CuE...,+16049306299,2022-10-31 11:19:33.484109+00:00,...,<NA>,<NA>,<NA>,NaN,NaN,1298,77,80,96.25,1.0
3,3802548,,4269154,ADT by TELUS,2015-09-05 09:29:11+00:00,Security System,Customer,AccGahawi1JeKVOc/XdEdzUjaQ7+QYB4OeJEyN//eOhFBFdx,+17789917021,2022-10-31 11:19:33.484109+00:00,...,98,71,71,100.000000,1.0,1234,77,80,96.25,1.0
4,4096401,ACG1040E80,4619538,ADT by TELUS,2016-01-29 23:53:37+00:00,Security System,Customer,AcE+517O43J5sW+c5hv5fg9BpKt9oO4sdaSNYzAieHYJEiDO,+15149515058,2022-10-31 11:19:33.484109+00:00,...,<NA>,<NA>,<NA>,NaN,NaN,771,77,80,96.25,1.0

In [68]:
Merge_DF_2.isnull().sum() * 100 / len(Merge_DF_2)

customer_id                      0.000000
dealer_customer_id               0.000000
primary_login_id                 0.000000
dealer_name                      0.000000
join_date                        0.000000
account_type_name                0.000000
customer_type_name               0.000000
primary_email                    0.000000
primary_phone                    0.000000
last_updt_ts                     0.000000
customer_id_1                    0.000000
Dealer_type_flag                 0.000000
RowCnt                           0.000000
Churn_flag                       0.000000
Best_partices_1                  8.735778
Best_partices_2                  8.735778
Best_partices_3                  8.735778
Best_partices_4                  8.735778
Best_partices_5                  8.735778
Best_partices_6                  8.735778
Best_Practice_All                8.735778
Best_Practice_All_flag           8.735778
sum_arm_commands                39.202618
sum_disarm_commands             39.202618
number_days_arming_disarming    39.202618
count_of_dates_arming           39.202618
Arming_Consistency              39.202618
Arming_Flag                     39.202618
sum_login_count                 22.551928
number_of_login_days            22.551928
count_of_dates_logins           22.551928
Login_Consistency               22.551928
Login_Flag                      22.551928
dtype: float64

In [69]:
Merge_DF_2.fillna(0,inplace=True)

In [70]:
Merge_DF_2['count_of_dates_logins'].value_counts()

80    377303
0     109866
Name: count_of_dates_logins, dtype: Int64

In [71]:
Merge_DF_2['count_of_dates_logins']=max_number_login_dates

In [72]:
Merge_DF_2['Login_Consistency'].value_counts()

0.00     109866
61.25     60426
96.25     30274
1.25      22846
2.50      12945
3.75      10497
5.00       8748
60.00      8468
6.25       7737
7.50       6889
8.75       6501
58.75      6064
10.00      5938
11.25      5471
57.50      5287
12.50      5240
13.75      4911
56.25      4901
15.00      4833
16.25      4691
17.50      4638
55.00      4369
18.75      4330
20.00      4289
21.25      4241
53.75      4029
22.50      3991
52.50      3915
23.75      3896
25.00      3829
51.25      3826
95.00      3795
26.25      3692
50.00      3684
27.50      3674
28.75      3635
30.00      3616
38.75      3613
48.75      3585
43.75      3581
46.25      3565
32.50      3565
47.50      3551
31.25      3518
45.00      3509
42.50      3456
36.25      3453
33.75      3453
40.00      3433
37.50      3387
35.00      3379
41.25      3364
91.25      2770
93.75      2554
92.50      2165
90.00      1854
88.75      1712
87.50      1681
86.25      1417
82.50      1399
85.00      1364
83.75      1344
81.25      1297
80.00      1176
75.00      1163
78.75      1129
77.50      1107
76.25      1082
72.50      1042
73.75      1015
71.25       997
70.00       980
67.50       968
65.00       956
68.75       943
66.25       904
63.75       903
62.50       853
Name: Login_Consistency, dtype: int64

In [73]:
Merge_DF_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487169 entries, 0 to 487168
Data columns (total 33 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   487169 non-null  Int64
 1   dealer_customer_id            487169 non-null  object
 2   primary_login_id              487169 non-null  Int64
 3   dealer_name                   487169 non-null  object
 4   join_date                     487169 non-null  datetime64[ns, UTC]
 5   account_type_name             487169 non-null  object
 6   customer_type_name            487169 non-null  object
 7   primary_email                 487169 non-null  object
 8   primary_phone                 487169 non-null  object
 9   last_updt_ts                  487169 non-null  datetime64[ns, UTC]
 10  customer_id_1                 487169 non-null  Int64
 11  Dealer_type_flag              487169 non-null  object
 12  RowCnt                        487169 non-null  Int64
 13  Churn_flag                    487169 non-null  Int64
 14  Best_partices_1               487169 non-null  float64
 15  Best_partices_2               487169 non-null  float64
 16  Best_partices_3               487169 non-null  float64
 17  Best_partices_4               487169 non-null  float64
 18  Best_partices_5               487169 non-null  float64
 19  Best_partices_6               487169 non-null  float64
 20  Best_Practice_All             487169 non-null  float64
 21  Best_Practice_All_flag        487169 non-null  float64
 22  sum_arm_commands              487169 non-null  Int64
 23  sum_disarm_commands           487169 non-null  Int64
 24  number_days_arming_disarming  487169 non-null  Int64
 25  count_of_dates_arming         487169 non-null  Int64
 26  Arming_Consistency            487169 non-null  float64
 27  Arming_Flag                   487169 non-null  float64
 28  sum_login_count               487169 non-null  Int64
 29  number_of_login_days          487169 non-null  Int64
 30  count_of_dates_logins         487169 non-null  int64
 31  Login_Consistency             487169 non-null  float64
 32  Login_Flag                    487169 non-null  float64
dtypes: Int64(11), datetime64[ns, UTC](2), float64(12), int64(1), object(7)
memory usage: 131.5+ MB

In [74]:
Merge_DF_2['Login_Flag'].value_counts()

1.0    377303
0.0    109866
Name: Login_Flag, dtype: int64

In [75]:
Merge_DF_2['Arming_Flag'].value_counts()

1.0    296186
0.0    190983
Name: Arming_Flag, dtype: int64

In [76]:
pd.DataFrame(Merge_DF_2['Arming_Consistency'].value_counts(normalize=True)*100).reset_index().sort_values(by='index',ascending=False)

         index  Arming_Consistency
2   100.000000            6.192512
4    98.591549            2.861635
5    97.183099            2.136630
7    95.774648            1.733485
9    94.366197            1.458016
10   92.957746            1.333418
12   91.549296            1.180289
14   90.140845            1.072728
15   88.732394            0.997190
17   87.323944            0.865203
19   85.915493            0.798491
21   84.507042            0.730958
23   83.098592            0.673688
24   81.690141            0.626271
26   80.281690            0.571670
29   78.873239            0.554633
31   77.464789            0.533696
33   76.056338            0.490179
28   74.647887            0.561612
34   73.239437            0.484431
37   71.830986            0.451178
41   70.422535            0.417309
40   69.014085            0.417309
44   67.605634            0.392061
47   66.197183            0.380977
46   64.788732            0.381798
48   63.380282            0.380566
52   61.971831            0.362503
54   60.563380            0.349981
53   59.154930            0.355113
57   57.746479            0.343207
61   56.338028            0.336228
56   54.929577            0.347107
60   53.521127            0.337049
63   52.112676            0.331918
70   50.704225            0.310980
67   49.295775            0.324323
62   47.887324            0.332944
65   46.478873            0.327812
64   45.070423            0.330481
66   43.661972            0.325554
71   42.253521            0.305643
69   40.845070            0.311596
68   39.436620            0.323296
58   38.028169            0.341565
59   36.619718            0.339102
50   35.211268            0.363734
55   33.802817            0.347313
51   32.394366            0.362913
49   30.985915            0.373587
45   29.577465            0.388366
43   28.169014            0.399245
42   26.760563            0.410740
39   25.352113            0.433320
38   23.943662            0.446252
35   22.535211            0.480121
36   21.126761            0.475605
32   19.718310            0.506600
30   18.309859            0.542317
27   16.901408            0.569002
25   15.492958            0.611287
22   14.084507            0.692573
20   12.676056            0.732189
18   11.267606            0.817786
16    9.859155            0.931299
13    8.450704            1.094076
11    7.042254            1.304681
8     5.633803            1.663283
6     4.225352            2.092087
3     2.816901            3.541481
1     1.408451            6.203186
0     0.000000           39.202618

In [77]:
pd.DataFrame(Merge_DF_2['Login_Consistency'].value_counts(normalize=True)*100).reset_index().sort_values(by='index',ascending=False)

    index  Login_Consistency
2   96.25           6.214271
31  95.00           0.778990
53  93.75           0.524253
54  92.50           0.444404
52  91.25           0.568591
55  90.00           0.380566
56  88.75           0.351418
57  87.50           0.345055
58  86.25           0.290864
60  85.00           0.279985
61  83.75           0.275880
59  82.50           0.287169
62  81.25           0.266232
63  80.00           0.241395
65  78.75           0.231747
66  77.50           0.227231
67  76.25           0.222100
64  75.00           0.238726
69  73.75           0.208347
68  72.50           0.213889
70  71.25           0.204652
71  70.00           0.201162
74  68.75           0.193567
72  67.50           0.198699
75  66.25           0.185562
73  65.00           0.196236
76  63.75           0.185357
77  62.50           0.175093
1   61.25          12.403499
7   60.00           1.738206
11  58.75           1.244743
14  57.50           1.085250
17  56.25           1.006016
21  55.00           0.896814
25  53.75           0.827023
27  52.50           0.803623
30  51.25           0.785354
33  50.00           0.756206
38  48.75           0.735884
42  47.50           0.728905
40  46.25           0.731779
44  45.00           0.720284
39  43.75           0.735063
45  42.50           0.709405
51  41.25           0.690520
48  40.00           0.704684
37  38.75           0.741632
49  37.50           0.695241
46  36.25           0.708789
50  35.00           0.693599
47  33.75           0.708789
41  32.50           0.731779
43  31.25           0.722131
36  30.00           0.742248
35  28.75           0.746148
34  27.50           0.754153
32  26.25           0.757848
29  25.00           0.785970
28  23.75           0.799722
26  22.50           0.819223
24  21.25           0.870540
23  20.00           0.880393
22  18.75           0.888809
20  17.50           0.952031
19  16.25           0.962910
18  15.00           0.992058
16  13.75           1.008069
15  12.50           1.075602
13  11.25           1.123019
12  10.00           1.218879
10   8.75           1.334445
9    7.50           1.414088
8    6.25           1.588155
6    5.00           1.795681
5    3.75           2.154694
4    2.50           2.657189
3    1.25           4.689543
0    0.00          22.551928

In [78]:
Merge_DF_2['Best_Practice_All'].isna().sum()

0

In [79]:
pd.DataFrame(Merge_DF_2['Best_Practice_All'].value_counts(normalize=True)*100).reset_index().sort_values(by='index',ascending=False)

   index  Best_Practice_All
5    6.0           7.748030
1    5.0          23.021169
0    4.0          28.204791
3    3.0          13.847761
4    2.0           9.123117
6    1.0           4.205933
2    0.0          13.849198

In [80]:
def Segment_making(row
                   ,min_login_consistency_threshold=50
                   ,min_arming_consistency_threshold=50
                   ,max_login_consistency_threshold=50
                   ,max_arming_consistency_threshold=50):
    
    if row['Best_Practice_All']>=5 and row['Login_Consistency']>=max_login_consistency_threshold  and row['Arming_Consistency']>=max_arming_consistency_threshold:
        return 'Heavy_User'
    elif row['Login_Consistency']>=max_login_consistency_threshold  and row['Arming_Consistency']< min_arming_consistency_threshold:
        return 'Home_automation_Savvy'
    elif row['Login_Consistency']< min_login_consistency_threshold  and row['Arming_Consistency']>=max_login_consistency_threshold:
        return 'Old_Fashion'
    elif row['Login_Consistency']==0  and row['Arming_Consistency']==0:
        return 'Disengaged'
    else:
        return "Moderate_Users"

In [81]:
Merge_DF_2.shape

(487169, 33)

In [82]:
Merge_DF_2['Segment']=Merge_DF_2.apply(Segment_making,axis=1)

In [83]:
Merge_DF_2.shape

(487169, 34)

In [84]:
Merge_DF_2['Segment'].isna().sum()

0

In [85]:
Merge_DF_2['Segment'].value_counts(normalize=True)*100

Moderate_Users           46.393346
Home_automation_Savvy    18.356464
Old_Fashion              14.430311
Disengaged               12.378661
Heavy_User                8.441219
Name: Segment, dtype: float64

In [86]:
Merge_DF_2['Segment'].value_counts()

Moderate_Users           226014
Home_automation_Savvy     89427
Old_Fashion               70300
Disengaged                60305
Heavy_User                41123
Name: Segment, dtype: int64

In [243]:
pd.DataFrame(Merge_DF_2.groupby(['Segment']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Churn_total=('Churn_flag',lambda x: x.sum()),
    Churn_rate=('Churn_flag',lambda x: x.mean()*100)).reset_index())

                 Segment  Customer_count  Churn_total  Churn_rate
0             Disengaged           60299         1564    2.593483
1             Heavy_User           41123          132    0.320988
2  Home_automation_Savvy           89426          441    0.493140
3         Moderate_Users          225988         1774    0.784907
4            Old_Fashion           70292          466    0.662873

In [247]:
pd.DataFrame(Merge_DF_2.groupby(['Segment']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Customer_Share= ('customer_id',lambda x:x.count()*100/Merge_DF_2.shape[0]),
    Churn_total=('Churn_flag',lambda x: x.sum()),
    Churn_rate=('Churn_flag',lambda x: x.mean()*100)).reset_index())

,Segment,Customer_count,Customer_Share,Churn_total,Churn_rate
0,Disengaged,60299,12.378661,1564,2.593483
1,Heavy_User,41123,8.441219,132,0.320988
2,Home_automation_Savvy,89426,18.356464,441,0.493140
3,Moderate_Users,225988,46.393346,1774,0.784907
4,Old_Fashion,70292,14.430311,466,0.662873

In [256]:
Merge_DF_2['Churn_flag'].value_counts(normalize=True)*100

0    99.101544
1     0.898456
Name: Churn_flag, dtype: Float64

In [254]:
pd.DataFrame(Merge_DF_2.groupby(['Segment','dealer_name']).agg(
    
    Customer_count= ('customer_id','nunique'),
    Customer_Share= ('customer_id',lambda x:np.round(x.count()*100/Merge_DF_2.shape[0],0)),
    # Dealer_count= ('customer_id',lambda x:x.count()*100/Merge_DF_2.shape[0]),
    Churn_total=('Churn_flag',lambda x: x.sum()),
    Churn_rate=('Churn_flag',lambda x: np.round(x.mean()*100,2))).reset_index())

,Segment,dealer_name,Customer_count,Customer_Share,Churn_total,Churn_rate
0,Disengaged,ADT by TELUS,18681,4,386,2.07
1,Disengaged,TELUS Communications Inc.,41618,9,1178,2.83
2,Heavy_User,ADT by TELUS,15815,3,83,0.52
3,Heavy_User,TELUS Communications Inc.,25308,5,49,0.19
4,Home_automation_Savvy,ADT by TELUS,31048,6,277,0.89
5,Home_automation_Savvy,TELUS Communications Inc.,58378,12,164,0.28
6,Moderate_Users,ADT by TELUS,76661,16,771,1.01
7,Moderate_Users,TELUS Communications Inc.,149327,31,1003,0.67
8,Old_Fashion,ADT by TELUS,33000,7,264,0.80
9,Old_Fashion,TELUS Communications Inc.,37292,8,202,0.54

In [248]:
Merge_DF_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487169 entries, 0 to 487168
Data columns (total 34 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   487169 non-null  Int64
 1   dealer_customer_id            487169 non-null  object
 2   primary_login_id              487169 non-null  Int64
 3   dealer_name                   487169 non-null  object
 4   join_date                     487169 non-null  datetime64[ns, UTC]
 5   account_type_name             487169 non-null  object
 6   customer_type_name            487169 non-null  object
 7   primary_email                 487169 non-null  object
 8   primary_phone                 487169 non-null  object
 9   last_updt_ts                  487169 non-null  datetime64[ns, UTC]
 10  customer_id_1                 487169 non-null  Int64
 11  Dealer_type_flag              487169 non-null  object
 12  RowCnt                        487169 non-null  Int64
 13  Churn_flag                    487169 non-null  Int64
 14  Best_partices_1               487169 non-null  float64
 15  Best_partices_2               487169 non-null  float64
 16  Best_partices_3               487169 non-null  float64
 17  Best_partices_4               487169 non-null  float64
 18  Best_partices_5               487169 non-null  float64
 19  Best_partices_6               487169 non-null  float64
 20  Best_Practice_All             487169 non-null  float64
 21  Best_Practice_All_flag        487169 non-null  float64
 22  sum_arm_commands              487169 non-null  Int64
 23  sum_disarm_commands           487169 non-null  Int64
 24  number_days_arming_disarming  487169 non-null  Int64
 25  count_of_dates_arming         487169 non-null  Int64
 26  Arming_Consistency            487169 non-null  float64
 27  Arming_Flag                   487169 non-null  float64
 28  sum_login_count               487169 non-null  Int64
 29  number_of_login_days          487169 non-null  Int64
 30  count_of_dates_logins         487169 non-null  int64
 31  Login_Consistency             487169 non-null  float64
 32  Login_Flag                    487169 non-null  float64
 33  Segment                       487169 non-null  object
dtypes: Int64(11), datetime64[ns, UTC](2), float64(12), int64(1), object(8)
memory usage: 135.2+ MB

In [113]:
# Merge_DF_2.to_csv('ADC_Segment_Nov22.csv',index=False)

In [114]:
# Merge_DF_2[['customer_id','dealer_customer_id','Segment']].to_csv('ADC_Segment_Nov22_subset.csv',index=False)

In [112]:
# Merge_DF_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519367 entries, 0 to 519366
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   519367 non-null  Int64
 1   dealer_customer_id            519367 non-null  object
 2   primary_login_id              519367 non-null  Int64
 3   dealer_name                   519367 non-null  object
 4   join_date                     519367 non-null  datetime64[ns, UTC]
 5   account_type_name             519367 non-null  object
 6   customer_type_name            519367 non-null  object
 7   primary_email                 519367 non-null  object
 8   primary_phone                 519367 non-null  object
 9   last_updt_ts                  519367 non-null  datetime64[ns, UTC]
 10  Best_partices_1               519367 non-null  float64
 11  Best_partices_2               519367 non-null  float64
 12  Best_partices_3               519367 non-null  float64
 13  Best_partices_4               519367 non-null  float64
 14  Best_partices_5               519367 non-null  float64
 15  Best_partices_6               519367 non-null  float64
 16  Best_Practice_All             519367 non-null  float64
 17  Best_Practice_All_flag        519367 non-null  float64
 18  sum_arm_commands              519367 non-null  Int64
 19  sum_disarm_commands           519367 non-null  Int64
 20  number_days_arming_disarming  519367 non-null  Int64
 21  count_of_dates_arming         519367 non-null  Int64
 22  Arming_Consistency            519367 non-null  float64
 23  Arming_Flag                   519367 non-null  float64
 24  sum_login_count               519367 non-null  Int64
 25  number_of_login_days          519367 non-null  Int64
 26  count_of_dates_logins         519367 non-null  int64
 27  Login_Consistency             519367 non-null  float64
 28  Login_Flag                    519367 non-null  float64
 29  Segment                       519367 non-null  object
dtypes: Int64(8), datetime64[ns, UTC](2), float64(12), int64(1), object(7)
memory usage: 126.8+ MB

In [257]:
# ADT_Churn_Nov2022.head()

In [102]:
# Merge_DF_3=Merge_DF_2.merge(ADT_Churn_Nov2022[['CustomerId','ADT_Churn_flag']],left_on='customer_id',right_on='CustomerId',how='left')

In [103]:
# Merge_DF_3['ADT_Churn_flag'].sum()

1673.0

In [104]:
# SHS_Churn_Nov_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4130 entries, 0 to 4129
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ACTIVITY_DATE                4130 non-null   object
 1   CUST_ID                      4130 non-null   int64
 2   BILLING_ACCOUNT_NUM          4130 non-null   int64
 3   BUS_BILLING_ACCOUNT_NUM      4130 non-null   int64
 4   BUS_PROD_INSTNC_ID           4130 non-null   int64
 5   ACTIVITY_REASON_TXT          4130 non-null   object
 6   ACTIVITY_REASON_TYPE_CD      4130 non-null   object
 7   ACTIVITY_REASON_SUB_TYPE_CD  4130 non-null   object
 8   INITIAL_ACTIVATION_TS        4130 non-null   object
 9   CONTRACT_START_DT            3599 non-null   object
 10  CONTRACT_END_DT              3599 non-null   object
 11  TERM_LENGTH_NUM              4130 non-null   int64
 12  PREFERRED_LANGUAGE_TXT       4130 non-null   object
 13  BUSINESS_LINE                4130 non-null   object
 14  PRODUCT_RGU_TYPE             4130 non-null   object
 15  FIFA_TAG                     4130 non-null   object
 16  TECHNOLOGY_TYPE_CD           4130 non-null   object
 17  BI_PRODUCT_TYPE_CD           4130 non-null   object
 18  CT_CALL_DT_MST               3407 non-null   object
 19  CT_PRIMARY_CAT1              3407 non-null   object
 20  CT_PRIMARY_CAT2              3267 non-null   object
 21  CT_PRIMARY_CAT3              1315 non-null   object
 22  CT_PRODUCT_OUTCOME_CAT2      1847 non-null   object
 23  CT_PRODUCT_OUTCOME_CAT3      1597 non-null   object
 24  CT_PRODUCT_OUTCOME_CAT4      1482 non-null   object
 25  PORT_ANY_TYPE                4130 non-null   int64
 26  PORT_TO_KNOWN                4130 non-null   int64
 27  PORT_OUT_NNSP                0 non-null      float64
 28  PORT_CREATE_DT               0 non-null      float64
 29  PORT_DUE_DATE                0 non-null      float64
 30  ORDER_ACTION_CREATE_TS       4110 non-null   object
 31  MUNICIPALITY_NM              4110 non-null   object
 32  PROVINCE_STATE_CD            4110 non-null   object
 33  SOURCE_USR_CHNL_TXT          4110 non-null   object
 34  BI_CHANNEL_TAG_CD            4110 non-null   object
 35  ORIG_TEAM_MEMBER_KEY         4110 non-null   float64
 36  ORIG_TEAM_MEMBER_ID          4110 non-null   float64
 37  ORIG_TM_WORK_LOCN_NM         4110 non-null   object
 38  MAX_PRODUCT_PRICE_AMT        4110 non-null   float64
 39  PROCESS_TYPE_TXT             4110 non-null   object
 40  ORDER_ACTION_DUE_TS          4110 non-null   object
 41  ORDER_FMS_ADDRESS_ID         4110 non-null   float64
 42  TRANSACTION_TYPE_TXT         4110 non-null   object
 43  Telus_Churn_flag             4130 non-null   int64
dtypes: float64(7), int64(8), object(29)
memory usage: 1.4+ MB

In [106]:
# SHS_Churn_Nov_2022['dealer_cust_id']=SHS_Churn_Nov_2022['CUST_ID'].astype('object')

In [111]:
# SHS_Churn_Nov_2022.head()

,ACTIVITY_DATE,CUST_ID,BILLING_ACCOUNT_NUM,BUS_BILLING_ACCOUNT_NUM,BUS_PROD_INSTNC_ID,ACTIVITY_REASON_TXT,ACTIVITY_REASON_TYPE_CD,ACTIVITY_REASON_SUB_TYPE_CD,INITIAL_ACTIVATION_TS,CONTRACT_START_DT,...,ORIG_TEAM_MEMBER_KEY,ORIG_TEAM_MEMBER_ID,ORIG_TM_WORK_LOCN_NM,MAX_PRODUCT_PRICE_AMT,PROCESS_TYPE_TXT,ORDER_ACTION_DUE_TS,ORDER_FMS_ADDRESS_ID,TRANSACTION_TYPE_TXT,Telus_Churn_flag,dealer_cust_id
0,01NOV2022:00:00:00,802540,211282069,211282069,1114731152,Move to area without TELUS service,DEACT,V,27APR2021:00:00:00,27APR2021:22:07:39,...,3980523.0,376244.0,TI Philippines (TI Philippines),0.0,N/AVAIL,01NOV2022:06:00:00,1182461.0,Cease,1,802540
1,01NOV2022:00:00:00,812315,212925475,212925475,1128222216,Other,DEACT,V,06JUL2022:00:00:00,06JUL2022:23:39:38,...,3947313.0,374606.0,TI El Salvador (TI El Salvador),0.0,N/AVAIL,01NOV2022:20:23:06,842703.0,Cease,1,812315
2,01NOV2022:00:00:00,877940,605309053,605309053,1128849295,Internet - Does not use enough,DEACT,V,21JUL2022:00:00:00,08AUG2022:22:00:13,...,3969208.0,206167.0,TI Philippines (TI Philippines),0.0,N/AVAIL,01NOV2022:17:40:59,28503.0,Cease,1,877940
3,01NOV2022:00:00:00,1347493,213692609,213692609,1123248321,Move to area without TELUS service,DEACT,V,31JAN2022:00:00:00,01FEB2022:00:56:25,...,3749077.0,145274.0,Edmonton (Edmonton),0.0,N/AVAIL,01NOV2022:06:00:00,1833829.0,Cease,1,1347493
4,01NOV2022:00:00:00,1501961,605375212,605375212,1130117982,Other,DEACT,V,31AUG2022:00:00:00,06SEP2022:23:32:00,...,3945714.0,361924.0,TI Guatemala (TI Guatemala),0.0,N/AVAIL,01NOV2022:15:47:31,2691824.0,Cease,1,1501961

In [110]:
# Merge_DF_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519368 entries, 0 to 519367
Data columns (total 32 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   519368 non-null  Int64
 1   dealer_customer_id            519368 non-null  object
 2   primary_login_id              519368 non-null  Int64
 3   dealer_name                   519368 non-null  object
 4   join_date                     519368 non-null  datetime64[ns, UTC]
 5   account_type_name             519368 non-null  object
 6   customer_type_name            519368 non-null  object
 7   primary_email                 519368 non-null  object
 8   primary_phone                 519368 non-null  object
 9   last_updt_ts                  519368 non-null  datetime64[ns, UTC]
 10  Best_partices_1               519368 non-null  float64
 11  Best_partices_2               519368 non-null  float64
 12  Best_partices_3               519368 non-null  float64
 13  Best_partices_4               519368 non-null  float64
 14  Best_partices_5               519368 non-null  float64
 15  Best_partices_6               519368 non-null  float64
 16  Best_Practice_All             519368 non-null  float64
 17  Best_Practice_All_flag        519368 non-null  float64
 18  sum_arm_commands              519368 non-null  Int64
 19  sum_disarm_commands           519368 non-null  Int64
 20  number_days_arming_disarming  519368 non-null  Int64
 21  count_of_dates_arming         519368 non-null  Int64
 22  Arming_Consistency            519368 non-null  float64
 23  Arming_Flag                   519368 non-null  float64
 24  sum_login_count               519368 non-null  Int64
 25  number_of_login_days          519368 non-null  Int64
 26  count_of_dates_logins         519368 non-null  int64
 27  Login_Consistency             519368 non-null  float64
 28  Login_Flag                    519368 non-null  float64
 29  Segment                       519368 non-null  object
 30  CustomerId                    1673 non-null    float64
 31  ADT_Churn_flag                1673 non-null    float64
dtypes: Int64(8), datetime64[ns, UTC](2), float64(14), int64(1), object(7)
memory usage: 134.7+ MB

In [258]:
# Merge_DF_3['dealer_customer_id_int']=Merge_DF_3['dealer_customer_id'].astype('int64')

In [107]:
# Merge_DF_4=Merge_DF_3.merge(SHS_Churn_Nov_2022[['dealer_cust_id','Telus_Churn_flag']],left_on='dealer_customer_id',right_on='dealer_cust_id',how='left')

In [108]:
# Merge_DF_4['Telus_Churn_flag'].sum()

0.0

In [259]:
Merge_DF_2['Avg_Arming_per_day']=Merge_DF_2.apply(lambda x: np.round(x['sum_arm_commands']/x['number_days_arming_disarming']) if x['number_days_arming_disarming']!=0 else 0 ,axis=1)

In [260]:
Merge_DF_2['Avg_DisArming_per_day']=Merge_DF_2.apply(lambda x: np.round(x['sum_disarm_commands']/x['number_days_arming_disarming']) if x['number_days_arming_disarming']!=0 else 0 ,axis=1)

In [261]:
Merge_DF_2['Avg_logins_per_day']=Merge_DF_2.apply(lambda x: np.round(x['sum_login_count']/x['number_of_login_days']) if x['number_of_login_days']!=0 else 0 ,axis=1)

In [262]:
Merge_DF_2['Avg_Arming_per_day'].describe()

count    487169.000000
mean          1.127717
std          36.954394
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max        9942.000000
Name: Avg_Arming_per_day, dtype: float64

In [263]:
Merge_DF_2['Avg_DisArming_per_day'].describe()

count    487169.000000
mean          1.114392
std          30.544954
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max        9941.000000
Name: Avg_DisArming_per_day, dtype: float64

In [264]:
Merge_DF_2['Avg_logins_per_day'].describe()

count    487169.000000
mean          3.688935
std          11.755627
min           0.000000
25%           1.000000
50%           2.000000
75%           4.000000
max        2833.000000
Name: Avg_logins_per_day, dtype: float64

In [265]:
Merge_DF_2.head()

,customer_id,dealer_customer_id,primary_login_id,dealer_name,join_date,account_type_name,customer_type_name,primary_email,primary_phone,last_updt_ts,...,Arming_Flag,sum_login_count,number_of_login_days,count_of_dates_logins,Login_Consistency,Login_Flag,Segment,Avg_Arming_per_day,Avg_DisArming_per_day,Avg_logins_per_day
0,800817,ACG2010304,841118,ADT by TELUS,2011-05-14 21:31:33+00:00,Security System,Customer,ASh3wdfjrgfu3wM8XN9GVmEx3vyV8cmtK4oNct6kLeC046...,+13062496879,2022-10-31 11:19:33.484109+00:00,...,1.0,27,21,80,26.25,1.0,Old_Fashion,1.0,1.0,1.0
1,812463,05022161,853687,ADT by TELUS,2011-05-20 12:13:24+00:00,Security System,Customer,ARD3Ur7jBP9e1CeNyRsy5BT6cK/Wv2RE09g630JVCqr06aQ=,+18193294584,2022-10-31 11:19:33.484109+00:00,...,1.0,0,0,80,0.00,0.0,Old_Fashion,2.0,2.0,0.0
2,1046420,09039329,1101679,ADT by TELUS,2011-08-30 07:30:10+00:00,Security System,Customer,AZcIRDDHt5keqArX13vjqRXGh3/XrFFULcG3QmoD6rI=,+15146913961,2022-10-31 11:19:33.484109+00:00,...,1.0,3,3,80,3.75,1.0,Moderate_Users,1.0,1.0,1.0
3,1078965,,1136893,ADT by TELUS,2011-09-29 13:34:35+00:00,Security System,Customer,ARYPVbf7TvOKdg/3OswudpTYC3YHfo8EaXuSpPls48YC,+17804676168,2022-10-31 11:19:33.484109+00:00,...,1.0,1237,77,80,96.25,1.0,Home_automation_Savvy,1.0,1.0,16.0
4,1085147,09052813,1143816,ADT by TELUS,2011-10-06 09:59:42+00:00,Security System,Customer,AYIXJKKJtqfpnQG3kE/6GvTb89//NKyIRQyBM/w280m4dc...,+14506164293,2022-10-31 11:19:33.484109+00:00,...,1.0,0,0,80,0.00,0.0,Old_Fashion,1.0,1.0,0.0

In [266]:
Login_SQL_wide='''

with date_sql as (
select  count(distinct date(login_dt_utc)) as count_of_dates from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_daily_logins`
where date(login_dt_utc)<'2022-12-01' and date(login_dt_utc)>= '2022-09-01'

)



select customer_id,login_type_desc,sum(login_count) as sum_login_count,count (distinct date(login_dt_utc)) as number_of_login_days, (select count_of_dates from date_sql ) as count_of_dates_logins
from `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_daily_logins`
where date(login_dt_utc)<'2022-12-01' and date(login_dt_utc)>= '2022-09-01'
group by customer_id,login_type_desc
order by customer_id


'''

In [267]:
Login_DF_1= extract_bq_data(bq_client, sql=Login_SQL_wide)

In [268]:
Login_DF_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767931 entries, 0 to 767930
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   customer_id            767931 non-null  Int64
 1   login_type_desc        767931 non-null  object
 2   sum_login_count        767931 non-null  Int64
 3   number_of_login_days   767931 non-null  Int64
 4   count_of_dates_logins  767931 non-null  Int64
dtypes: Int64(4), object(1)
memory usage: 32.2+ MB

In [269]:
Login_DF_wide=Login_DF_1.pivot(index='customer_id', columns='login_type_desc', values=['sum_login_count','number_of_login_days']).reset_index()

In [270]:
Login_DF_wide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483429 entries, 0 to 483428
Data columns (total 7 columns):
 #   Column                                                                                Non-Null Count   Dtype
---  ------                                                                                --------------   -----
 0   (customer_id, )                                                                       483429 non-null  Int64
 1   (sum_login_count, Mobile)                                                             476494 non-null  object
 2   (sum_login_count, Voice Control Devices, Like Amazon Alexa or Google Assistant)       1191 non-null    object
 3   (sum_login_count, Web)                                                                290246 non-null  object
 4   (number_of_login_days, Mobile)                                                        476494 non-null  object
 5   (number_of_login_days, Voice Control Devices, Like Amazon Alexa or Google Assistant)  1191 non-null    object
 6   (number_of_login_days, Web)                                                           290246 non-null  object
dtypes: Int64(1), object(6)
memory usage: 26.3+ MB

In [271]:
Login_DF_wide.columns=['customer_id','Mobile_login_Counts','VCD_Login_Counts','Web_login_Counts','Mobile_login_days','VCD_Login_days','Web_login_days']

In [272]:
Login_DF_wide.head()

,customer_id,Mobile_login_Counts,VCD_Login_Counts,Web_login_Counts,Mobile_login_days,VCD_Login_days,Web_login_days
0,210137,193,NaN,1,78,NaN,1
1,213860,177,NaN,NaN,70,NaN,NaN
2,217919,58,8,NaN,44,6,NaN
3,218873,220,NaN,6,70,NaN,6
4,229153,240,NaN,6,76,NaN,4

In [273]:
Login_DF_wide.fillna(0,inplace=True)

In [274]:
Login_DF_wide['All_login_Counts']=Login_DF_wide.apply(lambda x:x['Mobile_login_Counts']+x['VCD_Login_Counts']+x['Web_login_Counts'],axis=1)
Login_DF_wide['Mobile_login_share']=Login_DF_wide.apply(lambda x: x['Mobile_login_Counts']*100/x['All_login_Counts'],axis=1)
Login_DF_wide['VCD_login_share']=Login_DF_wide.apply(lambda x: x['VCD_Login_Counts']*100/x['All_login_Counts'],axis=1)
Login_DF_wide['Web_login_share']=Login_DF_wide.apply(lambda x: x['Web_login_Counts']*100/x['All_login_Counts'],axis=1)

In [279]:
Login_DF_wide.head()

,customer_id,Mobile_login_Counts,VCD_Login_Counts,Web_login_Counts,Mobile_login_days,VCD_Login_days,Web_login_days,All_login_Counts,Mobile_login_share,VCD_login_share,Web_login_share
0,210137,193,0,1,78,0,1,194,99.484536,0.000000,0.515464
1,213860,177,0,0,70,0,0,177,100.000000,0.000000,0.000000
2,217919,58,8,0,44,6,0,66,87.878788,12.121212,0.000000
3,218873,220,0,6,70,0,6,226,97.345133,0.000000,2.654867
4,229153,240,0,6,76,0,4,246,97.560976,0.000000,2.439024

In [280]:
Merge_DF_3=Merge_DF_2.merge(Login_DF_wide,on='customer_id',how='left')

In [281]:
Merge_DF_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487169 entries, 0 to 487168
Data columns (total 47 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   487169 non-null  Int64
 1   dealer_customer_id            487169 non-null  object
 2   primary_login_id              487169 non-null  Int64
 3   dealer_name                   487169 non-null  object
 4   join_date                     487169 non-null  datetime64[ns, UTC]
 5   account_type_name             487169 non-null  object
 6   customer_type_name            487169 non-null  object
 7   primary_email                 487169 non-null  object
 8   primary_phone                 487169 non-null  object
 9   last_updt_ts                  487169 non-null  datetime64[ns, UTC]
 10  customer_id_1                 487169 non-null  Int64
 11  Dealer_type_flag              487169 non-null  object
 12  RowCnt                        487169 non-null  Int64
 13  Churn_flag                    487169 non-null  Int64
 14  Best_partices_1               487169 non-null  float64
 15  Best_partices_2               487169 non-null  float64
 16  Best_partices_3               487169 non-null  float64
 17  Best_partices_4               487169 non-null  float64
 18  Best_partices_5               487169 non-null  float64
 19  Best_partices_6               487169 non-null  float64
 20  Best_Practice_All             487169 non-null  float64
 21  Best_Practice_All_flag        487169 non-null  float64
 22  sum_arm_commands              487169 non-null  Int64
 23  sum_disarm_commands           487169 non-null  Int64
 24  number_days_arming_disarming  487169 non-null  Int64
 25  count_of_dates_arming         487169 non-null  Int64
 26  Arming_Consistency            487169 non-null  float64
 27  Arming_Flag                   487169 non-null  float64
 28  sum_login_count               487169 non-null  Int64
 29  number_of_login_days          487169 non-null  Int64
 30  count_of_dates_logins         487169 non-null  int64
 31  Login_Consistency             487169 non-null  float64
 32  Login_Flag                    487169 non-null  float64
 33  Segment                       487169 non-null  object
 34  Avg_Arming_per_day            487169 non-null  float64
 35  Avg_DisArming_per_day         487169 non-null  float64
 36  Avg_logins_per_day            487169 non-null  float64
 37  Mobile_login_Counts           382210 non-null  float64
 38  VCD_Login_Counts              382210 non-null  float64
 39  Web_login_Counts              382210 non-null  float64
 40  Mobile_login_days             382210 non-null  float64
 41  VCD_Login_days                382210 non-null  float64
 42  Web_login_days                382210 non-null  float64
 43  All_login_Counts              382210 non-null  float64
 44  Mobile_login_share            382210 non-null  float64
 45  VCD_login_share               382210 non-null  float64
 46  Web_login_share               382210 non-null  float64
dtypes: Int64(11), datetime64[ns, UTC](2), float64(25), int64(1), object(8)
memory usage: 183.5+ MB

In [282]:
Merge_DF_3['Segment'].value_counts(normalize=True)*100

Moderate_Users           46.393346
Home_automation_Savvy    18.356464
Old_Fashion              14.430311
Disengaged               12.378661
Heavy_User                8.441219
Name: Segment, dtype: float64

In [283]:
Merge_DF_3['Segment'].value_counts()

Moderate_Users           226014
Home_automation_Savvy     89427
Old_Fashion               70300
Disengaged                60305
Heavy_User                41123
Name: Segment, dtype: int64

In [ ]:
Merge_DF_3['Mobile_login_share'].isna().sum()/Merge_DF_3.shape[0]

In [ ]:
Merge_DF_3.shape

In [ ]:
Merge_DF_3['Mobile_login_share'].describe(),Merge_DF_3['VCD_login_share'].describe(),Merge_DF_3['Web_login_share'].describe()

In [166]:
pd.DataFrame(Merge_DF_3.groupby(['Segment']).agg(
    Mobile_login_share=('Mobile_login_share',np.nanmean), 
    Web_login_share=('Web_login_share',np.nanmean),    
    VCD_login_share = ('VCD_login_share',np.nanmean)
     ).reset_index().sort_values('Mobile_login_share',ascending=False))

                 Segment  Mobile_login_share  Web_login_share  VCD_login_share
2  Home_automation_Savvy           98.445842         1.516352         0.037807
1             Heavy_User           98.086150         1.745439         0.168411
3         Moderate_Users           96.369603         3.527443         0.102955
4            Old_Fashion           94.934663         4.967382         0.097955
0             Disengaged                 NaN              NaN              NaN

In [167]:
Merge_DF_3['Login_Type_Customer'] = Merge_DF_3[['Mobile_login_share','Web_login_share','VCD_login_share']].idxmax(axis=1)

In [168]:
Merge_DF_3['Login_Type_Customer'].value_counts(normalize=True)*100

Mobile_login_share    99.096371
Web_login_share        0.834367
VCD_login_share        0.069262
Name: Login_Type_Customer, dtype: float64

In [169]:
pd.crosstab(Merge_DF_3['Segment'],Merge_DF_3['Login_Type_Customer'], dropna=True)

Login_Type_Customer    Mobile_login_share  VCD_login_share  Web_login_share
Segment
Heavy_User                          16877               17               40
Home_automation_Savvy               32343                9               70
Moderate_Users                      55261               44              564
Old_Fashion                         18563               16              362

In [176]:
Merge_DF_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440199 entries, 0 to 440198
Data columns (total 47 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   440199 non-null  Int64
 1   dealer_customer_id            440199 non-null  object
 2   primary_login_id              440199 non-null  Int64
 3   dealer_name                   440199 non-null  object
 4   join_date                     440199 non-null  datetime64[ns, UTC]
 5   account_type_name             440199 non-null  object
 6   customer_type_name            440199 non-null  object
 7   primary_email                 440199 non-null  object
 8   primary_phone                 440199 non-null  object
 9   last_updt_ts                  440199 non-null  datetime64[ns, UTC]
 10  customer_id_1                 440199 non-null  Int64
 11  Dealer_type_flag              440199 non-null  object
 12  RowCnt                        440199 non-null  Int64
 13  Best_partices_1               440199 non-null  Int64
 14  Best_partices_2               440199 non-null  Int64
 15  Best_partices_3               440199 non-null  Int64
 16  Best_partices_4               440199 non-null  Int64
 17  Best_partices_5               440199 non-null  Int64
 18  Best_partices_6               440199 non-null  Int64
 19  Best_Practice_All             440199 non-null  Int64
 20  Best_Practice_All_flag        440199 non-null  Int64
 21  sum_arm_commands              440199 non-null  Int64
 22  sum_disarm_commands           440199 non-null  Int64
 23  number_days_arming_disarming  440199 non-null  Int64
 24  count_of_dates_arming         440199 non-null  Int64
 25  Arming_Consistency            440199 non-null  float64
 26  Arming_Flag                   440199 non-null  float64
 27  sum_login_count               440199 non-null  Int64
 28  number_of_login_days          440199 non-null  Int64
 29  count_of_dates_logins         440199 non-null  int64
 30  Login_Consistency             440199 non-null  float64
 31  Login_Flag                    440199 non-null  float64
 32  Segment                       440199 non-null  object
 33  Avg_Arming_per_day            440199 non-null  float64
 34  Avg_DisArming_per_day         440199 non-null  float64
 35  Avg_logins_per_day            440199 non-null  float64
 36  Mobile_login_Counts           124166 non-null  float64
 37  VCD_Login_Counts              124166 non-null  float64
 38  Web_login_Counts              124166 non-null  float64
 39  Mobile_login_days             124166 non-null  float64
 40  VCD_Login_days                124166 non-null  float64
 41  Web_login_days                124166 non-null  float64
 42  All_login_Counts              124166 non-null  float64
 43  Mobile_login_share            124166 non-null  float64
 44  VCD_login_share               124166 non-null  float64
 45  Web_login_share               124166 non-null  float64
 46  Login_Type_Customer           124166 non-null  object
dtypes: Int64(18), datetime64[ns, UTC](2), float64(17), int64(1), object(9)
memory usage: 168.8+ MB

In [186]:
pd.DataFrame(Merge_DF_3.groupby(['Segment']).agg(
        Volume=('customer_id','nunique'),
    Has_home_automation_Device=('Best_partices_6',np.sum),

     ).reset_index())

                 Segment  Volume  Has_home_automation_Device
0             Disengaged  158955                       99034
1             Heavy_User   16934                       15488
2  Home_automation_Savvy   32422                       30514
3         Moderate_Users  124655                       69797
4            Old_Fashion  107233                       53873

In [179]:
pd.DataFrame(Merge_DF_3[(Merge_DF_3.Avg_logins_per_day > 0) & (Merge_DF_3.Avg_logins_per_day <= 2) ].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum),  
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

                 Segment  Volume  Has_home_automation_Device
2         Moderate_Users   34873                       15197
3            Old_Fashion   16888                        5680
1  Home_automation_Savvy    5798                        4883
0             Heavy_User    2979                        2361

In [185]:
pd.DataFrame(Merge_DF_3[(Merge_DF_3.Avg_logins_per_day > 0) ].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum),  
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

                 Segment  Volume  Has_home_automation_Device
2         Moderate_Users   55869                       28366
1  Home_automation_Savvy   32422                       30514
3            Old_Fashion   18941                        6659
0             Heavy_User   16934                       15488

In [180]:
pd.DataFrame(Merge_DF_3[(Merge_DF_3.Avg_logins_per_day > 2) & (Merge_DF_3.Avg_logins_per_day <= 5) ].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum), 
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

                 Segment  Volume  Has_home_automation_Device
1  Home_automation_Savvy   16057                       15281
2         Moderate_Users   14771                        8092
0             Heavy_User    7083                        6409
3            Old_Fashion    1883                         881

In [181]:
pd.DataFrame(Merge_DF_3[(Merge_DF_3.Avg_logins_per_day > 5) & (Merge_DF_3.Avg_logins_per_day <= 10) ].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum), 
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

                 Segment  Volume  Has_home_automation_Device
1  Home_automation_Savvy    7574                        7417
0             Heavy_User    4731                        4604
2         Moderate_Users    4652                        3687
3            Old_Fashion     136                          75

In [183]:
pd.DataFrame(Merge_DF_3[Merge_DF_3.Avg_logins_per_day > 2].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum),  
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

                 Segment  Volume  Has_home_automation_Device
1  Home_automation_Savvy   26624                       25631
2         Moderate_Users   20996                       13169
0             Heavy_User   13955                       13127
3            Old_Fashion    2053                         979

In [184]:
13955-13127

828

In [277]:
pd.DataFrame(Merge_DF_3.groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum),  
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

                 Segment  Volume  Has_home_automation_Device
0             Disengaged  158955                       99034
3         Moderate_Users  124655                       69797
4            Old_Fashion  107233                       53873
2  Home_automation_Savvy   32422                       30514
1             Heavy_User   16934                       15488

In [ ]:
pd.DataFrame(Merge_DF_3[Merge_DF_3.Avg_logins_per_day > 10].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Has_home_automation_Device=('Best_partices_6',np.sum),  
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
     ).reset_index().sort_values('Volume',ascending=False))

In [590]:
# Merge_DF_3['count_of_dates_logins']=max_number_login_dates

In [591]:
# Old_Fashion_high_login=Merge_DF_3[(Merge_DF_3.Avg_logins_per_day > 10) & (Merge_DF_3.Segment=='Old_Fashion')]

In [592]:
# Old_Fashion_high_login.head()

In [593]:
# Old_Fashion_high_login.info()

In [594]:
# Old_Fashion_high_login['Login_Consistency'].value_counts()

In [595]:
# Old_Fashion_high_login['count_of_dates_logins'].min(),Old_Fashion_high_login['count_of_dates_logins'].max()

In [596]:
# Old_Fashion_high_login['Avg_logins_per_day'].value_counts()

In [597]:
# Customer_Login=Merge_DF_3[['customer_id','Segment','Avg_Arming_per_day','Avg_DisArming_per_day','Avg_logins_per_day']][Merge_DF_3.Avg_logins_per_day > 5]

In [598]:
# Customer_Login.info()

In [599]:
# Customer_Login['Segment'].value_counts(normalize=True)*100

In [187]:
TC_Query='''

select * from `divgpras-pr-579355.ADC.Trouble_Condition_Group_last3months_Aug2022`

'''

In [188]:
TC_Data=extract_bq_data(bq_client, sql=TC_Query)

In [189]:
TC_Data.head()

,ref_end_date,customer_id,Central_Station_Condition_Issue_count_last3M,Critical_System_Issue_count_last3M,Engagement_Issue_count_last3M,System_Condition_Issue_count_last3M,Central_Station_Condition_Issue_duration_hours_sum_last3M,Critical_System_Issue_duration_hours_sum_last3M,Engagement_Issue_duration_hours_sum_last3M,System_Condition_Issue_duration_hours_sum_last3M
0,2022-08-01 00:00:00+00:00,555157,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-08-01 00:00:00+00:00,572700,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-08-01 00:00:00+00:00,614661,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-08-01 00:00:00+00:00,628083,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-08-01 00:00:00+00:00,691649,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [190]:
Merge_DF_4=Merge_DF_3.merge(TC_Data,on='customer_id',how='left')

In [191]:
(1-(Merge_DF_4['ref_end_date'].isna().sum()/Merge_DF_4.shape[0]))*100

56.14574317524574

In [192]:
# Customer_Login=Merge_DF_4[Merge_DF_4.Segment=='Heavy_User']

In [193]:
# (1-(Customer_Login['ref_end_date'].isna().sum()/Customer_Login.shape[0]))*100

# del Customer_Login

In [194]:
pd.DataFrame(Merge_DF_4.groupby(['Segment']).agg(
    Customer_with_TC=('ref_end_date',lambda x: (1-(sum(x.isna())/len(x)))*100),
    Customer_with_Central_Station_TC=('Central_Station_Condition_Issue_count_last3M',lambda x: (1-(sum(x.isna())/len(x)))*100),
    Customer_with_Critical_System_TC=('Critical_System_Issue_count_last3M',lambda x: (1-(sum(x.isna())/len(x)))*100),
    Customer_with_Engagement_TC=('Engagement_Issue_count_last3M',lambda x: (1-(sum(x.isna())/len(x)))*100),
    Customer_with_System_Condition_TC=('System_Condition_Issue_count_last3M',lambda x: (1-(sum(x.isna())/len(x)))*100)).reset_index())

,Segment,Customer_with_TC,Customer_with_Central_Station_TC,Customer_with_Critical_System_TC,Customer_with_Engagement_TC,Customer_with_System_Condition_TC
0,Disengaged,38.622881,38.622881,38.622881,38.622881,38.622881
1,Heavy_User,77.601276,77.601276,77.601276,77.601276,77.601276
2,Home_automation_Savvy,59.718710,59.718710,59.718710,59.718710,59.718710
3,Moderate_Users,63.348442,63.348442,63.348442,63.348442,63.348442
4,Old_Fashion,69.279047,69.279047,69.279047,69.279047,69.279047

In [195]:
pd.DataFrame(Merge_DF_4.groupby(['Segment']).agg(
    Customer_with_Central_Station_TC=('Central_Station_Condition_Issue_count_last3M','sum'),
    Customer_with_Critical_System_TC=('Critical_System_Issue_count_last3M','sum'),
    Customer_with_Engagement_TC=('Engagement_Issue_count_last3M','sum'),
    Customer_with_System_Condition_TC=('System_Condition_Issue_count_last3M','sum')).reset_index())

,Segment,Customer_with_Central_Station_TC,Customer_with_Critical_System_TC,Customer_with_Engagement_TC,Customer_with_System_Condition_TC
0,Disengaged,57716.0,165056.0,6280.0,304033.0
1,Heavy_User,26003.0,27010.0,528.0,133455.0
2,Home_automation_Savvy,21345.0,55805.0,1311.0,89632.0
3,Moderate_Users,148256.0,209243.0,8089.0,520603.0
4,Old_Fashion,160687.0,151602.0,4575.0,709432.0

In [196]:
Merge_DF_4[Merge_DF_4['Central_Station_Condition_Issue_count_last3M']>0].groupby('Segment')['Central_Station_Condition_Issue_count_last3M'].describe().reset_index()

,Segment,count,mean,std,min,25%,50%,75%,max
0,Disengaged,10775.0,5.356473,17.426852,1.0,1.0,3.0,8.0,1611.0
1,Heavy_User,7495.0,3.469380,5.415443,1.0,1.0,2.0,3.0,133.0
2,Home_automation_Savvy,5734.0,3.722532,5.419624,1.0,1.0,2.0,3.0,74.0
3,Moderate_Users,34639.0,4.280031,14.946079,1.0,1.0,2.0,5.0,2475.0
4,Old_Fashion,40179.0,3.999278,30.215712,1.0,1.0,2.0,4.0,5895.0

In [197]:
Merge_DF_4[Merge_DF_4['Central_Station_Condition_Issue_count_last3M']>5].groupby('Segment')['Central_Station_Condition_Issue_count_last3M'].describe()['mean'].reset_index()

                 Segment       mean
0             Disengaged  12.000560
1             Heavy_User  13.080229
2  Home_automation_Savvy  13.096579
3         Moderate_Users  12.821438
4            Old_Fashion  13.771720

In [207]:
# Critical_morethan_5=Merge_DF_4[Merge_DF_4['Critical_System_Issue_count_last3M']>0]


Merge_DF_4[Merge_DF_4['Critical_System_Issue_count_last3M']>5].groupby('Segment')['Critical_System_Issue_count_last3M'].describe()['mean'].reset_index()

                 Segment       mean
0             Disengaged  17.909756
1             Heavy_User  15.423350
2  Home_automation_Savvy  19.819098
3         Moderate_Users  17.101558
4            Old_Fashion  15.612336

In [208]:
Merge_DF_4[Merge_DF_4['Engagement_Issue_count_last3M']>5].groupby('Segment')['Engagement_Issue_count_last3M'].describe()['mean'].reset_index()

                 Segment      mean
0             Disengaged  6.000000
1  Home_automation_Savvy  7.000000
2         Moderate_Users  6.133333
3            Old_Fashion  6.444444

In [209]:
Merge_DF_4[Merge_DF_4['System_Condition_Issue_count_last3M']>5].groupby('Segment')['System_Condition_Issue_count_last3M'].describe()['mean'].reset_index()

                 Segment       mean
0             Disengaged  71.054040
1             Heavy_User  47.336112
2  Home_automation_Savvy  54.650240
3         Moderate_Users  48.004245
4            Old_Fashion  43.209260

In [210]:
Merge_DF_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440199 entries, 0 to 440198
Data columns (total 56 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   customer_id                                                440199 non-null  Int64
 1   dealer_customer_id                                         440199 non-null  object
 2   primary_login_id                                           440199 non-null  Int64
 3   dealer_name                                                440199 non-null  object
 4   join_date                                                  440199 non-null  datetime64[ns, UTC]
 5   account_type_name                                          440199 non-null  object
 6   customer_type_name                                         440199 non-null  object
 7   primary_email                                              440199 non-null  object
 8   primary_phone                                              440199 non-null  object
 9   last_updt_ts                                               440199 non-null  datetime64[ns, UTC]
 10  customer_id_1                                              440199 non-null  Int64
 11  Dealer_type_flag                                           440199 non-null  object
 12  RowCnt                                                     440199 non-null  Int64
 13  Best_partices_1                                            440199 non-null  Int64
 14  Best_partices_2                                            440199 non-null  Int64
 15  Best_partices_3                                            440199 non-null  Int64
 16  Best_partices_4                                            440199 non-null  Int64
 17  Best_partices_5                                            440199 non-null  Int64
 18  Best_partices_6                                            440199 non-null  Int64
 19  Best_Practice_All                                          440199 non-null  Int64
 20  Best_Practice_All_flag                                     440199 non-null  Int64
 21  sum_arm_commands                                           440199 non-null  Int64
 22  sum_disarm_commands                                        440199 non-null  Int64
 23  number_days_arming_disarming                               440199 non-null  Int64
 24  count_of_dates_arming                                      440199 non-null  Int64
 25  Arming_Consistency                                         440199 non-null  float64
 26  Arming_Flag                                                440199 non-null  float64
 27  sum_login_count                                            440199 non-null  Int64
 28  number_of_login_days                                       440199 non-null  Int64
 29  count_of_dates_logins                                      440199 non-null  int64
 30  Login_Consistency                                          440199 non-null  float64
 31  Login_Flag                                                 440199 non-null  float64
 32  Segment                                                    440199 non-null  object
 33  Avg_Arming_per_day                                         440199 non-null  float64
 34  Avg_DisArming_per_day                                      440199 non-null  float64
 35  Avg_logins_per_day                                         440199 non-null  float64
 36  Mobile_login_Counts                                        124166 non-null  float64
 37  VCD_Login_Counts                                           124166 non-null  float64
 38  Web_login_Counts                                           124166 non-null  float64
 39  Mobile_login_days                                          124166 non-null  float64
 40  VCD_Login_days                                             124166 non-null  float64
 41  Web_login_days                                             124166 non-null  float64
 42  All_login_Counts                                           124166 non-null  float64
 43  Mobile_login_share                                         124166 non-null  float64
 44  VCD_login_share                                            124166 non-null  float64
 45  Web_login_share                                            124166 non-null  float64
 46  Login_Type_Customer                                        124166 non-null  object
 47  ref_end_date                                               247153 non-null  datetime64[ns, UTC]
 48  Central_Station_Condition_Issue_count_last3M               247153 non-null  float64
 49  Critical_System_Issue_count_last3M                         247153 non-null  float64
 50  Engagement_Issue_count_last3M                              247153 non-null  float64
 51  System_Condition_Issue_count_last3M                        247153 non-null  float64
 52  Central_Station_Condition_Issue_duration_hours_sum_last3M  247153 non-null  float64
 53  Critical_System_Issue_duration_hours_sum_last3M            247153 non-null  float64
 54  Engagement_Issue_duration_hours_sum_last3M                 247153 non-null  float64
 55  System_Condition_Issue_duration_hours_sum_last3M           247153 non-null  float64
dtypes: Int64(18), datetime64[ns, UTC](3), float64(25), int64(1), object(9)
memory usage: 199.0+ MB

In [211]:
pd.DataFrame(Merge_DF_4[Merge_DF_4['Best_Practice_All']>3].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    # Avg_DisArming_per_day=('Avg_DisArming_per_day',np.nanmean),    
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
).reset_index())

                 Segment  Volume
0             Disengaged   98903
1             Heavy_User   16934
2  Home_automation_Savvy   29237
3         Moderate_Users   79237
4            Old_Fashion   61318

In [212]:
pd.DataFrame(Merge_DF_4[Merge_DF_4['Best_Practice_All']<=3].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    # Avg_DisArming_per_day=('Avg_DisArming_per_day',np.nanmean),    
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
).reset_index())

                 Segment  Volume
0             Disengaged   60052
1  Home_automation_Savvy    3185
2         Moderate_Users   45418
3            Old_Fashion   45915

In [213]:
pd.DataFrame(Merge_DF_4[Merge_DF_4['Best_Practice_All']==6].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    # Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    # Avg_DisArming_per_day=('Avg_DisArming_per_day',np.nanmean),    
    # Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)
).reset_index())

                 Segment  Volume
0             Disengaged    8471
1             Heavy_User    5229
2  Home_automation_Savvy    4293
3         Moderate_Users    9565
4            Old_Fashion    9800

In [214]:
pd.DataFrame(Merge_DF_4['Arming_Consistency'].value_counts().reset_index().sort_values(by='index',ascending=True))

         index  Arming_Consistency
0     0.000000              186624
2     2.439024               23237
4     4.878049               13927
7     7.317073                8610
9     9.756098                7015
13   12.195122                5345
15   14.634146                4718
17   17.073171                4377
19   19.512195                3739
21   21.951220                3532
23   24.390244                3245
26   26.829268                3016
27   29.268293                2906
31   31.707317                2734
33   34.146341                2593
37   36.585366                2504
35   39.024390                2536
38   41.463415                2471
36   43.902439                2526
41   46.341463                2422
39   48.780488                2467
40   51.219512                2452
34   53.658537                2561
32   56.097561                2680
29   58.536585                2772
30   60.975610                2745
28   63.414634                2895
25   65.853659                3127
24   68.292683                3211
22   70.731707                3448
20   73.170732                3700
18   75.609756                4058
16   78.048780                4407
14   80.487805                5067
12   82.926829                5731
11   85.365854                6163
10   87.804878                6934
8    90.243902                8027
6    92.682927                9735
5    95.121951               12093
3    97.560976               16925
1   100.000000               40924

In [215]:
pd.DataFrame(Merge_DF_4['Login_Consistency'].value_counts().reset_index().sort_values(by='index',ascending=True))

        index  Login_Consistency
0    0.000000             316033
2    5.263158              11292
3   10.526316               7582
5   15.789474               5884
7   21.052632               4923
9   26.315789               4502
11  31.578947               4117
13  36.842105               3784
14  42.105263               3722
17  47.368421               3516
16  52.631579               3523
15  57.894737               3565
12  63.157895               3871
10  68.421053               4127
8   73.684211               4514
6   78.947368               5165
4   84.210526               6621
1   89.473684              43458

In [216]:
pd.DataFrame(Merge_DF_4[Merge_DF_4['Login_Consistency']==0].groupby(['Segment']).agg(
    Volume=('customer_id','nunique'),
    Avg_Arming_per_day=('Avg_Arming_per_day',np.nanmean), 
    Avg_DisArming_per_day=('Avg_DisArming_per_day',np.nanmean),    
    Avg_logins_per_day = ('Avg_logins_per_day',np.nanmean)).reset_index())

,Segment,Volume,Avg_Arming_per_day,Avg_DisArming_per_day,Avg_logins_per_day
0,Disengaged,158955,0.000000,0.000000,0.0
1,Moderate_Users,68786,1.193819,1.309685,0.0
2,Old_Fashion,88292,2.351481,2.104234,0.0

In [217]:
Merge_DF_4[Merge_DF_4['Login_Consistency']==0].shape[0]

316033

In [218]:
Merge_DF_4[Merge_DF_4['Arming_Consistency']==0].shape[0]

186624

In [219]:
Camera_TC_issue_query='''

select dealer_name,customer_id,unit_id,device_id,trouble_condition_name,trouble_condition_group_id,trouble_condition_group_desc, start_date_utc,end_date_utc
from `cio-datahub-enterprise-pr-183a.src_adc.bq_troublecondition_data`
where trouble_condition_start_ind='Y'and trouble_condition_closed_ind='Y' and date(start_date_utc) >= '2022-05-01' and date(start_date_utc) <'2022-08-01' and trouble_condition_name in ('CameraNotReachable','CameraNotCommunicating','BroadbandCommFailure')


'''

In [220]:
Camera_TC= extract_bq_data(bq_client, sql=Camera_TC_issue_query)

In [221]:
Camera_TC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260219 entries, 0 to 2260218
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   dealer_name                   object
 1   customer_id                   Int64
 2   unit_id                       Int64
 3   device_id                     Int64
 4   trouble_condition_name        object
 5   trouble_condition_group_id    Int64
 6   trouble_condition_group_desc  object
 7   start_date_utc                datetime64[ns, UTC]
 8   end_date_utc                  datetime64[ns, UTC]
dtypes: Int64(4), datetime64[ns, UTC](2), object(3)
memory usage: 163.8+ MB

In [222]:
Camera_TC['count_instance']=1

In [223]:
Camera_TC['Day_Diff']=Camera_TC['end_date_utc'] - Camera_TC['start_date_utc']

In [224]:
TC_pivot_table=pd.pivot_table(Camera_TC, values=['count_instance','Day_Diff'], index=['customer_id'], columns='trouble_condition_name',
                          aggfunc={'count_instance': np.sum})

In [225]:
TC_pivot_table=TC_pivot_table.reset_index()

In [226]:
TC_pivot_table.head()

                       customer_id       count_instance  \
trouble_condition_name             BroadbandCommFailure
0                           287850                 22.0
1                           292877                  4.0
2                           299100                133.0
3                           407839                  3.0
4                           419604                  3.0


trouble_condition_name CameraNotCommunicating CameraNotReachable
0                                         NaN                NaN
1                                         NaN                NaN
2                                         NaN                NaN
3                                         NaN                NaN
4                                         NaN                1.0

In [227]:
TC_pivot_table.columns=['customer_id','BroadbandCommFailure_count','CameraNotCommunicating_count','CameraNotReachable_count']

In [228]:
TC_pivot_table.head()

,customer_id,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count
0,287850,22.0,NaN,NaN
1,292877,4.0,NaN,NaN
2,299100,133.0,NaN,NaN
3,407839,3.0,NaN,NaN
4,419604,3.0,NaN,1.0

In [229]:
TC_pivot_table['BroadbandCommFailure_Flag']=TC_pivot_table['BroadbandCommFailure_count'].apply(lambda x: 1 if x>0 else 0)
TC_pivot_table['CameraNotCommunicating_Flag']=TC_pivot_table['CameraNotCommunicating_count'].apply(lambda x: 1 if x>0 else 0)
TC_pivot_table['CameraNotReachable_Flag']=TC_pivot_table['CameraNotReachable_count'].apply(lambda x: 1 if x>0 else 0)

In [230]:
TC_pivot_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95818 entries, 0 to 95817
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   95818 non-null  Int64
 1   BroadbandCommFailure_count    52877 non-null  float64
 2   CameraNotCommunicating_count  18131 non-null  float64
 3   CameraNotReachable_count      38215 non-null  float64
 4   BroadbandCommFailure_Flag     95818 non-null  int64
 5   CameraNotCommunicating_Flag   95818 non-null  int64
 6   CameraNotReachable_Flag       95818 non-null  int64
dtypes: Int64(1), float64(3), int64(3)
memory usage: 5.2 MB

In [231]:
TC_pivot_table.head()

,customer_id,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count,BroadbandCommFailure_Flag,CameraNotCommunicating_Flag,CameraNotReachable_Flag
0,287850,22.0,NaN,NaN,1,0,0
1,292877,4.0,NaN,NaN,1,0,0
2,299100,133.0,NaN,NaN,1,0,0
3,407839,3.0,NaN,NaN,1,0,0
4,419604,3.0,NaN,1.0,1,0,1

In [232]:
TC_pivot_table['BroadbandCommFailure_Flag'].sum()

52877

In [233]:
TC_pivot_table['CameraNotCommunicating_Flag'].sum()

18131

In [234]:
Merge_DF_5=Merge_DF_4.merge(TC_pivot_table,on='customer_id',how='left')

In [235]:
Merge_DF_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440199 entries, 0 to 440198
Data columns (total 62 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   customer_id                                                440199 non-null  Int64
 1   dealer_customer_id                                         440199 non-null  object
 2   primary_login_id                                           440199 non-null  Int64
 3   dealer_name                                                440199 non-null  object
 4   join_date                                                  440199 non-null  datetime64[ns, UTC]
 5   account_type_name                                          440199 non-null  object
 6   customer_type_name                                         440199 non-null  object
 7   primary_email                                              440199 non-null  object
 8   primary_phone                                              440199 non-null  object
 9   last_updt_ts                                               440199 non-null  datetime64[ns, UTC]
 10  customer_id_1                                              440199 non-null  Int64
 11  Dealer_type_flag                                           440199 non-null  object
 12  RowCnt                                                     440199 non-null  Int64
 13  Best_partices_1                                            440199 non-null  Int64
 14  Best_partices_2                                            440199 non-null  Int64
 15  Best_partices_3                                            440199 non-null  Int64
 16  Best_partices_4                                            440199 non-null  Int64
 17  Best_partices_5                                            440199 non-null  Int64
 18  Best_partices_6                                            440199 non-null  Int64
 19  Best_Practice_All                                          440199 non-null  Int64
 20  Best_Practice_All_flag                                     440199 non-null  Int64
 21  sum_arm_commands                                           440199 non-null  Int64
 22  sum_disarm_commands                                        440199 non-null  Int64
 23  number_days_arming_disarming                               440199 non-null  Int64
 24  count_of_dates_arming                                      440199 non-null  Int64
 25  Arming_Consistency                                         440199 non-null  float64
 26  Arming_Flag                                                440199 non-null  float64
 27  sum_login_count                                            440199 non-null  Int64
 28  number_of_login_days                                       440199 non-null  Int64
 29  count_of_dates_logins                                      440199 non-null  int64
 30  Login_Consistency                                          440199 non-null  float64
 31  Login_Flag                                                 440199 non-null  float64
 32  Segment                                                    440199 non-null  object
 33  Avg_Arming_per_day                                         440199 non-null  float64
 34  Avg_DisArming_per_day                                      440199 non-null  float64
 35  Avg_logins_per_day                                         440199 non-null  float64
 36  Mobile_login_Counts                                        124166 non-null  float64
 37  VCD_Login_Counts                                           124166 non-null  float64
 38  Web_login_Counts                                           124166 non-null  float64
 39  Mobile_login_days                                          124166 non-null  float64
 40  VCD_Login_days                                             124166 non-null  float64
 41  Web_login_days                                             124166 non-null  float64
 42  All_login_Counts                                           124166 non-null  float64
 43  Mobile_login_share                                         124166 non-null  float64
 44  VCD_login_share                                            124166 non-null  float64
 45  Web_login_share                                            124166 non-null  float64
 46  Login_Type_Customer                                        124166 non-null  object
 47  ref_end_date                                               247153 non-null  datetime64[ns, UTC]
 48  Central_Station_Condition_Issue_count_last3M               247153 non-null  float64
 49  Critical_System_Issue_count_last3M                         247153 non-null  float64
 50  Engagement_Issue_count_last3M                              247153 non-null  float64
 51  System_Condition_Issue_count_last3M                        247153 non-null  float64
 52  Central_Station_Condition_Issue_duration_hours_sum_last3M  247153 non-null  float64
 53  Critical_System_Issue_duration_hours_sum_last3M            247153 non-null  float64
 54  Engagement_Issue_duration_hours_sum_last3M                 247153 non-null  float64
 55  System_Condition_Issue_duration_hours_sum_last3M           247153 non-null  float64
 56  BroadbandCommFailure_count                                 39471 non-null   float64
 57  CameraNotCommunicating_count                               14155 non-null   float64
 58  CameraNotReachable_count                                   28991 non-null   float64
 59  BroadbandCommFailure_Flag                                  72697 non-null   float64
 60  CameraNotCommunicating_Flag                                72697 non-null   float64
 61  CameraNotReachable_Flag                                    72697 non-null   float64
dtypes: Int64(18), datetime64[ns, UTC](3), float64(31), int64(1), object(9)
memory usage: 219.1+ MB

In [236]:
Merge_DF_5['BroadbandCommFailure_Flag'].sum(),Merge_DF_5['CameraNotCommunicating_Flag'].sum()

(39471.0, 14155.0)

In [237]:
Merge_DF_5['BroadbandCommFailure_Flag'].isna().sum()/Merge_DF_5.shape[0]

0.8348542363794557

In [238]:
Merge_DF_5['Segment'].value_counts()

Disengaged               158955
Moderate_Users           124655
Old_Fashion              107233
Home_automation_Savvy     32422
Heavy_User                16934
Name: Segment, dtype: int64

In [239]:
Merge_DF_5['BroadbandCommFailure_count'].value_counts()

1.0       12756
2.0        3916
3.0        3460
4.0        3294
5.0        2748
          ...
2050.0        1
395.0         1
2281.0        1
817.0         1
344.0         1
Name: BroadbandCommFailure_count, Length: 878, dtype: int64

In [240]:
Merge_DF_5['BroadbandCommFailure_lessthan5']=Merge_DF_5['BroadbandCommFailure_count'].apply(lambda x: 1 if x<=5 else 0)
Merge_DF_5['BroadbandCommFailure_grtrthan5']=Merge_DF_5['BroadbandCommFailure_count'].apply(lambda x: 1 if x>5 else 0)
Merge_DF_5['CameraNotCommunicating_lessthan5']=Merge_DF_5['CameraNotCommunicating_count'].apply(lambda x: 1 if x<=5 else 0)
Merge_DF_5['CameraNotCommunicating_grtrthan5']=Merge_DF_5['CameraNotCommunicating_count'].apply(lambda x: 1 if x>5 else 0)
Merge_DF_5['CameraNotReachable_lessthan5']=Merge_DF_5['CameraNotReachable_count'].apply(lambda x: 1 if x<=5 else 0)
Merge_DF_5['CameraNotReachable_grtrthan5']=Merge_DF_5['CameraNotReachable_count'].apply(lambda x: 1 if x>5 else 0)

In [241]:
Merge_DF_5['BroadbandCommFailure_lessthan5'].value_counts()

0    414025
1     26174
Name: BroadbandCommFailure_lessthan5, dtype: int64

In [242]:
Merge_DF_5['BroadbandCommFailure_grtrthan5'].value_counts()

0    426902
1     13297
Name: BroadbandCommFailure_grtrthan5, dtype: int64

In [243]:
Merge_DF_5.shape

(440199, 68)

In [244]:
pd.DataFrame(Merge_DF_5.groupby(['Segment']).agg(
    BroadbandCommFailure_count=('BroadbandCommFailure_Flag',np.sum),
    CameraNotCommunicating_count=('CameraNotCommunicating_Flag',np.sum), 
    CameraNotReachable_count=('CameraNotReachable_Flag',np.sum)).reset_index())

,Segment,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count
0,Disengaged,9545.0,5326.0,9890.0
1,Heavy_User,2081.0,730.0,1772.0
2,Home_automation_Savvy,3070.0,1846.0,3911.0
3,Moderate_Users,12607.0,3777.0,7669.0
4,Old_Fashion,12168.0,2476.0,5749.0

In [245]:
pd.DataFrame(Merge_DF_5.groupby(['Segment']).agg(
    BroadbandCommFailure_lessthan5=('BroadbandCommFailure_lessthan5',np.sum),
    BroadbandCommFailure_grtrthan5=('BroadbandCommFailure_grtrthan5',np.sum), 
    CameraNotCommunicating_lessthan5=('CameraNotCommunicating_lessthan5',np.sum),
    CameraNotCommunicating_grtrthan5=('CameraNotCommunicating_grtrthan5',np.sum),
    CameraNotReachable_lessthan5=('CameraNotReachable_lessthan5',np.sum), 
    CameraNotReachable_grtrthan5=('CameraNotReachable_grtrthan5',np.sum)).reset_index())

,Segment,BroadbandCommFailure_lessthan5,BroadbandCommFailure_grtrthan5,CameraNotCommunicating_lessthan5,CameraNotCommunicating_grtrthan5,CameraNotReachable_lessthan5,CameraNotReachable_grtrthan5
0,Disengaged,6086,3459,5317,9,9756,134
1,Heavy_User,1532,549,728,2,1737,35
2,Home_automation_Savvy,2377,693,1844,2,3843,68
3,Moderate_Users,8483,4124,3767,10,7565,104
4,Old_Fashion,7696,4472,2466,10,5644,105

In [246]:
ADC_Telus_internet_customers='''

with  Telus_internet_customers as

(select cust_bus_cust_id, pi_prod_instnc_typ_cd as pi_prod_instnc_typ_cd_internet
from `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` 
WHERE DATE(prod_instnc_ts) = "2022-09-30" #Snapshot of the last day of the month
and pi_prod_instnc_stat_cd in ('A')
and pi_prod_instnc_typ_cd ='HSIC'
and consldt_cust_typ_cd = 'R'
)

,
Telus_customers as
(select bacct_bus_bacct_num,bacct_billg_acct_id,cust_bus_cust_id,pi_prod_instnc_typ_cd,pi_prod_instnc_stat_ts,prod_instnc_ts
from `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_prod_instnc_snpsht` 
WHERE DATE(prod_instnc_ts) = "2022-09-30" #Snapshot of the last day of the month
and pi_prod_instnc_typ_cd ='SMHM' #Serice type
and bus_prod_instnc_src_id = 1001 #BANs that are for home services
and pi_prod_instnc_stat_cd in ('A')
and  consldt_cust_typ_cd = 'R'
-- and DATE(pi_prod_instnc_stat_ts)>='2022-08-01' and DATE(pi_prod_instnc_stat_ts)<'2022-09-01' #Date on which the status was updated
QUALIFY ROW_NUMBER() OVER (PARTITION BY cust_bus_cust_id ORDER BY pi_prod_instnc_stat_ts DESC) = 1
order by cust_bus_cust_id)
,

ADC_customer_base as(

SELECT customer_id,dealer_customer_id,dealer_name
FROM `cio-datahub-enterprise-pr-183a.src_adc.bq_customer_account_details` 
--where last_updt_ts >='2022-08-01'  and last_updt_ts < '2022-10-01'
where date(last_updt_ts) ='2022-09-30'
and account_type_name!='Standalone'
and customer_type_name='Customer'
and dealer_name='TELUS Communications Inc.'
QUALIFY ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY last_updt_ts DESC) = 1
order by dealer_name,join_date,customer_id

)
,
merge_data as(

select distinct adc.customer_id,adc.dealer_customer_id, adc.dealer_name,telus.bacct_bus_bacct_num, telus.bacct_billg_acct_id, telus.cust_bus_cust_id,
       telus.pi_prod_instnc_typ_cd, telus.pi_prod_instnc_stat_ts, telus.prod_instnc_ts,b.cust_bus_cust_id as cust_bus_cust_id_internet ,
       b.pi_prod_instnc_typ_cd_internet 
from ADC_customer_base adc
inner join Telus_customers telus
on telus.cust_bus_cust_id=adc.dealer_customer_id
inner join Telus_internet_customers b
on adc.dealer_customer_id=b.cust_bus_cust_id
order by telus.bacct_bus_bacct_num
)




select distinct customer_id, dealer_customer_id, dealer_name,
       bacct_bus_bacct_num, bacct_billg_acct_id, cust_bus_cust_id,
       pi_prod_instnc_typ_cd, pi_prod_instnc_stat_ts, prod_instnc_ts,cust_bus_cust_id_internet,
       pi_prod_instnc_typ_cd_internet, 1 as Telus_internet_flag 
       from merge_data


'''

In [247]:
ADC_Telus_internet=extract_bq_data(bq_client, sql=ADC_Telus_internet_customers)

In [248]:
ADC_Telus_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190739 entries, 0 to 190738
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   customer_id                     190739 non-null  Int64
 1   dealer_customer_id              190739 non-null  object
 2   dealer_name                     190739 non-null  object
 3   bacct_bus_bacct_num             190739 non-null  Int64
 4   bacct_billg_acct_id             190739 non-null  Int64
 5   cust_bus_cust_id                190739 non-null  object
 6   pi_prod_instnc_typ_cd           190739 non-null  object
 7   pi_prod_instnc_stat_ts          190739 non-null  datetime64[ns]
 8   prod_instnc_ts                  190739 non-null  datetime64[ns, UTC]
 9   cust_bus_cust_id_internet       190739 non-null  object
 10  pi_prod_instnc_typ_cd_internet  190739 non-null  object
 11  Telus_internet_flag             190739 non-null  Int64
dtypes: Int64(4), datetime64[ns, UTC](1), datetime64[ns](1), object(6)
memory usage: 18.2+ MB

In [249]:
ADC_Telus_internet.head()

,customer_id,dealer_customer_id,dealer_name,bacct_bus_bacct_num,bacct_billg_acct_id,cust_bus_cust_id,pi_prod_instnc_typ_cd,pi_prod_instnc_stat_ts,prod_instnc_ts,cust_bus_cust_id_internet,pi_prod_instnc_typ_cd_internet,Telus_internet_flag
0,6588379,1793160,TELUS Communications Inc.,601686995,81385769,1793160,SMHM,2018-09-20,2022-09-30 00:00:00+00:00,1793160,HSIC,1
1,6840591,98868011,TELUS Communications Inc.,603764541,98436932,98868011,SMHM,2018-12-20,2022-09-30 00:00:00+00:00,98868011,HSIC,1
2,6846382,85748753,TELUS Communications Inc.,601917414,83794091,85748753,SMHM,2018-12-24,2022-09-30 00:00:00+00:00,85748753,HSIC,1
3,7194270,99163121,TELUS Communications Inc.,603840785,98823638,99163121,SMHM,2019-04-06,2022-09-30 00:00:00+00:00,99163121,HSIC,1
4,7208184,2072050,TELUS Communications Inc.,208684473,1144794,2072050,SMHM,2019-04-10,2022-09-30 00:00:00+00:00,2072050,HSIC,1

In [250]:
Merge_DF_6=Merge_DF_5.merge(ADC_Telus_internet[['customer_id','Telus_internet_flag']],how='left',on='customer_id')

In [251]:
Merge_DF_6.shape

(440199, 69)

In [252]:
Merge_DF_5.shape

(440199, 68)

In [253]:
Merge_DF_5['dealer_name'].value_counts()

TELUS Communications Inc.    241919
ADT by TELUS                 198280
Name: dealer_name, dtype: int64

In [254]:
Merge_DF_6['Telus_internet_flag'].isna().sum()/Merge_DF_6.shape[0]

0.60711405523411

In [255]:
Merge_DF_6['dealer_name'].value_counts()

TELUS Communications Inc.    241919
ADT by TELUS                 198280
Name: dealer_name, dtype: int64

In [256]:
Merge_DF_6['Telus_internet_flag'].sum()

172948

In [257]:
pd.DataFrame(Merge_DF_6.groupby(['Segment']).agg(
    BroadbandCommFailure_count=('BroadbandCommFailure_Flag',np.sum),
    CameraNotCommunicating_count=('CameraNotCommunicating_Flag',np.sum), 
    CameraNotReachable_count=('CameraNotReachable_Flag',np.sum)).reset_index())

,Segment,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count
0,Disengaged,9545.0,5326.0,9890.0
1,Heavy_User,2081.0,730.0,1772.0
2,Home_automation_Savvy,3070.0,1846.0,3911.0
3,Moderate_Users,12607.0,3777.0,7669.0
4,Old_Fashion,12168.0,2476.0,5749.0

In [258]:
Merge_DF_6['dealer_name'].value_counts()

TELUS Communications Inc.    241919
ADT by TELUS                 198280
Name: dealer_name, dtype: int64

In [278]:
pd.DataFrame(Merge_DF_6.groupby(['Segment']).agg(
    Telus_internet_customers=('Telus_internet_flag',np.sum)).reset_index())

                 Segment  Telus_internet_customers
0             Disengaged                    103850
1             Heavy_User                         0
2  Home_automation_Savvy                         0
3         Moderate_Users                     31888
4            Old_Fashion                     37210

In [260]:
pd.crosstab(Merge_DF_6['Segment'],Merge_DF_3['dealer_name'], dropna=True)

dealer_name            ADT by TELUS  TELUS Communications Inc.
Segment
Disengaged                    30486                     128469
Heavy_User                    16934                          0
Home_automation_Savvy         32421                          1
Moderate_Users                73804                      50851
Old_Fashion                   44635                      62598

In [261]:
camera_issue_DF=Merge_DF_6[(Merge_DF_6.BroadbandCommFailure_Flag==1) | (Merge_DF_6.CameraNotCommunicating_Flag==1) | (Merge_DF_6.CameraNotReachable_Flag==1)]

In [262]:
pd.DataFrame(camera_issue_DF.groupby(['Segment']).agg(
    BroadbandCommFailure_count=('BroadbandCommFailure_Flag',np.sum),
    CameraNotCommunicating_count=('CameraNotCommunicating_Flag',np.sum), 
    CameraNotReachable_count=('CameraNotReachable_Flag',np.sum)).reset_index())

,Segment,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count
0,Disengaged,9545.0,5326.0,9890.0
1,Heavy_User,2081.0,730.0,1772.0
2,Home_automation_Savvy,3070.0,1846.0,3911.0
3,Moderate_Users,12607.0,3777.0,7669.0
4,Old_Fashion,12168.0,2476.0,5749.0

In [263]:
pd.DataFrame(camera_issue_DF.groupby(['Segment']).agg(
    Telus_internet_customers=('Telus_internet_flag',np.sum)).reset_index()).merge(pd.DataFrame(camera_issue_DF.groupby(['Segment']).agg(
    BroadbandCommFailure_customer_count=('BroadbandCommFailure_Flag',np.sum),
    CameraNotCommunicating_customer_count=('CameraNotCommunicating_Flag',np.sum), 
    CameraNotReachable_customer_count=('CameraNotReachable_Flag',np.sum)).reset_index()),on='Segment',how='left')

,Segment,Telus_internet_customers,BroadbandCommFailure_customer_count,CameraNotCommunicating_customer_count,CameraNotReachable_customer_count
0,Disengaged,15323,9545.0,5326.0,9890.0
1,Heavy_User,0,2081.0,730.0,1772.0
2,Home_automation_Savvy,0,3070.0,1846.0,3911.0
3,Moderate_Users,7741,12607.0,3777.0,7669.0
4,Old_Fashion,9056,12168.0,2476.0,5749.0

In [264]:
Merge_DF_6['Telus_internet_flag'].value_counts()

1    172948
Name: Telus_internet_flag, dtype: Int64

In [265]:
Merge_DF_6['Telus_internet_flag'].info()

<class 'pandas.core.series.Series'>
Int64Index: 440199 entries, 0 to 440198
Series name: Telus_internet_flag
Non-Null Count   Dtype
--------------   -----
172948 non-null  Int64
dtypes: Int64(1)
memory usage: 23.3 MB

In [266]:
DF_Non_telus_internet=Merge_DF_6[(Merge_DF_6['Telus_internet_flag'].isna()==True) & (Merge_DF_6['dealer_name']=='TELUS Communications Inc.')]

In [267]:
DF_Non_telus_internet['Segment'].value_counts()

Old_Fashion              25388
Disengaged               24619
Moderate_Users           18963
Home_automation_Savvy        1
Name: Segment, dtype: int64

In [268]:
pd.DataFrame(DF_Non_telus_internet.groupby(['Segment']).agg(
    BroadbandCommFailure_count=('BroadbandCommFailure_Flag',np.sum),
    CameraNotCommunicating_count=('CameraNotCommunicating_Flag',np.sum), 
    CameraNotReachable_count=('CameraNotReachable_Flag',np.sum)).reset_index())

,Segment,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count
0,Disengaged,1730.0,1214.0,2070.0
1,Home_automation_Savvy,0.0,0.0,0.0
2,Moderate_Users,1958.0,899.0,1589.0
3,Old_Fashion,3095.0,904.0,1859.0

In [269]:
Merge_DF_6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440199 entries, 0 to 440198
Data columns (total 69 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   customer_id                                                440199 non-null  Int64
 1   dealer_customer_id                                         440199 non-null  object
 2   primary_login_id                                           440199 non-null  Int64
 3   dealer_name                                                440199 non-null  object
 4   join_date                                                  440199 non-null  datetime64[ns, UTC]
 5   account_type_name                                          440199 non-null  object
 6   customer_type_name                                         440199 non-null  object
 7   primary_email                                              440199 non-null  object
 8   primary_phone                                              440199 non-null  object
 9   last_updt_ts                                               440199 non-null  datetime64[ns, UTC]
 10  customer_id_1                                              440199 non-null  Int64
 11  Dealer_type_flag                                           440199 non-null  object
 12  RowCnt                                                     440199 non-null  Int64
 13  Best_partices_1                                            440199 non-null  Int64
 14  Best_partices_2                                            440199 non-null  Int64
 15  Best_partices_3                                            440199 non-null  Int64
 16  Best_partices_4                                            440199 non-null  Int64
 17  Best_partices_5                                            440199 non-null  Int64
 18  Best_partices_6                                            440199 non-null  Int64
 19  Best_Practice_All                                          440199 non-null  Int64
 20  Best_Practice_All_flag                                     440199 non-null  Int64
 21  sum_arm_commands                                           440199 non-null  Int64
 22  sum_disarm_commands                                        440199 non-null  Int64
 23  number_days_arming_disarming                               440199 non-null  Int64
 24  count_of_dates_arming                                      440199 non-null  Int64
 25  Arming_Consistency                                         440199 non-null  float64
 26  Arming_Flag                                                440199 non-null  float64
 27  sum_login_count                                            440199 non-null  Int64
 28  number_of_login_days                                       440199 non-null  Int64
 29  count_of_dates_logins                                      440199 non-null  int64
 30  Login_Consistency                                          440199 non-null  float64
 31  Login_Flag                                                 440199 non-null  float64
 32  Segment                                                    440199 non-null  object
 33  Avg_Arming_per_day                                         440199 non-null  float64
 34  Avg_DisArming_per_day                                      440199 non-null  float64
 35  Avg_logins_per_day                                         440199 non-null  float64
 36  Mobile_login_Counts                                        124166 non-null  float64
 37  VCD_Login_Counts                                           124166 non-null  float64
 38  Web_login_Counts                                           124166 non-null  float64
 39  Mobile_login_days                                          124166 non-null  float64
 40  VCD_Login_days                                             124166 non-null  float64
 41  Web_login_days                                             124166 non-null  float64
 42  All_login_Counts                                           124166 non-null  float64
 43  Mobile_login_share                                         124166 non-null  float64
 44  VCD_login_share                                            124166 non-null  float64
 45  Web_login_share                                            124166 non-null  float64
 46  Login_Type_Customer                                        124166 non-null  object
 47  ref_end_date                                               247153 non-null  datetime64[ns, UTC]
 48  Central_Station_Condition_Issue_count_last3M               247153 non-null  float64
 49  Critical_System_Issue_count_last3M                         247153 non-null  float64
 50  Engagement_Issue_count_last3M                              247153 non-null  float64
 51  System_Condition_Issue_count_last3M                        247153 non-null  float64
 52  Central_Station_Condition_Issue_duration_hours_sum_last3M  247153 non-null  float64
 53  Critical_System_Issue_duration_hours_sum_last3M            247153 non-null  float64
 54  Engagement_Issue_duration_hours_sum_last3M                 247153 non-null  float64
 55  System_Condition_Issue_duration_hours_sum_last3M           247153 non-null  float64
 56  BroadbandCommFailure_count                                 39471 non-null   float64
 57  CameraNotCommunicating_count                               14155 non-null   float64
 58  CameraNotReachable_count                                   28991 non-null   float64
 59  BroadbandCommFailure_Flag                                  72697 non-null   float64
 60  CameraNotCommunicating_Flag                                72697 non-null   float64
 61  CameraNotReachable_Flag                                    72697 non-null   float64
 62  BroadbandCommFailure_lessthan5                             440199 non-null  int64
 63  BroadbandCommFailure_grtrthan5                             440199 non-null  int64
 64  CameraNotCommunicating_lessthan5                           440199 non-null  int64
 65  CameraNotCommunicating_grtrthan5                           440199 non-null  int64
 66  CameraNotReachable_lessthan5                               440199 non-null  int64
 67  CameraNotReachable_grtrthan5                               440199 non-null  int64
 68  Telus_internet_flag                                        172948 non-null  Int64
dtypes: Int64(19), datetime64[ns, UTC](3), float64(31), int64(7), object(9)
memory usage: 259.2+ MB

In [270]:
Merge_DF_6['Best_practices_less_than3']=Merge_DF_6['Best_Practice_All'].apply(lambda x: 'Less than 3 Best Practices' if x<=3 else 'More than 3 Best Practices')

In [271]:
Merge_DF_6['Best_partices_1'].value_counts()

1    393370
0     46829
Name: Best_partices_1, dtype: Int64

In [272]:
pd.DataFrame(Merge_DF_6.groupby(['Best_practices_less_than3']).agg(
    Volume=('customer_id','nunique'),
    Best_partices_1=('Best_partices_1',np.nanmean), 
    Best_partices_2=('Best_partices_2',np.nanmean),    
    Best_partices_3 = ('Best_partices_3',np.nanmean),
    Best_partices_4=('Best_partices_4',np.nanmean), 
    Best_partices_5=('Best_partices_5',np.nanmean),    
    Best_partices_6 = ('Best_partices_6',np.nanmean),
).reset_index())

,Best_practices_less_than3,Volume,Best_partices_1,Best_partices_2,Best_partices_3,Best_partices_4,Best_partices_5,Best_partices_6
0,Less than 3 Best Practices,154570,0.732296,0.5547,0.15677,0.06095,0.403959,0.110985
1,More than 3 Best Practices,285629,0.980919,0.979533,0.475428,0.379048,0.95554,0.880691

In [ ]:
pd.DataFrame(Merge_DF_6.groupby(['Best_practices_less_than3']).agg(
    Volume=('customer_id','nunique'),
    Best_partices_1=('Best_partices_1',np.nanmean), 
    Best_partices_2=('Best_partices_2',np.nanmean),    
    Best_partices_3 = ('Best_partices_3',np.nanmean),
    Best_partices_4=('Best_partices_4',np.nanmean), 
    Best_partices_5=('Best_partices_5',np.nanmean),    
    Best_partices_6 = ('Best_partices_6',np.nanmean),
).reset_index())

In [274]:
Merge_DF_6['Best_partices_1'].mean(),Merge_DF_6['Best_partices_2'].mean(),Merge_DF_6['Best_partices_3'].mean(),Merge_DF_6['Best_partices_4'].mean(),Merge_DF_6['Best_partices_5'].mean(),Merge_DF_6['Best_partices_6'].mean()

(0.8936185679658518,
 0.8303585423865115,
 0.36353558277051967,
 0.2673518113398713,
 0.7618599769649635,
 0.6104193785083565)

In [275]:
Merge_DF_6['Best_partices_1'].sum()

393370

In [276]:
Merge_DF_6.shape[0]-393370

46829

In [280]:
Merge_DF_6['Telus_internet_flag'].value_counts()

1    172948
Name: Telus_internet_flag, dtype: Int64

In [281]:
Merge_DF_6['Telus_internet_flag'].fillna(0,inplace=True)

In [282]:
pd.DataFrame(Merge_DF_6.groupby(['Telus_internet_flag']).agg(
    BroadbandCommFailure_count=('BroadbandCommFailure_Flag',np.sum),
    CameraNotCommunicating_count=('CameraNotCommunicating_Flag',np.sum), 
    CameraNotReachable_count=('CameraNotReachable_Flag',np.sum),
    BroadbandCommFailure_grtrthan5=('BroadbandCommFailure_grtrthan5',np.sum)).reset_index())

,Telus_internet_flag,BroadbandCommFailure_count,CameraNotCommunicating_count,CameraNotReachable_count,BroadbandCommFailure_grtrthan5
0,0,23649.0,7330.0,15003.0,7434
1,1,15822.0,6825.0,13988.0,5863

In [ ]:
config= bigquery.job.LoadJobConfig()

# config._properties['timePartitioning'] = {'field': 'Month_Year'}
config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE

Table_BQ = 'ADC.Customer_Segment'

bq_table_instance= bq_client.load_table_from_dataframe(Merge_DF_3, Table_BQ,job_config=config)

In [ ]:
# Device_types_SQL='''

# select * from `divgpras-pr-579355.ADC.Device_Type_mapping`

# '''

# Device_type_df= extract_bq_data(bq_client, sql=Device_types_SQL)
# Device_type_df.info()

In [ ]:
# feature_cols=Device_type_df.drop('customer_id',axis=1).columns.to_list()
# Device_type_df.columns=['customer_id']+['device_type_'+ str(col) for col in feature_cols]
# Device_type_df['Device_Flag']=1
# Merge_DF_4=Merge_DF_3.merge(Device_type_df,on='customer_id',how='left')
# Merge_DF_4['Device_Flag'].isna().sum()*100/Merge_DF_3.shape[0]
# Merge_DF_4['Device_Flag'].sum()

In [ ]:
# del Merge_DF, Merge_DF_1,Merge_DF_2

In [286]:
Telus_addrs='''


select bus_bacct_num,prov_state_cd from `cio-datahub-enterprise-pr-183a.ent_cust_cust.bq_biilg_acct_addr_snpsht`
where date(snapshot_load_dt)='2022-09-30'

'''

In [284]:
Telus_Addrs=extract_bq_data(bq_client, sql=Telus_addrs)

RefreshError: The credentials do not contain the necessary fields need to refresh the access token. You must specify refresh_token, token_uri, client_id, and client_secret.